.row-fluid
  .span12

= simple_nested_form_for @training do |f|
  = f.input :title, input_html: { class: 'span5' }
  = f.input :description, input_html: { rows: 3, class: 'span8' }
  = f.association :swimmer_level_type, collection: SwimmerLevelType.to_dropdown, prompt: I18n.t('trainings.chose_swimmer_level_type')

  %table.goggles-datagrid#training_rows
    %thead.goggles-datagrid
      %th.goggles-datagrid.goggles-mini= I18n.t('activerecord.attributes.training_rows.part_order')
      %th.goggles-datagrid= I18n.t('activerecord.models.training_step_type')
      %th.goggles-datagrid= I18n.t('activerecord.attributes.training_rows.times')
      %th.goggles-datagrid= I18n.t('activerecord.attributes.training_rows.distance')
      %th.goggles-datagrid= I18n.t('activerecord.attributes.training_rows.exercise')
      %th.goggles-datagrid= I18n.t('activerecord.attributes.training_rows.start_and_rest')
      %th.goggles-datagrid= I18n.t('activerecord.attributes.training_rows.pause')
    = f.fields_for :training_rows, :wrapper => false do |training_row_form|
      %tr.goggles-datagrid
        %td.goggles-datagrid.goggles-mini= training_row_form.input :part_order, label: false, wrapper: false, input_html: {class: 'goggles-datagrid'}
        %td.goggles-datagrid= training_row_form.association :training_step_type, label: false, wrapper: false, collection: TrainingStepType.to_dropdown, prompt: I18n.t('please_select'), input_html: {class: 'goggles-datagrid'}
        %td.goggles-datagrid= training_row_form.input :times, label: false, wrapper: false, input_html: {class: 'goggles-datagrid'}
        %td.goggles-datagrid= training_row_form.input :distance, label: false, wrapper: false, input_html: {class: 'goggles-datagrid'}
        %td.goggles-datagrid= training_row_form.association :exercise, label: false, wrapper: false, collection: Exercise.to_dropdown, prompt: I18n.t('trainings.chose_exercise'), input_html: {class: 'goggles-datagrid'}
        %td.goggles-datagrid= training_row_form.input :start_and_rest, label: false, wrapper: false, input_html: {class: 'goggles-datagrid'} #, hint: I18n.t('trainings.leave_zero_to_ignore')
        %td.goggles-datagrid= training_row_form.input :pause, label: false, wrapper: false, input_html: {class: 'goggles-datagrid'} #, hint: I18n.t('trainings.leave_zero_to_ignore')
        %td.goggles-datagrid= training_row_form.link_to_remove I18n.t(:delete)

  %p= f.link_to_add I18n.t(:add_new_row), :training_rows, :data => { :target => "#training_rows" }
  %p= f.button :submit

- #%script
- #  $('.controls').addClass('goggles-datagrid');
