.row-fluid
  .span12

= simple_nested_form_for @training do |f|
  = f.input :title, input_html: { class: 'span5' }
  = f.input :description, input_html: { rows: 3, class: 'span8' }
  = f.association :swimmer_level_type, collection: SwimmerLevelType.to_dropdown, prompt: I18n.t('trainings.chose_swimmer_level_type')
  #maxPartOrder{display: 'none'}= @training_max_part_order

  %table#training_rows
    %thead
      %th.goggles-w30= I18n.t('activerecord.attributes.training_rows.part_order')
      %th= I18n.t('activerecord.models.training_step_type')
      %th.goggles-w30= I18n.t('activerecord.attributes.training_rows.times')
      %th.goggles-w50= I18n.t('activerecord.attributes.training_rows.distance')
      %th= I18n.t('activerecord.attributes.training_rows.exercise')
      %th.goggles-w50= I18n.t('activerecord.attributes.training_rows.start_and_rest')
      %th.goggles-w50= I18n.t('activerecord.attributes.training_rows.pause')
    = f.fields_for :training_rows, :wrapper => false do |training_row_form|
      %tr
        %td.goggles-w30= training_row_form.input :part_order, label: false, wrapper: false, input_html: {class: 'autosequence'}
        %td= training_row_form.association :training_step_type, label: false, wrapper: false, collection: TrainingStepType.to_dropdown(nil,:id,:i18n_description), prompt: I18n.t('please_select')
        %td.goggles-w30= training_row_form.input :times, label: false, wrapper: false
        %td.goggles-w50= training_row_form.input :distance, label: false, wrapper: false
        %td= training_row_form.association :exercise, label: false, wrapper: false, collection: Exercise.to_dropdown, prompt: I18n.t('trainings.chose_exercise')
        %td
          = training_row_form.input :start_and_rest, label: false, wrapper: false do
            .goggles-w80= training_row_form.select :start_and_rest, (0.step(3600,5).collect{ |x| [(x > 0 ? sprintf("%2s\'%02.0f\"",x/60, x%60) : '-'), x] })
        %td
          = training_row_form.input :pause, label: false, wrapper: false do
            .goggles-w80= training_row_form.select :pause, (0.step(1800,5).collect{ |x| [(x > 0 ? sprintf("%2s\'%02.0f\"",x/60, x%60) : '-'), x] })
        %td= training_row_form.link_to_remove I18n.t(:delete)

  %p= f.link_to_add I18n.t(:add_new_row), :training_rows, :data => { :target => "#training_rows" }
  %p= f.button :submit

%script
  var maxSeq = Number( $('#maxPartOrder').html() );
  $(document).on('nested:fieldAdded', function(event){ var f=event.field; var seqField=f.find('.autosequence'); maxSeq+=1; seqField.val(maxSeq); });
