.row.col-xs-12
  &nbsp;

= simple_form_for @training do |f|
  = f.input :title, input_html: { class: 'col-xs-5' }
  = f.input :description, input_html: { rows: 3, class: 'col-xs-8' }
  = f.input :min_swimmer_level, as: :select, collection: [[I18n.t('trainings.chose_min_swimmer_level'), 0]] + ( SwimmerLevelType.to_dropdown(nil, :level) )
  = f.input :max_swimmer_level, as: :select, collection: [[I18n.t('trainings.chose_max_swimmer_level'), 0]] + ( SwimmerLevelType.to_dropdown(nil, :level) )

  .row.goggles-div-centeralign
    .col-xs-1
      %i= I18n.t('activerecord.attributes.training_rows.part_order') + ' / ' + I18n.t('trainings.group')
    .col-xs-2
      %i= I18n.t('activerecord.models.training_step_type')
    .col-xs-1
      %i= I18n.t('activerecord.attributes.training_rows.times')
    .col-xs-1
      %i= I18n.t('activerecord.attributes.training_rows.distance')
    .col-xs-4
      %i= I18n.t('activerecord.attributes.training_rows.exercise')
    .col-xs-1
      %i= I18n.t('activerecord.attributes.training_rows.start_and_rest')
    .col-xs-1
      %i= I18n.t('activerecord.attributes.training_rows.pause')
    .col-xs-1
      .toolTip{'data-toggle' => 'tooltip', 'title' => I18n.t('trainings.toggle_frames_tooltip') }
        = link_to( image_tag('shape_group.png'), '#', onclick: "$('.full_row').toggleClass('framed'); return false",  class: "nav_link" )
  %ul.droppable.sortable#training_rows
    = f.simple_fields_for :training_rows do |training_row_form|
      = render( 'training_row_fields', f: training_row_form )
  %p
  %p
    %i= "#{I18n.t(:drag_and_drop_to_sort_rows)} / "
    = link_to_add_association( I18n.t(:add_new_row), f, :training_rows, :data => {'association-insertion-node'=>'#training_rows', 'association-insertion-method'=>'append'} )
  %p= f.button :submit, I18n.t(:save)
  #maxPartOrder{'data-value' => @training_max_part_order || 0 }

.row.col-xs-12
  &nbsp;

%script
  $('.toolTip').tooltip({placement:'bottom'});

= javascript_include_tag 'training_row_form'
