.row-fluid
  .span3
    = link_to( trainings_path() ) do
      = image_tag('page_find.png')
      = I18n.t(:back_to_index_view)
  .span2
    = link_to( printout_training_path(@training.id) ) do
      = image_tag('page_white_acrobat.png')
      = I18n.t('agex_action.download_pdf')
  .span2
    - if (@training.user_id == current_user.id)
      = link_to( edit_training_path(@training.id) ) do
        = image_tag('page_edit.png')
        = I18n.t(:edit)
  .span2
    = link_to( duplicate_training_path(@training.id), :method => :post, :confirm => I18n.t(:are_you_sure, :scope => [:netzke,:basepack,:grid_panel]) ) do
      = I18n.t(:duplicate)

.accordion
  .accordion-group
    .accordion-heading.goggles-accordion-heading
      .row-fluid
        .span12
          %h3= @title
    .accordion-body
      .accordion-inner
        - if admin_signed_in?
          .row-fluid
            .span2
              = 'ID:'
            .span10
              = @training.id
        .row-fluid
          .span12
        .row-fluid
          .span2
            = I18n.t('activerecord.attributes.training.title') + ':'
          .span10
            = @training.title
        .row-fluid
          .span2
            = I18n.t('activerecord.attributes.training.description') + ':'
          .span10
            = @training.description
        .row-fluid
          .span2
            = I18n.t('activerecord.attributes.training.user') + ':'
          .span10
            = @training.get_user_name
        .row-fluid
          .span2
            = I18n.t('activerecord.models.swimmer_level_type') + ':'
          .span10
            = @training.get_swimmer_level_type_description
        .row-fluid
          .span2
            %i= I18n.t(:updated_at) + ':'
          .span10
            %i= Format.a_short_datetime( @training.updated_at )
        .row-fluid
          .span2
            = I18n.t('trainings.total_meters') + ':'
          .span10
            = @training.compute_total_distance

.row-fluid
  .span12
    - @training_rows.each do |training_row|
      .row-fluid
        - fields = training_row.to_array()
        .span2.goggles-training
          %pre= "#{fields[0]} #{fields[1]}"
        .span1.goggles-div-rightalign.goggles-training
          %pre= fields[2]
        .span9.goggles-training
          %pre= fields[3]
