.row
  .col-xs-3
    = link_to_trainings()
  .col-xs-2
    = link_to_training_printout( @training )
  .col-xs-2
    = link_to_training_edit( @training )
  .col-xs-2
    = link_to_training_duplicate( @training )

.row.col-xs-12
  &nbsp;

- # From down here to below we just need the decorated instance:
- @training = TrainingDecorator.decorate( @training )

.accordion
  .accordion-group
    .accordion-heading.goggles-accordion-heading
      .row
        .col-xs-12
          %h3= @title
    .accordion-body
      .accordion-inner
        .row
          .col-xs-3.col-sm-3.col-md-2
            = I18n.t('activerecord.attributes.training.title') + ':'
          .col-xs-9.col-sm-6.col-md-6
            = @training.title
        .row
          .col-xs-3.col-sm-3.col-md-2
            = I18n.t('activerecord.attributes.training.description') + ':'
          .col-xs-9.col-sm-6.col-md-6
            = @training.description
        .row
          .col-xs-3.col-sm-3.col-md-2
            = I18n.t('activerecord.attributes.training.user') + ':'
          .col-xs-9.col-sm-6.col-md-6
            = @training.get_user_name
        .row
          .col-xs-3.col-sm-3.col-md-2
            = I18n.t('activerecord.models.swimmer_level_type') + ':'
          .col-xs-9.col-sm-6.col-md-6
            = @training.get_swimmer_level_type(:i18n_description)
        .row
          .col-xs-3.col-sm-3.col-md-2
            %i= I18n.t(:updated_at) + ':'
          .col-xs-9.col-sm-6.col-md-6
            %i= Format.a_short_datetime( @training.updated_at )
        .row
          .col-xs-3.col-sm-3.col-md-2
            = I18n.t('trainings.total_meters') + ':'
          .col-xs-9.col-sm-6.col-md-6
            = @training.compute_total_distance
        .row
          .col-xs-3.col-sm-3.col-md-2
            = I18n.t('trainings.esteemed_timing') + ':'
          .col-xs-9.col-sm-6.col-md-6
            = Timing.to_hour_string( @training.compute_total_seconds() )

.row.col-xs-12
  &nbsp;

.row.col-xs-12
  - curr_group_id = old_group_id = 0
  - group_list_hash = @training.build_group_list_hash()
  - @training_rows.each do |training_row|
    - fields = training_row.to_array()
    - if (training_row.group_id > 0) && group_list_hash.has_key?( training_row.group_id )
      - curr_group_id = training_row.group_id
      - if old_group_id != curr_group_id          # Start of new group?
        - old_group_id     = curr_group_id
        - group_hash       = group_list_hash[ training_row.group_id ]
        - tot_group_secs   = TrainingRow.compute_total_seconds( group_hash[:datarows] )
        - tot_group_timing = Timing.to_minute_string( tot_group_secs )
        .row
          .col-xs-2.goggles-training
            %pre= "#{fields[0] } #{fields[1] }#{ tot_group_secs.to_i > 0 ? ' ('+tot_group_timing+')' : '' }"
          .col-xs-1.goggles-training
            %pre= "#{group_hash[:times] }x"
          - group_pause = group_hash[:pause].to_i
          - group_s_r   = group_hash[:start_and_rest].to_i
          - if ( group_pause > 0 || group_s_r > 0 )
            .col-xs-2.goggles-training
              %pre= "#{ Timing.to_formatted_start_and_rest( group_s_r ) } #{ Timing.to_formatted_pause( group_pause ) }"
        .row
          .col-xs-offset-2.col-xs-1.goggles-div-rightalign.goggles-training
            %pre= "(+)#{ fields[3] }"
          .col-xs-9.goggles-training
            %pre= fields[4]
      - else                                      # Same old group?
        .row
          .col-xs-offset-2.col-xs-1.goggles-div-rightalign.goggles-training
            %pre= "(+)#{ fields[3] }"
          .col-xs-9.goggles-training
            %pre= fields[4]
    - else                                        # Not in a group?
      - curr_group_id = 0
      .row
        .col-xs-3.col-sm-2.col-md-2.goggles-training
          %pre
            = "#{fields[0] } #{fields[1] }#{ Timing.to_minute_string(fields[2]).empty? ? '' : ' ('+Timing.to_minute_string(fields[2])+')' }"
        .col-xs-2.col-sm-2.col-md-1.goggles-div-rightalign.goggles-training
          %pre= fields[3]
        .col-xs-7.col-sm-8.col-md-9.goggles-training
          %pre= fields[4]
