%ul.nav.nav-tabs#topOfPage
  - is_active = ( params[:action] == 'radio' )
  %li{ class: is_active ? 'active' : '' }
    = link_to( t('radiography.radio_tab'),                  is_active ? '#' : team_radio_path(id: @team.id) )
  - is_active = ( params[:action] == 'current_swimmers' )
  %li{ class: is_active ? 'active' : '' }
    = link_to( t('radiography.team_current_swimmers_tab'),  is_active ? '#' : team_current_swimmers_path(id: @team.id) )
  - is_active = ( params[:action] == 'best_timings' )
  %li{ class: is_active ? 'active' : '' }
    = link_to( t('radiography.best_timings_tab'),           is_active ? '#' : team_best_timings_path(id: @team.id) )
  - is_active = ( params[:action] == 'palmares' )
  %li{ class: is_active ? 'active' : '' }
    = link_to( t('radiography.palmares_tab'),               is_active ? '#' : team_palmares_path(id: @team.id) )
  - is_active = ( params[:action] == 'goggle_cup' )
  %li{ class: is_active ? 'active' : '' }
    = link_to( @team.get_current_goggle_cup_name_at,        is_active ? '#' : team_goggle_cup_path(id: @team.id) )
  - if @team.goggle_cups.count > 1
    - is_active = ( params[:action] == 'goggle_cup_all_of_fame' )
    %li{ class: is_active ? 'active' : '' }
      = link_to( t('radiography.goggle_cup_all_of_fame_tab'), is_active ? '#' : team_goggle_cup_all_of_fame_path(id: @team.id) )

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    %h4
      = I18n.t('radiography.radio_tab') + ' -- '
      = I18n.t('radiography.team_radio_tab_title').gsub('{TEAM_NAME}', @team.get_full_name)
