= render( partial: 'tabs_and_title' )

/ "Add badge" button only for team managers:
- if @is_valid_team_manager
  = link_to(badge_edit_form_path(team_id: @team.id), { class: "btn btn-primary btn-md", remote: true, |
            onclick: "$('#newBadgeDialogBtnSpinner').removeClass('hidden');" }) do |
    = I18n.t('badge.management.create_new_badge_label')
    &nbsp;
    %span#newBadgeDialogBtnSpinner.hidden
      %i.fa.fa-spinner.fa-spin.fa-fw
  / Top placeholder for badge creation form:
  #rowBadgeEditForm-0
  %hr

- cache( cache_key_for_team( 'current_swimmers', @team.id, @max_updated_at ) ) do
  - if @swimmers.size > 0
    .row
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td.text-center
              %b= I18n.t(:name)
            %td.text-center
              %b= I18n.t('swimmers.year_of_birth')
            %td.text-center
              %b= I18n.t('swimmers.age_current')
            - @affiliations.each do |team_affiliation|
              %td.text-center
                %b= team_affiliation.season.federation_type.get_short_name
                = " (#{I18n.t('meetings')})"
            %td.text-center
              %b= I18n.t('radiography.meeting_presence')
            %td.text-center
              %b= I18n.t('swimmers.events_attended')
          - @swimmers.each do |swimmer|
            - swimmer = swimmer.decorate
            %tr
              %td.goggles-td.goggles-rightalign
                = swimmer.get_linked_swimmer_name
              %td.goggles-td.text-center
                = swimmer.year_of_birth
              %td.goggles-td.text-center
                = Date::today.year - swimmer.year_of_birth
              - @affiliations.each do |team_affiliation|
                - badge = swimmer.badges.for_team_affiliation(team_affiliation).first if swimmer.badges.for_team_affiliation(team_affiliation).exists?
                %td.goggles-div-centeralign{'data-toggle'=>'tooltip', 'title'=> badge ? "#{badge.category_type.code} - #{badge.number}" : 'N/A' }
                  - if badge
                    = show_tag( badge )
                    = " (#{badge.meeting_individual_results.joins(:meeting).includes(:meeting).select('meetings.id').uniq.count})"
                    / Add a command button column if you are a team manager:
                    - if @is_valid_team_manager
                      = link_to(badge_edit_form_path(team_id: @team.id, badge_id: badge.id),  |
                                { class: "btn btn-default btn-sm", remote: true,              |
                                onclick: "$('#rowBadgeEditFormContainer-#{swimmer.id}').removeClass('hidden');" }) do |
                        %span
                          %i.fa.fa-edit
              %td.goggles-td.goggles-rightalign
                = count_with_small_star( swimmer.meeting_individual_results.for_team( @team ).joins(:meeting).select('meetings.id').uniq.count, 50, :left )
              %td.goggles-td.goggles-rightalign
                = count_with_small_star( swimmer.meeting_individual_results.for_team( @team ).count + swimmer.meeting_relay_results.for_team( @team ).count, 100, :left )
            - if @is_valid_team_manager
              / In-row placeholder for badge edit form:
              %tr{ id: "rowBadgeEditFormContainer-#{swimmer.id}", class: 'hidden' }
                %td{ colspan: 5 + @affiliations.count }
                  %div{ id: "rowBadgeEditForm-#{swimmer.id}" }
                    %span
                      %i.fa.fa-spinner.fa-spin.fa-fw
  .col-xs-12
    %i
      = I18n.t('meeting_team_score.team_total_athletes_for_current_year') + ": "
      = @swimmers.size
  .col-xs-12
    &nbsp;
