= render( partial: 'tabs_and_title' )

/ "Add badge" button only for team managers:
- if @is_valid_team_manager
  = link_to(badge_edit_form_path(team_id: @team.id), { class: "btn btn-primary btn-md", remote: true, |
            onclick: "$('#newBadgeDialogBtnSpinner').removeClass('hidden');" }) do |
    = I18n.t('badge.management.create_new_badge_label')
    &nbsp;
    %span#newBadgeDialogBtnSpinner.hidden
      %i.fa.fa-spinner.fa-spin.fa-fw
  / Top placeholder for badge creation form:
  #rowBadgeEditForm-0
  %hr

- page_name = 'current_swimmers'
- page_name += '_manageable' if @is_valid_team_manager
- totals = {}
- cache( cache_key_for_team( page_name, @team.id, @max_updated_at ) ) do
  - if @current_swimmers.swimmers.size > 0
    .row
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td.text-center{rowspan: 2}
              %b= I18n.t(:name)
            %td.text-center{rowspan: 2}
              %b= I18n.t('swimmers.year_of_birth')
            %td.text-center#goggles-border-rx-thick{rowspan: 2}
              %b= I18n.t('swimmers.age_current')

            - @current_swimmers.affiliations.keys.each do |federation_code|
              - totals[federation_code] = 0
              %td.text-center#goggles-border-rx-thick{colspan: 4}
                %b= federation_code

            %td.text-center{rowspan: 2}
              %b= I18n.t('team_management.meeting_for_team')
          %tr{'class'=>'info'}
            - @current_swimmers.affiliations.keys.each do |federation_code|
              %td.text-center
                %b= I18n.t('team_management.badge_number')
              %td.text-center
                %b= I18n.t('team_management.category_code')
              %td.text-center
                %b= I18n.t('team_management.presence')
              %td.text-center#goggles-border-rx-thick
                - if @is_valid_team_manager
                  %b= I18n.t('team_management.edit')
                - else
                  = ''

          - @swimmers.values.each do |swimmer|
            %tr
              %td.goggles-td.goggles-rightalign
                %b= link_to( swimmer.swimmer_name, swimmer_presence_path(id: swimmer.swimmer_id), { 'data-toggle'=>'tooltip', 'title'=>I18n.t('team_management.presence_link') } )
              %td.goggles-td.text-center
                = swimmer.swimmer_year
              %td.goggles-td.text-center#goggles-border-rx-thick
                = Date::today.year - swimmer.swimmer_year
              - @current_swimmers.affiliations.keys.each do |federation_code|
                - badge = swimmer.get_badge(federation_code)
                - if badge
                  - totals[federation_code] += 1
                  %td.goggles-centeralign
                    = badge.badge_number
                  %td.goggles-centeralign
                    = badge.category_code
                  %td.goggles-centeralign
                    = badge.meetings_count
                  %td.goggles-centeralign#goggles-border-rx-thick
                    / Add a command button column if you are a team manager:
                    - if @is_valid_team_manager
                      = link_to(badge_edit_form_path(team_id: @team.id, badge_id: badge.badge_id),  |
                                { class: "btn btn-default btn-sm", remote: true,              |
                                onclick: "$('#rowBadgeEditFormContainer-#{swimmer.swimmer_id}').removeClass('hidden');" }) do |
                        %span
                          %i.fa.fa-edit
                - else
                  %td.goggles-centeralign#goggles-border-rx-thick{colspan: 4}
                    = '--'
              %td.goggles-td.goggles-rightalign
                = count_with_small_star( swimmer.meetings_total, 50, :left )
            - if @is_valid_team_manager
              / In-row placeholder for badge edit form:
              %tr{ id: "rowBadgeEditFormContainer-#{swimmer.swimmer_id}", class: 'hidden' }
                %td{ colspan: 5 + @current_swimmers.affiliations.count }
                  %div{ id: "rowBadgeEditForm-#{swimmer.swimmer_id}" }
                    %span
                      %i.fa.fa-spinner.fa-spin.fa-fw
          %tr{'class'=>'success'}
            %td.text-right{colspan: 2}
              %b= I18n.t('meeting_team_score.team_total_athletes_for_current_year') + ": "
            %td.text-right#goggles-border-rx-thick
              %b= @swimmers.size

            - @current_swimmers.affiliations.keys.each do |federation_code|
              %td.text-right{colspan: 2}
                %b= federation_code
              %td.text-right#goggles-border-rx-thick{colspan: 2}
                %b= totals[federation_code]
            %td
              %b= ''

  .col-xs-12
    &nbsp;
