= render( partial: 'tabs_and_radio_title' )

.row-fluid
  .span4.goggles-div-centeralign
    = "#{ I18n.t(:name) }:"
  .span1.goggles-div-centeralign
    = "#{ I18n.t('swimmers.meeting_presence') }:"
  .span1.goggles-div-centeralign
    = "#{ I18n.t('swimmers.events_attended') }:"
- @swimmers.each do |swimmer|
  .row-fluid
    .span4
      = link_to( swimmer.get_verbose_name, swimmer_radio_path(id: swimmer.id), { 'data-toggle'=>'tooltip', 'title'=>I18n.t('radiography.radio_tab_tooltip') } )
      = " (id=#{swimmer.id})" if admin_signed_in?
    .span1.goggles-div-rightalign
      = count_with_small_star( swimmer.meetings.uniq.count, 50, :left )
    .span1.goggles-div-rightalign
      = count_with_small_star( swimmer.meeting_individual_results.count + swimmer.meeting_relay_swimmers.count, 100, :left )

.row-fluid
  %p
