= render( partial: 'tabs_and_title' )

.col-xs-12#goggle_cup_presentation
  .col-xs-offset-1.col-xs-10
    %p
      %b= @goggle_cup_name
      = I18n.t('goggle_cup.presentation.part1')
      = I18n.t('goggle_cup.presentation.part2')
      = I18n.t('goggle_cup.presentation.part3')
      = I18n.t('goggle_cup.presentation.part4')

- if @goggle_cup
  .col-xs-12.table-responsive#goggle_cup_grid
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td.text-center
            %b= I18n.t('rank')
          %td.text-center
            %b= I18n.t('activerecord.models.swimmer')
          %td.text-center
            %b= I18n.t('total')
          %td.text-center
            %b= I18n.t('goggle_cup.count')
          %td.text-center
            %b= I18n.t('average')
          %td.text-center
            %b= I18n.t('max')
          %td.text-center
            %b= I18n.t('min')
        - previous_score = 0
        - rank = 0
        - @goggle_cup_rank.each_with_index do |rank_element,index|
          %tr
            %td.goggles-rightalign
              - rank += 1 if ( previous_score != rank_element[:total] )
              = show_tag( rank==1, "medal_gold_3.png", '' )
              = show_tag( rank==2, "medal_silver_3.png", '' )
              = show_tag( rank==3, "medal_bronze_3.png", '' )
              = rank
            %td
              = rank_element[:swimmer].decorate.get_linked_swimmer_name_to_goggle_cup
            %td.goggles-rightalign
              %b= sprintf( "%02.2f", rank_element[:total] )
              - previous_score = rank_element[:total]
            %td.goggles-centeralign
              = rank_element[:count]
            %td.goggles-rightalign
              = sprintf( "%02.2f", rank_element[:average] )
            %td.goggles-rightalign
              = sprintf( "%02.2f", rank_element[:max] )
            %td.goggles-rightalign
              = sprintf( "%02.2f", rank_element[:min] )
- else
  = render( partial: 'goggles/no_goggle_cup_found' )

.col-xs-12
  &nbsp;

.col-xs-12#goggle_cup_rules
  %h3= I18n.t('goggle_cup.rules_title')
  %p
    = I18n.t( 'goggle_cup.rules.part1', gogglecup_name: @goggle_cup_name, team_name: @team.get_full_name )
    = I18n.t( 'goggle_cup.rules.part2', gogglecup_name: @goggle_cup_name, max_performance: @goggle_cup_max_performance )
    = I18n.t( 'goggle_cup.rules.part3' )
    = I18n.t( 'goggle_cup.rules.part4' )
    = I18n.t( 'goggle_cup.rules.part5', max_points: @goggle_cup_max_points )
    = I18n.t( 'goggle_cup.rules.part6', max_points: @goggle_cup_max_points )
    = I18n.t( 'goggle_cup.rules.part7', max_points: @goggle_cup_max_points )

.col-xs-12
  &nbsp;
