%ul.nav.nav-tabs#topOfPage
  %li.active
    = link_to( t('radiography.radio_tab'), '#' )
  %li
    = link_to( t('radiography.team_current_swimmers_tab'), team_current_swimmers_path(id: @team.id) )
  %li
    = link_to( t('radiography.best_timings_tab'), team_best_timings_path(id: @team.id) )
  %li
    = link_to( t('radiography.palmares_tab'), team_palmares_path(id: @team.id) )

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    %h4
      = I18n.t('radiography.radio_tab') + ' -- '
      = I18n.t('radiography.team_radio_tab_title').gsub('{TEAM_NAME}', @team.get_full_name)
  .row-fluid
    .row-fluid
      .span3
        = "#{ I18n.t(:name) }:"
      .span9
        %b= @team.get_full_name
        = admin_signed_in? ? " (id=#{@team.id})" : ''
    .row-fluid
      .span3
        = "#{ I18n.t('address') }:"
      .span9
        = @team.get_complete_address
    .row-fluid
      .span3
        = "#{ I18n.t('contacts') }:"
      .span9
        = @team.get_contacts.html_safe
    .row-fluid
      .span3
        = "#{ I18n.t('home_site') }:"
      .span9
        = @team.get_home_site.html_safe
    .row-fluid
      .span3
        = "#{ I18n.t('team.affiliations') }:"
      .span9
        = @team.get_season_type_list
    .row-fluid
      .span3
        = "#{ I18n.t('radiography.last_meeting') }:"
      .span9
        = @team.get_last_meeting_name.html_safe
  .row-fluid
    %p

  .row-fluid
    = link_to( t('team.all_races'), meetings_custom_search_path( text: @team.get_full_name, team_id: @team.id ), {class: "btn"} )
  .row-fluid
    %p
