%a{'id'=>"swimmer#{ badge.swimmer_id }", 'href'=>"#{ swimmer_radio_path(id: badge.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('radiography.radio_tab_tooltip')}
  %b= badge.swimmer.get_full_name
- if is_invalid_team_manager                        # Hide team manager controls for standard gogglers:
  %br/
  %small
    %i
      = reservation.is_not_coming ? I18n.t('meeting_reservation.not_coming') : I18n.t('meeting_reservation.coming')
      = I18n.t('meeting_reservation.add_maybe') if !reservation.has_confirmed
- else                                  # Show full controls for team managers:
  .row-fluid
    - skip_dom_id = "skip#{ badge.id }"
    .switch-box.is-danger
      %input{ id: skip_dom_id, class: "switch-box-input", type: "checkbox",     |
              disabled: is_invalid_team_manager,                                |
              checked: reservation.is_not_coming,                               |
              onclick: "toggleSkipRowControls( #{ badge.id } );" }              |
      %label{ for: skip_dom_id, class: "switch-box-slider" }
      %label{ for: skip_dom_id, class: "switch-box-label" }
        %small
          %i= I18n.t('meeting_reservation.is_not_coming')
  .row-fluid
    - confirm_dom_id = "confirm#{ badge.id }"
    .switch-box.is-success
      %input{ id: confirm_dom_id, class: "switch-box-input", type: "checkbox",  |
              disabled: is_invalid_team_manager,                                |
              checked: reservation.has_confirmed,                               |
              onclick: "toggleConfirmSwitchValue( #{ badge.id } );" }           |
      %label{ for: confirm_dom_id, class: "switch-box-slider" }
      %label{ for: confirm_dom_id, class: "switch-box-label" }
        %small
          %i= I18n.t('meeting_reservation.has_confirmed')
