%tr#header_row
  - session_dates   = first_reservation.map{ |re| Format.a_date(re.meeting_session.scheduled_date) + ' ' + Format.a_time(re.meeting_session.begin_time) }
  -# XXX Some Meeting sessions have been found with nil day_part_type_id! DEFAULT: code: 'M'
  - session_orders  = first_reservation.map{ |re| "(#{ I18n.t('activerecord.models.session') } #{ re.meeting_session.session_order }) #{ re.meeting_session.day_part_type_id.nil? ? '???' : DayPartType.new(code: re.meeting_session.day_part_type.code).i18n_short }" }
  - uniq_dates  = session_dates.uniq
  - uniq_orders = session_orders.uniq
  -# Common header #1: session order + day part type
  -# Leega - Disabled second header row (too verbose)
  - if false
    %tr.success.text-center
      %td{ colspan: 2 }
      - tot_columns = uniq_orders.map{ |order| session_orders.count(order) }
      - uniq_orders.each_with_index do |session_order, index|
        -# Avoid a thick border on the last column:
        - is_not_last_item = index+1 < uniq_orders.count
        %td{ colspan: tot_columns[index], id: (is_not_last_item ? "goggles-border-rx-thick" : nil) }
          %i= session_order
      - if add_notes_column
        %td
          &nbsp;
  -# Common header #2: session date
  %tr.success.text-center
    %td{ colspan: 2 }
      &nbsp;
    - tot_columns = uniq_dates.map{ |date| session_dates.count(date) }
    - uniq_dates.each_with_index do |session_date, index|
      -# Avoid a thick border on the last column:
      - is_not_last_item = index+1 < uniq_dates.count
      %td{ colspan: tot_columns[index], id: (is_not_last_item ? "goggles-border-rx-thick" : nil) }
        %i= session_date
    - if add_notes_column
      %td
        &nbsp;
  -# Common header #3: event title
  %tr.success.text-center
    %td{ colspan: 2 }
      %i= I18n.t('meeting_stats.swimmers')
    - curr_session_order = 1
    - first_reservation.each do |event_reservation|
      - if event_reservation.meeting_session.session_order > curr_session_order
        - curr_session_order = event_reservation.meeting_session.session_order
        %td#goggles-border-lx-thick
          %b= event_reservation.event_type.i18n_short
      - else
        %td
          %b= event_reservation.event_type.i18n_short
    - if add_notes_column
      %td
        %i= I18n.t('meeting_reservation.free_notes')
