%h3#individual_list= t('meeting_reservation.show_event_list_title')
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tbody
    = render( partial: 'meeting_schedule', locals: { meeting: @meeting, individuals: true, relays: false, add_notes_column: false, suppress_sessions: false } )
    -# Event Data rows:
    - event_res_count = 0
    - @mrsdao.reservations.values.each do |swimmer|
      %tr
        %td{ colspan: 2, class: 'info', id: "goggles-border-rx-thick" }
          %a{'id'=>"swimmer#{swimmer.swimmer_id}", 'href'=>"#{ swimmer_radio_path(id: swimmer.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('radiography.radio_tab_tooltip')}
            %b= swimmer.swimmer_name
          &nbsp;
          %small
            %i
              = I18n.t('meeting_reservation.add_maybe') if !swimmer.has_confirmed
        - @msdao.get_session_keys.each do |session_key|
          - mss = @msdao.get_session( session_key )
          - num = 0
          - mss.get_event_keys.each do |event_key|
            - msse = mss.get_event( event_key )
            - if !msse.is_a_relay
              - num += 1
              %td.goggles-rightalign{ class: (msse.is_out_of_race ? "warning" : nil ), id: (num == mss.individuals ? "goggles-border-rx-thick" : nil) }
                - sir = swimmer.get_individual_reservation(msse.event_code)
                - if sir
                  - event_res_count += 1
                  = sir.get_timing
    = render( partial: 'meeting_schedule', locals: { meeting: @meeting, individuals: true, relays: false, add_notes_column: false, suppress_sessions: true } )

.col-xs-4.goggles-category-gap#individual_summary
  %h4= t('meeting_reservation.show_event_list_summary')
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr
        %td
          %b= t('meeting_stats.swimmers')
        %td.goggles-rightalign
          %b= @mrsdao.reservations.size
      %tr
        %td
          %b= t('meeting_stats.tot_athletes_by_event')
        %td.goggles-rightalign
          %b= event_res_count
      - total_individual_costs = 0.00
      - total_individual_costs += (event_res_count * @mrsdao.meeting.event_fee) if @mrsdao.meeting.event_fee
      - total_individual_costs += (@mrsdao.reservations.size * @mrsdao.meeting.meeting_fee) if @mrsdao.meeting.meeting_fee
      - if total_individual_costs > 0
        %tr
          %td
            %b= t('meeting_reservation.tot_individual_costs')
          %td.goggles-rightalign
            %b= sprintf( "%02.2f", total_individual_costs )
