- #.row{ class: @msdao.sessions.size < 3 ? 'col-xs-6' : '' }
%h3= t('meeting_reservation.show_relay_list_title')
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tbody
    = render( partial: 'meeting_schedule', locals: { meeting: @meeting, individuals: false, relays: true, add_notes_column: false, suppress_sessions: false } )
    -# Relay Data rows:

    - event_res_count = 0
    - @mrsdao.reservations.values.each do |swimmer|
      - if swimmer.relay_reservations.size > 0
        %tr
          %td{ colspan: 2, class: 'info', id: "goggles-border-rx-thick" }
            %a{'id'=>"swimmer#{swimmer.swimmer_id}", 'href'=>"#{ swimmer_radio_path(id: swimmer.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('radiography.radio_tab_tooltip')}
              %b= swimmer.swimmer_name
            &nbsp;
            %small
              %i
                = I18n.t('meeting_reservation.add_maybe') if !swimmer.has_confirmed
          - @msdao.get_session_keys.each do |session_key|
            - mss = @msdao.get_session( session_key )
            - num = 0
            - mss.get_event_keys.each do |event_key|
              - msse = mss.get_event( event_key )
              - if msse.is_a_relay
                - num += 1
                %td.goggles-centeralign{ class: (msse.is_out_of_race ? "warning" : nil ), id: (num == mss.relays ? "goggles-border-rx-thick" : nil) }
                  - sir = swimmer.get_relay_reservation(msse.event_code)
                  - if sir
                    - event_res_count += 1
                    = show_tag( true )
    = render( partial: 'meeting_schedule', locals: { meeting: @meeting, individuals: false, relays: true, add_notes_column: false, suppress_sessions: true } )
