%h3= t('meeting_reservation.show_event_list_title')
%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tbody
    = render( partial: 'header_row', locals: { meeting: @meeting, filter: :are_not_relays, add_notes_column: false } )
    -# Event Data rows:
    - swimmers_count = 0
    - event_res_count = 0
    - event_stats = {}
    - @event_list.each do |meeting_event|
      - event_stats[meeting_event.event_type.code] = 0
    - @meeting_reservations.each do |reservation|
      -# Avoid showing rows for people who are not coming:
      - unless reservation.is_not_coming || (! @reservations_events[reservation.id].any?{ |row| row.is_doing_this? })
        - swimmers_count += 1
        %tr
          %td{ colspan: 2, class: 'info' }
            %a{'id'=>"swimmer#{reservation.swimmer_id}", 'href'=>"#{ swimmer_radio_path(id: reservation.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('radiography.radio_tab_tooltip')}
              %b= reservation.swimmer.get_full_name
            &nbsp;
            %small
              %i
                = I18n.t('meeting_reservation.add_maybe') if !reservation.has_confirmed?

          - @meeting.meeting_events.are_not_relays.each do |meeting_event|
            - event_reservation = @reservations_events[ reservation.id ].find{ |row| row.meeting_event_id == meeting_event.id }
            %td{ 'data-toggle'=>'tooltip', 'title'=> "#{ meeting_event.event_type.i18n_short }, #{ reservation.swimmer.get_full_name }" }
              .text-center
                - if event_reservation && event_reservation.is_doing_this?
                  = event_reservation.get_timing
                  - event_stats[meeting_event.event_type.code] += 1 
                - else
                  = "-"
          -# %td
          -#   %small
          -#     %i= reservation.notes
    %tr.success
      %td{ colspan: 2 }
        %b= t('total')
      - event_stats.each_value do |total|
        - event_res_count += total
        %td.goggles-centeralign
          %b= total
    %tr.success
      %td
        %b= t('meeting_stats.swimmers')
      %td.goggles-rightalign
        %b= swimmers_count
    %tr.success
      %td
        %b= t('meeting_stats.tot_athletes_by_event')
      %td.goggles-rightalign
        %b= event_res_count
