= render( partial: 'tabs_and_title' )
= render( partial: 'goggles/spinner_modal_overflow' )


%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tbody
    = render( partial: 'header_row', locals: { meeting: @meeting, filter: :only_relays, add_notes_column: true } )

    - @badges_list.each do |badge|
      - reservation = find_or_new_badge_reservation( current_user, @meeting, @team_affiliation, badge )

      -# Avoid showing rows for people who's not coming:
      - if @is_valid_team_manager || ( @swimmer && (@swimmer.id == reservation.swimmer_id))
        %tr
          %td{ colspan: 2, class: 'info' }
            = render( partial: 'header_row_first_cell', locals: { badge: badge, reservation: reservation, is_invalid_team_manager: !@is_valid_team_manager } )

          -# Only team managers can edit any row; a simple swimmer can edit only his/her own row.
          -# (if the reservation hasn't been already confirmed to the manager and the meeting
          -#  is still manageable)
          -# At the same time, row controls are editable only if the reservation hasn't been already confirmed or if the swimmer is not coming to the meeting
          - can_edit_events = (!reservation.has_confirmed) && (!reservation.is_not_coming) && TeamManagerValidator.is_reservation_manageable?( @meeting ) && (@is_valid_team_manager || ( @swimmer && (@swimmer.id == reservation.swimmer_id)))

          - @event_list.each do |event|
            - event_reservation = find_or_new_meeting_relay_reservation( current_user, @meeting, @team_affiliation, badge, event )
            - chkbox_id = "chk#{ badge.id }_#{ event.id }"
            %td{ 'data-toggle'=>'tooltip', 'title'=> event_reservation.event_type.i18n_short }
              .text-center
                .switch-box.is-success
                  %input{ id: chkbox_id, class: "switch-box-input resRow#{ badge.id }", |
                          type: "checkbox", disabled: !can_edit_events,                 |
                          checked: event_reservation.is_doing_this,                     |
                          onclick: "toggleRelaySwitchValue(\"#{ badge.id }\", \"#{ event.id }\" );" |
                  }                                                                     |
                  %label{ for: chkbox_id, class: "switch-box-slider" }

              .text-center
                - default_code = event_reservation.is_doing_this && (event_reservation.notes.to_s.size > 0) ? event_reservation.notes.to_s.split(';').first : nil
                - default_num  = event_reservation.is_doing_this && (event_reservation.notes.to_s.size > 0) ? event_reservation.notes.to_s.split(';').last.to_i : nil
                .col-xs-7
                  %i= I18n.t('meeting_reservation.relay_codename_short_title')
                  = text_field_tag( "code#{ badge.id }_#{ event.id }",                    |
                    default_code,                                                         |
                    maxlength: 5,                                                         |
                    class:      "relay-notes form-control",                               |
                    disabled:   !can_edit_events,                                         |
                    onfocusout: "updateRelayNoteValues(\"#{ badge.id }\", \"#{ event.id }\");", |
                    onchange:   "updateRelayNoteValues(\"#{ badge.id }\", \"#{ event.id }\");", |
                    'data-value'   => default_code,                                       |
                    'data-relcode' => default_code,                                       |
                    'data-relnum'  => default_num,                                        |
                    'data-toggle'  =>'tooltip',                                           |
                    'title'=> "#{ event_reservation.event_type.i18n_short }, #{ I18n.t('meeting_reservation.relay_codename_tooltip') }" ) |
                .col-xs-5
                  %i= I18n.t('meeting_reservation.relay_order_short_title')
                  = number_field_tag( "num#{ badge.id }_#{ event.id }",                   |
                    default_num,                                                          |
                    within: 1...8,                                                        |
                    class:      "form-control",                                           |
                    disabled:   !can_edit_events,                                         |
                    onfocusout: "updateRelayNoteValues(\"#{ badge.id }\", \"#{ event.id }\");", |
                    onchange:   "updateRelayNoteValues(\"#{ badge.id }\", \"#{ event.id }\");", |
                    'data-value'   => default_num,                                        |
                    'data-relcode' => default_code,                                       |
                    'data-relnum'  => default_num,                                        |
                    'data-toggle'  => 'tooltip',                                          |
                    'title'=> "#{ event_reservation.event_type.i18n_short }, #{ I18n.t('meeting_reservation.relay_order_tooltip') }" ) |

          %td
            = render( partial: 'edit_cell_notes', locals: { badge_id: badge.id, default_value: reservation.notes, is_disabled: !can_edit_events } )

= render( partial: 'footer_row_with_js', locals: { meeting_id: @meeting.id } )
