-# --- Header with unique ID for each starting event_type "group":
.span10
  - @meeting_events_list.each do |meeting_event|
    = render( partial: 'show_full_sub_legend', locals: { meeting_event: meeting_event } )
    - is_a_relay = meeting_event.event_type.is_a_relay
    - if meeting_event.meeting_programs.includes(:meeting_individual_results).joins(:meeting_individual_results).count > 0
      - meeting_event.meeting_programs.includes(:category_type, :gender_type).order('category_types.id').each do |meeting_program|
        %div{'class'=>"goggles-category-gap", 'id'=>"mprg#{meeting_program.id}"}
          %table.table.table-striped.table-bordered.table-hover.table-condensed
            %tbody
              %tr{'class'=>"#{is_a_relay ? 'success' : 'info'}"}
                %td{'colspan'=>'7'}
                  = link_to("##{meeting_event.event_type.code}", {'data-turbolinks'=>'false'}) do
                    %b= meeting_program.get_complete_event_name
                - if @meeting.has_start_list and !is_a_relay
                  %td.goggles-rightalign
                    = '(' + t('meeting.entry_time') + ')'
              - unless is_a_relay
                - meeting_program.meeting_individual_results.sort_by_timing.each do |individual_result|
                  - is_highlighted = (@team && @team.id.to_i == individual_result.team_id) || (@swimmer && @swimmer.id.to_i == individual_result.swimmer_id)
                  = render( partial: 'show_full_individual_result', locals: { individual_result: individual_result, is_highlighted: is_highlighted } )

    - if meeting_event.meeting_programs.includes(:meeting_relay_results).joins(:meeting_relay_results).count > 0
      - meeting_event.meeting_programs.includes(:category_type, :gender_type).order('category_types.id').each do |meeting_program|
        %div{'class'=>"goggles-category-gap", 'id'=>"mprg#{meeting_program.id}"}
          %table.table.table-striped.table-bordered.table-hover.table-condensed
            %tbody
              %tr{'class'=>"#{is_a_relay ? 'success' : 'info'}"}
                %td{'colspan'=>'7'}
                  = link_to("##{meeting_event.event_type.code}", {'data-turbolinks'=>'false'}) do
                    %b= meeting_program.get_complete_event_name
              -# --- Team Relay result rows:
              - if is_a_relay
                - meeting_program.meeting_relay_results.sort_by_timing.each do |relay_result|
                  = render( partial: 'show_full_relay_result', locals: { relay_result: relay_result } )
.row-fluid
  .span12
