.span10
  %div{'class'=>"goggles-category-gap"}
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        - @meeting_events_list.each do |meeting_event|
          - is_a_relay = meeting_event.event_type.is_a_relay
          -# --- Header with unique ID for each starting event_type "group":
          %tr{'class'=>"#{is_a_relay ? 'success' : 'info'}", 'id'=>"#{meeting_event.event_type.code}"}
            %td{'colspan'=>'6'}
              %b= meeting_event.event_type.i18n_description
              = admin_signed_in? ? " (meeting_events.id=#{meeting_event.id}" : ''
            - if @meeting.has_start_list and !is_a_relay
              %td.goggles-rightalign
                = '(' + t('meeting.entry_time') + ')'
          - # Individual results
          - unless is_a_relay
            - meeting_event.meeting_individual_results.for_team(@team).sort_by_swimmer.each do |individual_result|
              - mir = MeetingIndividualResultDecorator.decorate( individual_result )
              %tr
                %td.span4
                  %a{'id'=>"swimmer#{mir.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>@team.id, :swimmer_id=>mir.swimmer_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                    = mir.get_swimmer_name
                %td.span1
                  = mir.category_type_short_name
                %td.span1.goggles-rightalign
                  = mir.show_any_rank_medal
                  = mir.get_rank_description
                %td.span1.goggles-rightalign
                  = mir.get_timing
                %td.span1.goggles-rightalign
                  = mir.get_formatted_standard_points
                %td.span1.goggles-rightalign
                  = mir.get_formatted_individual_points
                - if @meeting.has_start_list
                  %td.span1.goggles-rightalign
                    - if @meeting.meeting_entries.where(['swimmer_id = ? AND meeting_program_id = ?', mir.swimmer_id, mir.meeting_program_id]).count > 0
                      = @meeting.meeting_entries.where(['swimmer_id = ? AND meeting_program_id = ?', mir.swimmer_id, mir.meeting_program_id]).first.get_timing
          -# --- Team Relay result rows:
          - if is_a_relay
            - meeting_event.meeting_relay_results.for_team(@team).sort_by_category.each do |relay_result|
              - mrr = MeetingRelayResultDecorator.decorate( relay_result )
              %tr
                %td
                  = mrr.get_team_name
                %td
                  = mrr.gender_type.code
                  = '-'
                  = mrr.category_type.short_name
                %td.goggles-rightalign
                  = mrr.show_any_rank_medal()
                  = mrr.get_rank_description
                %td.goggles-rightalign
                  = mrr.get_timing
                %td.goggles-rightalign
                  = mrr.get_formatted_standard_points
                %td.goggles-rightalign
                  = mrr.get_formatted_meeting_points
.row-fluid
  .span12
