%div.span10
  - remaining_programs_list = @meeting_programs_list
  - @meeting_programs_with_results.each do |meeting_program|
    - is_individual_result = (meeting_program.meeting_individual_results.size > 0)
    -# --- Header with unique ID for each starting event_type "group":
    - if ( remaining_programs_list.find{|event_type| event_type.id == meeting_program.event_type.id } )
      - remaining_programs_list.delete_if{|event_type| event_type.id == meeting_program.event_type.id }
      %div{'class'=>"goggles-category-gap", 'id'=>"#{meeting_program.event_type.code}"}
        %h3= meeting_program.event_type.i18n_description

    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>"#{is_individual_result ? 'info' : 'success'}"}
          %td{'colspan'=>'8'}
            %b= meeting_program.get_verbose_event_name
        -# --- Individual Detail result rows:
        - if is_individual_result
          - meeting_program.meeting_individual_results.each do |individual_result|
            %tr
              %td.goggles-rightalign
                = individual_result.rank
              %td
                = individual_result.get_athlete_name
              %td
                = individual_result.year_of_birth
              %td
                = individual_result.get_team_name
              %td.goggles-rightalign
                = individual_result.get_timing
              %td.goggles-rightalign
                = sprintf( "%02.2f", individual_result.standard_points )
              %td.goggles-rightalign
                = sprintf( "%02.2f", individual_result.meeting_individual_points )
              %td
                = show_tag( individual_result.rank==1 && individual_result.meeting_individual_points>0, "medal_gold_3.png" )
                = show_tag( individual_result.rank==2 && individual_result.meeting_individual_points>0, "medal_silver_3.png" )
                = show_tag( individual_result.rank==3 && individual_result.meeting_individual_points>0, "medal_bronze_3.png" )
        -# --- Team Relay result rows:
        - unless is_individual_result
          - meeting_program.meeting_relay_results.each do |relay_result|
            %tr
              %td.goggles-rightalign
                = relay_result.rank
              %td{'colspan'=>'3'}
                = relay_result.get_team_name
              %td.goggles-rightalign
                = relay_result.get_timing
              %td.goggles-rightalign
                = sprintf( "%02.2f", relay_result.meeting_points )
              %td.goggles-rightalign
                = sprintf( "%02.2f", relay_result.standard_points )
              %td
                = show_tag( relay_result.rank==1 && relay_result.meeting_points>0, "medal_gold_3.png" )
                = show_tag( relay_result.rank==2 && relay_result.meeting_points>0, "medal_silver_3.png" )
                = show_tag( relay_result.rank==3 && relay_result.meeting_points>0, "medal_bronze_3.png" )
