%div.span10
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    - remaining_programs_list = @meeting_programs_list
    %tbody
      - @meeting.meeting_programs.order(:event_order).each do |meeting_program|
        -# --- Header with unique ID for each starting event_type "group":
        - if ( remaining_programs_list.find{|event_type| event_type.id == meeting_program.event_type_id } )
          %tr.info
            %td{'colspan'=>'8', 'id'=>"#{meeting_program.event_type.code}"}
              %b= meeting_program.get_verbose_event_name
          - remaining_programs_list.delete_if{|event_type| event_type.id == meeting_program.event_type_id }
        - else
          %tr.info
            %td{'colspan'=>'8'}
              %b= meeting_program.get_verbose_event_name
        %tr.info
          %td{'colspan'=>'2'}
          %td.goggles-centeralign
            %i= I18n.t(:year_of_birth, {:scope=>[:activerecord, :attributes, :meeting_individual_result]})
          %td.goggles-centeralign
            %i= I18n.t(:team, {:scope=>[:activerecord, :models]})
          %td.goggles-centeralign
            %i= I18n.t(:timing, {:scope=>[:activerecord, :attributes, :meeting_individual_result]})
          %td.goggles-centeralign
            %i= I18n.t(:meeting_points, {:scope=>[:activerecord, :attributes, :meeting_individual_result]})
          %td.goggles-centeralign
            %i= I18n.t(:standard_points, {:scope=>[:activerecord, :attributes, :meeting_individual_result]})
          %td

        -# --- Detail result rows:
        - meeting_program.meeting_individual_results.each do |individual_result|
          %tr
            %td.goggles-rightalign
              = individual_result.rank
            %td
              = individual_result.athlete_name
            %td
              = individual_result.year_of_birth
            %td
              = individual_result.get_team_name
            %td.goggles-rightalign
              = individual_result.get_timing
            %td.goggles-rightalign
              = sprintf( "%02.2f", individual_result.meeting_points )
            %td.goggles-rightalign
              = sprintf( "%02.2f", individual_result.standard_points )
            %td
              = show_tag( individual_result.rank==1 && individual_result.meeting_points>0, "medal_gold_3.png" )
              = show_tag( individual_result.rank==2 && individual_result.meeting_points>0, "medal_silver_3.png" )
              = show_tag( individual_result.rank==3 && individual_result.meeting_points>0, "medal_bronze_3.png" )
        -# --- Additional separator row:
        %tr
          %td{'colspan'=>'8'}
