.span10
  - @meeting_events_list.each do |meeting_event|
    - is_a_relay = meeting_event.event_type.is_a_relay
    -# --- Header with unique ID for each starting event_type "group":
    %div{'class'=>"goggles-category-gap", 'id'=>"#{meeting_event.event_type.code}"}
      %h3= meeting_event.event_type.i18n_description
    -# --- Sub-legend for each category + gender
    = render( partial: 'show_full_sub_legend', locals: { meeting_event: meeting_event } )

    - meeting_event.meeting_programs.includes(:category_type, :gender_type).order('category_types.id').each do |meeting_program|
      %div{'class'=>"goggles-category-gap", 'id'=>"mprg#{meeting_program.id}"}
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr{'class'=>"#{is_a_relay ? 'success' : 'info'}"}
              %td{'colspan'=>'7'}
                %b= meeting_program.get_verbose_event_name
                = admin_signed_in? ? " (meeting_programs.id=#{meeting_program.id}, category_types.id=#{meeting_program.get_category_type_id})" : ''
            - unless is_a_relay
              - meeting_program.meeting_individual_results.order('meeting_individual_results.meeting_individual_points DESC, meeting_individual_results.rank ASC').each do |individual_result|
                - is_highlighted = (@preselected_team_id.to_i == individual_result.team_id) || (@preselected_swimmer_id.to_i == individual_result.swimmer_id)
                = render( partial: 'show_full_individual_result', locals: { individual_result: individual_result, is_highlighted: is_highlighted } )
            -# --- Team Relay result rows:
            - if is_a_relay
              - meeting_program.meeting_relay_results.order('meeting_relay_results.rank ASC, meeting_relay_results.meeting_points DESC').each do |relay_result|
                = render( partial: 'show_full_relay_result', locals: { relay_result: relay_result } )
.row-fluid
  .span12
