<div id="searchResults">
	<% unless @meetings.nil? -%>
		<div class="row-fluid span12">
			<div class="span2"><%= I18n.t(:season, {:scope=>[:activerecord, :models]}) %></div>
			<div class="span4"><%= I18n.t(:description) %></div>
			<div class="span2"><%= I18n.t(:entry_deadline, {:scope=>[:activerecord, :attributes, :meeting]}) %></div>
			<div class="span2"><%= I18n.t(:challenge_number, {:scope=>[:activerecord, :attributes, :meeting]}) %></div>
			<div class="span2"><%= I18n.t(:are_results_acquired, {:scope=>[:activerecord, :attributes, :meeting]}) %></div>

			<% for meeting in @meetings -%>
				<div class="span12">
					<div class="span2">
						<%= meeting.season.get_full_name %>
					</div>
					<div class="span4">
					<%= link_to( meeting.description, 
						"#", 
						{'data-toggle' => "collapse", 'data-target' => "#meeting_id_#{meeting.id}"} 
					)%>
					</div>
					<div class="span2"><%= Format.a_date( meeting.entry_deadline ) %></div>
					<div class="span2"><span class="badge"><%= meeting.challenge_number %></span></div>
					<div class="span2">
						<% if meeting.are_results_acquired -%>
							<span class='badge badge-success'>Ok</span>
						<% else -%>
							<span class='badge badge-important'>X</span>
						<% end -%>
					</div>

					<div id="<%= "meeting_id_#{meeting.id}" %>" class="span12 collapse">
						<div class="span12">
					    	First row is a non-compressable Header
						</div>
						<div class="span12">
					    	<%= I18n.t(:has_warm_up_pool, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.has_warm_up_pool %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:is_under_25_admitted, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.is_under_25_admitted %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:has_invitation, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.has_invitation %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:has_start_list, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.has_start_list %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:max_individual_events, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.max_individual_events %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:reference_phone, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.reference_phone %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:reference_e_mail, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.reference_e_mail %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:reference_name, {:scope=>[:activerecord, :attributes, :meeting]}) %>: <%= meeting.reference_name %>
						</div>
						<div class="span12">
					    	<%= I18n.t(:notes) %>: <%= meeting.notes %>
						</div>
					</div>
				</div>
			<% end -%>
		</div>
	<% end -%>

	<% if (@meetings.nil? || @meetings.length == 0) -%>
	<p style="text-align: center">
	  <i><%= t(:no_data_found) %></i>
	</p>
	<% end -%>
	<p/>
</div>
