.row-fluid
  .span10
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span10.goggles-centeralign{'colspan'=>'8'}
            %b= I18n.t(:stats)
        %tr{'class'=>'success'}
          %td.span3.goggles-centeralign
            %b
              %i= I18n.t('meeting_stats.team_athletes')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.females')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.males')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.total')
          %td.span1.goggles-centeralign
            = image_tag( "medal_gold_3.png" )
          %td.span1.goggles-centeralign
            = image_tag( "medal_silver_3.png" )
          %td.span1.goggles-centeralign
            = image_tag( "medal_bronze_3.png" )
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = curr_line = 0
        - tot_gold = tot_silver = tot_bronze = tot_medals = 0
        - @teams_array.each do |team_array|
          - team_id = team_array[0]
          - name    = team_array[1]
          - tot_fem = team_array[2]
          - tot_mal = team_array[3]
          - sub_tot = team_array[4]
          - is_highlighted = team_array[5]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          - tot_gold   += team_array[6]
          - tot_silver += team_array[7]
          - tot_bronze += team_array[8]
          - subtot_medals = team_array[6] + team_array[7] + team_array[8]
          - tot_medals += subtot_medals
          - curr_line += 1
          - if ( curr_line % 40 == 0 )
            %tr{'class'=>'success'}
              %td.span3
              %td.span1.goggles-centeralign
                %i= I18n.t('meeting_stats.females')
              %td.span1.goggles-centeralign
                %i= I18n.t('meeting_stats.males')
              %td.span1.goggles-centeralign
                %i= I18n.t('meeting_stats.total')
              %td.span1.goggles-centeralign
                = image_tag( "medal_gold_3.png" )
              %td.span1.goggles-centeralign
                = image_tag( "medal_silver_3.png" )
              %td.span1.goggles-centeralign
                = image_tag( "medal_bronze_3.png" )
              %td.span1.goggles-centeralign
                %i= I18n.t('meeting_stats.total')
          %tr{'class' => is_highlighted ? 'warning' : ''}
            %td.span3
              %a{'id'=>"team#{team_id}", 'href'=>"#{ show_team_results_meeting_path(:id=>@meeting.id, :team_id=>team_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_team_results_tooltip')}
                = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
            %td.span1.goggles-rightalign
              = team_array[6]
            %td.span1.goggles-rightalign
              = team_array[7]
            %td.span1.goggles-rightalign
              = team_array[8]
            %td.span1.goggles-rightalign
              = subtot_medals
        %tr
          %td.span3.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
          %td.span1.goggles-rightalign
            %i= tot_gold
          %td.span1.goggles-rightalign
            %i= tot_silver
          %td.span1.goggles-rightalign
            %i= tot_bronze
          %td.span1.goggles-rightalign
            %i= tot_medals
.row-fluid
  .span12

.row-fluid
  .span5
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span2.goggles-centeralign
            %b
              %i= I18n.t('meeting_stats.category_athletes')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.females')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.males')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = 0
        - @categories_array.each do |category_array|
          - name = category_array[1]
          - tot_fem = category_array[2]
          - tot_mal = category_array[3]
          - sub_tot = category_array[4]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          %tr
            %td.span2
              = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
        %tr
          %td.span2.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
.row-fluid
  .span12

.row-fluid
  .span5
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span2.goggles-centeralign
            %b
              %i= I18n.t('meeting_stats.event_athletes')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.females')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.males')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = 0
        - @event_types_array.each do |event_type_array|
          - name = event_type_array[0]
          - tot_fem = event_type_array[1]
          - tot_mal = event_type_array[2]
          - sub_tot = event_type_array[3]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          %tr
            %td.span2
              = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
        %tr
          %td.span2.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
.row-fluid
  .span12

.row-fluid
  .span9
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span3.goggles-centeralign
            %b
              %i= I18n.t('meeting_stats.specials')
          %td.span1
          %td.span3
          %td.span1
          %td.span1
        %tr
          %td.span3
            = I18n.t('meeting_stats.oldest_female_athlete')
          %td.span1.goggles-rightalign
            = @meeting.header_date.year - @specials_hash[ :oldest_female_athlete ].year_of_birth.to_i
            = image_tag( "cake.png" )
          %td.span3
            %a{'id'=>"swimmer#{@specials_hash[ :oldest_female_athlete ].id}", 'href'=>"#{ show_swimmer_results_meeting_path(:id=>@meeting.id, :swimmer_id=>@specials_hash[ :oldest_female_athlete ].id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
              = @specials_hash[ :oldest_female_athlete ].get_full_name
          %td.span1.goggles-rightalign
            = @specials_hash[ :oldest_female_athlete ].year_of_birth
          %td.span1.goggles-rightalign
        - [ :best_1st_female_score, :best_2nd_female_score, :best_3rd_female_score, :worst_female_score ].each do | key |
          - if @specials_hash[ key ].standard_points > 0
            %tr
              %td.span3
                = I18n.t( key, :scope =>[:meeting_stats] )
              %td.span1.goggles-rightalign
                = sprintf( "%02.2f", @specials_hash[ key ].standard_points )
              %td.span3
                %a{'id'=>"swimmer#{@specials_hash[ key ].id}", 'href'=>"#{ show_swimmer_results_meeting_path(:id=>@meeting.id, :swimmer_id=>@specials_hash[ key ].swimmer_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = @specials_hash[ key ].get_athlete_name
              %td.span1.goggles-rightalign
                = @specials_hash[ key ].get_year_of_birth
              %td.span1
                = @specials_hash[ key ].get_event_type
        %tr
          %td.span3
            = I18n.t('meeting_stats.oldest_male_athlete')
          %td.span1.goggles-rightalign
            = @meeting.header_date.year - @specials_hash[ :oldest_male_athlete ].year_of_birth.to_i
            = image_tag( "cake.png" )
          %td.span3
            %a{'id'=>"swimmer#{@specials_hash[ :oldest_male_athlete ].id}", 'href'=>"#{ show_swimmer_results_meeting_path(:id=>@meeting.id, :swimmer_id=>@specials_hash[ :oldest_male_athlete ].id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
              = @specials_hash[ :oldest_male_athlete ].get_full_name
          %td.span1.goggles-rightalign
            = @specials_hash[ :oldest_male_athlete ].year_of_birth
          %td.span1.goggles-rightalign
        - [ :best_1st_male_score, :best_2nd_male_score, :best_3rd_male_score, :worst_male_score ].each do | key |
          - if @specials_hash[ key ].standard_points > 0
            %tr
              %td.span3
                = I18n.t( key, :scope =>[:meeting_stats] )
              %td.span1.goggles-rightalign
                = sprintf( "%02.2f", @specials_hash[ key ].standard_points )
              %td.span3
                %a{'id'=>"swimmer#{@specials_hash[ key ].swimmer_id}", 'href'=>"#{ show_swimmer_results_meeting_path(:id=>@meeting.id, :swimmer_id=>@specials_hash[ key ].swimmer_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = @specials_hash[ key ].get_athlete_name
              %td.span1.goggles-rightalign
                = @specials_hash[ key ].get_year_of_birth
              %td.span1
                = @specials_hash[ key ].get_event_type
.row-fluid
  .span12
