%div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_teams'}
  .row-fluid
    .span10
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'success'}
            %td.span3.goggles-centeralign
              %b
                %i= I18n.t('meeting_stats.team_athletes')
                %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
            %td.span1.goggles-centeralign
              %i= I18n.t('meeting_stats.females')
            %td.span1.goggles-centeralign
              %i= I18n.t('meeting_stats.males')
            %td.span1.goggles-centeralign
              %i= I18n.t('meeting_stats.total')
            %td.span1.goggles-centeralign
              = image_tag( "medal_gold_3.png" )
            %td.span1.goggles-centeralign
              = image_tag( "medal_silver_3.png" )
            %td.span1.goggles-centeralign
              = image_tag( "medal_bronze_3.png" )
            %td.span1.goggles-centeralign
              %i= I18n.t('meeting_stats.total')
          - gtot_name = gtot_fem = gtot_mal = gtot = curr_line = 0
          - tot_gold = tot_silver = tot_bronze = tot_medals = 0
          - @teams_array.each do |team_array|
            - team_id = team_array[0]
            - name    = team_array[1]
            - tot_fem = team_array[2]
            - tot_mal = team_array[3]
            - sub_tot = team_array[4]
            - is_highlighted = team_array[5]
            - gtot_name += 1
            - gtot_fem  += tot_fem
            - gtot_mal  += tot_mal
            - gtot      += sub_tot
            - tot_gold   += team_array[6]
            - tot_silver += team_array[7]
            - tot_bronze += team_array[8]
            - subtot_medals = team_array[6] + team_array[7] + team_array[8]
            - tot_medals += subtot_medals
            - curr_line += 1
            - if ( curr_line % 40 == 0 )
              %tr{'class'=>'success'}
                %td.span3
                %td.span1.goggles-centeralign
                  %i= I18n.t('meeting_stats.females')
                %td.span1.goggles-centeralign
                  %i= I18n.t('meeting_stats.males')
                %td.span1.goggles-centeralign
                  %i= I18n.t('meeting_stats.total')
                %td.span1.goggles-centeralign
                  = image_tag( "medal_gold_3.png" )
                %td.span1.goggles-centeralign
                  = image_tag( "medal_silver_3.png" )
                %td.span1.goggles-centeralign
                  = image_tag( "medal_bronze_3.png" )
                %td.span1.goggles-centeralign
                  %i= I18n.t('meeting_stats.total')
            %tr{'class' => is_highlighted ? 'warning' : ''}
              %td.span3
                %a{'id'=>"team#{team_id}", 'href'=>"#{ meeting_show_team_results_path(:id=>@meeting.id, :team_id=>team_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_team_results_tooltip')}
                  = name
              %td.span1.goggles-rightalign
                = tot_fem
              %td.span1.goggles-rightalign
                = tot_mal
              %td.span1.goggles-rightalign
                = sub_tot
              %td.span1.goggles-rightalign
                = team_array[6]
              %td.span1.goggles-rightalign
                = team_array[7]
              %td.span1.goggles-rightalign
                = team_array[8]
              %td.span1.goggles-rightalign
                = subtot_medals
          %tr
            %td.span3.goggles-rightalign
              %i= gtot_name
            %td.span1.goggles-rightalign
              %i= gtot_fem
            %td.span1.goggles-rightalign
              %i= gtot_mal
            %td.span1.goggles-rightalign
              %i= gtot
            %td.span1.goggles-rightalign
              %i= tot_gold
            %td.span1.goggles-rightalign
              %i= tot_silver
            %td.span1.goggles-rightalign
              %i= tot_bronze
            %td.span1.goggles-rightalign
              %i= tot_medals
