.span5
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.span2.goggles-centeralign
          %b
            %i= I18n.t('meeting_stats.event_athletes')
            %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.females')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.males')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.total')
      - gtot_fem = gtot_mal = gtot = 0
      - @meeting_stats.events.each do |event_stat|
        - gtot_fem  += event_stat.female_results
        - gtot_mal  += event_stat.male_results
        - gtot      += event_stat.get_results_count
        %tr
          %td.span2
            = event_stat.event_type.code
          %td.span1.goggles-rightalign
            = event_stat.female_results
          %td.span1.goggles-rightalign
            = event_stat.male_results
          %td.span1.goggles-rightalign
            = event_stat.get_results_count
      -# Totals
      %tr{'class'=>'success'}
        %td.span2.goggles-rightalign
          %i= @meeting_stats.events.count
        %td.span1.goggles-rightalign
          %i= gtot_fem
        %td.span1.goggles-rightalign
          %i= gtot_mal
        %td.span1.goggles-rightalign
          %i= gtot
