.row-fluid
  .span6
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span6{'colspan'=>'4'}
            %b= I18n.t(:stats)
        %tr{'class'=>'success'}
          %td.span3
            %b
              %i= I18n.t('meeting_stats.team_athletes')
          %td.span1
            %i= I18n.t('meeting_stats.females')
          %td.span1
            %i= I18n.t('meeting_stats.males')
          %td.span1
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = 0
        - @teams_array.each do |team_array|
          - name = team_array[1]
          - tot_fem = team_array[2]
          - tot_mal = team_array[3]
          - sub_tot = team_array[4]
          - is_highlighted = team_array[5]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          %tr{'class' => is_highlighted ? 'warning' : ''}
            %td.span3
              = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
        %tr
          %td.span3.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
.row-fluid
  .span12

.row-fluid
  .span5
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span2
            %b
              %i= I18n.t('meeting_stats.category_athletes')
          %td.span1
            %i= I18n.t('meeting_stats.females')
          %td.span1
            %i= I18n.t('meeting_stats.males')
          %td.span1
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = 0
        - @categories_array.each do |category_array|
          - name = category_array[1]
          - tot_fem = category_array[2]
          - tot_mal = category_array[3]
          - sub_tot = category_array[4]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          %tr
            %td.span2
              = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
        %tr
          %td.span2.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
.row-fluid
  .span12

.row-fluid
  .span5
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span2
            %b
              %i= I18n.t('meeting_stats.event_athletes')
          %td.span1
            %i= I18n.t('meeting_stats.females')
          %td.span1
            %i= I18n.t('meeting_stats.males')
          %td.span1
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = 0
        - @event_types_array.each do |event_type_array|
          - name = event_type_array[0]
          - tot_fem = event_type_array[1]
          - tot_mal = event_type_array[2]
          - sub_tot = event_type_array[3]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          %tr
            %td.span2
              = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
        %tr
          %td.span2.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
.row-fluid
  .span12

.row-fluid
  .span6
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span2
            %b
              %i= I18n.t('meeting_stats.specials')
          %td.span1
          %td.span2
          %td.span1
        %tr
          %td.span2
            = I18n.t('meeting_stats.oldest_female_athlete')
          %td.span1.goggles-rightalign
            = @specials_hash[ :oldest_female_athlete ].year_of_birth
          %td.span2
            = @specials_hash[ :oldest_female_athlete ].get_full_name
          %td.span1.goggles-rightalign
        %tr
          %td.span2
            = I18n.t('meeting_stats.best_1st_female_score')
          %td.span1.goggles-rightalign
            = @specials_hash[ :best_1st_female_score ].standard_points
          %td.span2
            = @specials_hash[ :best_1st_female_score ].get_athlete_name
          %td.span1
            = @specials_hash[ :best_1st_female_score ].get_event_type
        %tr
          %td.span2
            = I18n.t('meeting_stats.worst_female_score')
          %td.span1.goggles-rightalign
            = @specials_hash[ :worst_female_score ].standard_points
          %td.span2
            = @specials_hash[ :worst_female_score ].get_athlete_name
          %td.span1
            = @specials_hash[ :worst_female_score ].get_event_type
        %tr
          %td.span2
            = I18n.t('meeting_stats.oldest_male_athlete')
          %td.span1.goggles-rightalign
            = @specials_hash[ :oldest_male_athlete ].year_of_birth
          %td.span2
            = @specials_hash[ :oldest_male_athlete ].get_full_name
          %td.span1.goggles-rightalign
        %tr
          %td.span2
            = I18n.t('meeting_stats.best_1st_male_score')
          %td.span1.goggles-rightalign
            = @specials_hash[ :best_1st_male_score ].standard_points
          %td.span2
            = @specials_hash[ :best_1st_male_score ].get_athlete_name
          %td.span1
            = @specials_hash[ :best_1st_male_score ].get_event_type
        %tr
          %td.span2
            = I18n.t('meeting_stats.worst_male_score')
          %td.span1.goggles-rightalign
            = @specials_hash[ :worst_male_score ].standard_points
          %td.span2
            = @specials_hash[ :worst_male_score ].get_athlete_name
          %td.span1
            = @specials_hash[ :worst_male_score ].get_event_type
.row-fluid
  .span12
