.row-fluid
  .span5
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span2.goggles-centeralign
            %b
              %i= I18n.t('meeting_stats.category_athletes')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.females')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.males')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_stats.total')
        - gtot_name = gtot_fem = gtot_mal = gtot = 0
        - @categories_array.each do |category_array|
          - name = category_array[1]
          - tot_fem = category_array[2]
          - tot_mal = category_array[3]
          - sub_tot = category_array[4]
          - gtot_name += 1
          - gtot_fem  += tot_fem
          - gtot_mal  += tot_mal
          - gtot      += sub_tot
          %tr
            %td.span2
              = name
            %td.span1.goggles-rightalign
              = tot_fem
            %td.span1.goggles-rightalign
              = tot_mal
            %td.span1.goggles-rightalign
              = sub_tot
        -# Totals
        -# Leega: TODO Apply description to the first column of total row
        %tr
          %td.span2.goggles-rightalign
            %i= gtot_name
          %td.span1.goggles-rightalign
            %i= gtot_fem
          %td.span1.goggles-rightalign
            %i= gtot_mal
          %td.span1.goggles-rightalign
            %i= gtot
