.accordion#accordionShw
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordionshw', :href => '#collapseShw'}
        %h3#headerShw{'data-toggle' => 'tooltip', 'title' => I18n.t(:detail_show_tooltip)}= @meeting.get_verbose_name
    .accordion-body.collapse#collapseShw
      .accordion-inner
        .row-fluid
          .span2
            = 'ID:'
          .span10
            = @meeting.id if @meeting
        .row-fluid
          .span2
            = I18n.t(:season, { scope: [:activerecord, :models] }) +':'
          .span10
            = @meeting.season.get_full_name
            = admin_signed_in? ? " (season.id=#{@meeting.season_id})" : ''
        .row-fluid
          .span2
            = I18n.t(:any_date) +':'
          .span10
            = @meeting.header_date
        .row-fluid
          .span2
            = I18n.t(:edition, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = @meeting.edition
        .row-fluid
          .span2
            = I18n.t('meeting_calendar.pool') +':'
          .span10
            - @meeting.swimming_pools.uniq.each do |pool|
              = link_to( pool.get_verbose_name, swimming_pool_path(pool) )
              = admin_signed_in? ? " (swimming_pools.id=#{pool.id})" : ''
        .row-fluid
          .span2
            = I18n.t(:has_warm_up_pool, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = show_tag( @meeting.has_warm_up_pool )
        .row-fluid
          .span2
            = I18n.t(:is_under_25_admitted, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = show_tag( @meeting.is_under_25_admitted )
        .row-fluid
          .span2
            = I18n.t(:has_invitation, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = show_tag( @meeting.has_invitation )
        .row-fluid
          .span2
            = I18n.t(:has_start_list, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = show_tag( @meeting.has_start_list )
        .row-fluid
          .span2
            = I18n.t(:max_individual_events, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = @meeting.max_individual_events
        .row-fluid
          .span2
            = I18n.t(:reference_phone, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = @meeting.reference_phone
        .row-fluid
          .span2
            = I18n.t(:reference_e_mail, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = @meeting.reference_e_mail
        .row-fluid
          .span2
            = I18n.t(:reference_name, { scope: [:activerecord, :attributes, :meeting] }) +':'
          .span10
            = @meeting.reference_name
        .row-fluid
          .span2
            = I18n.t(:notes) +':'
          .span10
            = @meeting.notes

%script
  $('#headerShw').tooltip({placement:'bottom'});
  $('body').attr('data-spy', 'scroll');
  $('body').attr('data-target','#goggles-float-list');
  $('#goggles-float-list').scrollspy();
  $('[data-spy="scroll"]').each(function () { var $spy = $(this).scrollspy('refresh') });
