.span10
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.span3.goggles-centeralign{'rowspan'=>'2'}
          %b
            %i= I18n.t('meeting_stats.team_athletes')
            %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
        %td.span1.goggles-centeralign{'colspan'=>'3'}
          %i= I18n.t('meeting_stats.swimmers')
        %td.span1.goggles-centeralign{'colspan'=>'3'}
          %i= I18n.t('meeting_stats.athletes_by_event')
      %tr{'class'=>'success'}
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.females')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.males')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.total')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.females')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.males')
        %td.span1.goggles-centeralign
          %i= I18n.t('meeting_stats.total')

      - gtot_fem = gtot_mal = gtot = 0
      - gtot_ent_fem = gtot_ent_mal = gtot_ent = 0
      - @meeting_stats.teams.each do |team_stat|  
        - is_highlighted = ( team_stat.team.id == @preselected_team_id )
        - gtot_fem     += team_stat.female_ent_swimmers
        - gtot_mal     += team_stat.male_ent_swimmers
        - gtot         += team_stat.get_ent_swimmers_count
        - gtot_ent_fem += team_stat.female_entries
        - gtot_ent_mal += team_stat.male_entries
        - gtot_ent     += team_stat.get_entries_count

        %tr{'class' => is_highlighted ? 'warning' : ''}
          %td.span3
            = team_stat.team.decorate.get_linked_to_results_name(@meeting)
          %td.span1.goggles-rightalign
            = team_stat.female_ent_swimmers
          %td.span1.goggles-rightalign
            = team_stat.male_ent_swimmers
          %td.span1.goggles-rightalign
            %b= team_stat.get_ent_swimmers_count
          %td.span1.goggles-rightalign
            = team_stat.female_entries
          %td.span1.goggles-rightalign
            = team_stat.male_entries
          %td.span1.goggles-rightalign
            %b= team_stat.get_entries_count
      %tr{'class'=>'success'}
        %td.span3.goggles-rightalign
          %i= @meeting_stats.teams.count
        %td.span1.goggles-rightalign
          %i= gtot_fem
        %td.span1.goggles-rightalign
          %i= gtot_mal
        %td.span1.goggles-rightalign
          %i= gtot
        %td.span1.goggles-rightalign
          %i= gtot_ent_fem
        %td.span1.goggles-rightalign
          %i= gtot_ent_mal
        %td.span1.goggles-rightalign
          %i= gtot_ent
