.col-xs-6
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.col-xs-2.goggles-centeralign
          %b
            %i= I18n.t('meeting_stats.category_athletes')
          = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
            = image_tag('bullet_arrow_up.png')
        %td.col-xs-1.goggles-centeralign
          %i= I18n.t('meeting_stats.females')
        %td.col-xs-1.goggles-centeralign
          %i= I18n.t('meeting_stats.males')
        %td.col-xs-1.goggles-centeralign
          %i= I18n.t('meeting_stats.total')
      - gtot_fem = gtot_mal = gtot = 0
      - @meeting_stats.categories.each do |category_stat|
        - gtot_fem  += category_stat.female_swimmers
        - gtot_mal  += category_stat.male_swimmers
        - gtot      += category_stat.get_swimmers_count
        %tr
          %td.col-xs-2
            = category_stat.category_type.code
          %td.col-xs-1.goggles-rightalign
            = category_stat.female_swimmers
          %td.col-xs-1.goggles-rightalign
            = category_stat.male_swimmers
          %td.col-xs-1.goggles-rightalign
            = category_stat.get_swimmers_count
      -# Totals
      %tr{'class'=>'success'}
        %td.col-xs-2.goggles-rightalign
          %i= @meeting_stats.categories.count
        %td.col-xs-1.goggles-rightalign
          %i= gtot_fem
        %td.col-xs-1.goggles-rightalign
          %i= gtot_mal
        %td.col-xs-1.goggles-rightalign
          %i= gtot
