.span3
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.goggles-centeralign{'colspan'=>2}
          %b= I18n.t('meeting_stats.numbers')
      %tr
        %td.span2
          %a(href="#meeting_stats_ent_teams")= I18n.t('meeting_stats.tot_teams')
        %td.span1.goggles-rightalign
          = @meeting_stats.get_ent_teams_count
      %tr
        %td.span2
          %a(href="#meeting_stats_ent_categories")= I18n.t('meeting_stats.tot_swimmers')
        %td.span1.goggles-rightalign
          = @meeting_stats.get_entered_swimmers_count
      %tr
        %td.span2
          %a(href="#meeting_stats_ent_events")= I18n.t('meeting_stats.tot_athletes_by_event')
        %td.span1.goggles-rightalign
          = @meeting_stats.get_entries_count

