.col-xs-8
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.goggles-centeralign{'colspan'=>6}
          %b= I18n.t('meeting_stats.oldest')
          = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
            = image_tag('bullet_arrow_up.png')
      %tr{'class'=>'success'}
        %td.goggles-centeralign{'colspan'=>3}
          %b
            %i= I18n.t('meeting_stats.females')
        %td.goggles-centeralign{'colspan'=>3}
          %b
            %i= I18n.t('meeting_stats.males')
      %tr
        - if @meeting_stats.oldest_female_swimmers.size > 0
          - swimmer = @meeting_stats.oldest_female_swimmers.first
          %td.col-xs-3
            %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path( id: @meeting.id, swimmer_id: swimmer.id, team_id: swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
              = swimmer.get_full_name
          %td.col-xs-1.goggles-rightalign
            = swimmer.year_of_birth
          %td.col-xs-1.goggles-rightalign
            %b= @meeting.header_date.year - swimmer.year_of_birth.to_i
            = image_tag( "cake.png" )
        - if @meeting_stats.oldest_male_swimmers.size > 0
          - swimmer = @meeting_stats.oldest_male_swimmers.first
          %td.col-xs-3
            %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(id: @meeting.id, swimmer_id: swimmer.id, team_id: swimmer.id ) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
              = swimmer.get_full_name
          %td.col-xs-1.goggles-rightalign
            = swimmer.year_of_birth
          %td.col-xs-1.goggles-rightalign
            %b= @meeting.header_date.year - swimmer.year_of_birth.to_i
            = image_tag( "cake.png" )
