.row-fluid
  .span9
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'success'}
          %td.span3.goggles-centeralign
            %b
              %i= I18n.t('meeting_stats.specials')
          %td.span1
          %td.span3
          %td.span1
          %td.span1

        - if @meeting_stats.oldest_female_swimmers.size > 0
          - swimmer = @meeting_stats.oldest_female_swimmers.first
          %tr
            %td.span3
              = I18n.t('meeting_stats.oldest_female_athlete')
            %td.span1.goggles-rightalign
              = @meeting.header_date.year - swimmer.year_of_birth.to_i
              = image_tag( "cake.png" )
            %td.span3
              %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                = swimmer.get_full_name
            %td.span1.goggles-rightalign
              = swimmer.year_of_birth
            %td.span1.goggles-rightalign

        - [ :best_1st_female_score, :best_2nd_female_score, :best_3rd_female_score, :worst_female_score ].each do | key |
          - if @specials_hash[ key ] && @specials_hash[ key ].standard_points > 0
            %tr
              %td.span3
                = I18n.t( key, scope: [:meeting_stats] )
              %td.span1.goggles-rightalign
                = sprintf( "%02.2f", @specials_hash[ key ].standard_points )
              %td.span3
                %a{'id'=>"swimmer#{@specials_hash[ key ].id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>@specials_hash[ key ].team_id, :swimmer_id=>@specials_hash[ key ].swimmer_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = @specials_hash[ key ].get_swimmer_name
              %td.span1.goggles-rightalign
                = @specials_hash[ key ].get_year_of_birth
              %td.span1
                = @specials_hash[ key ].get_event_type
        %tr
          %td.span3
            = I18n.t('meeting_stats.oldest_male_athlete')
          %td.span1.goggles-rightalign
            - if @specials_hash[ :oldest_male_athlete ]
              = @meeting.header_date.year - @specials_hash[ :oldest_male_athlete ].year_of_birth.to_i
              = image_tag( "cake.png" )
          %td.span3
            - if @specials_hash[ :oldest_male_athlete ]
              %a{'id'=>"swimmer#{@specials_hash[ :oldest_male_athlete ].id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :swimmer_id=>@specials_hash[ :oldest_male_athlete ].id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                = @specials_hash[ :oldest_male_athlete ].get_full_name
          %td.span1.goggles-rightalign
            - if @specials_hash[ :oldest_male_athlete ]
              = @specials_hash[ :oldest_male_athlete ].year_of_birth
          %td.span1.goggles-rightalign
        - [ :best_1st_male_score, :best_2nd_male_score, :best_3rd_male_score, :worst_male_score ].each do | key |
          - if @specials_hash[ key ] && @specials_hash[ key ].standard_points > 0
            %tr
              %td.span3
                = I18n.t( key, scope: [:meeting_stats] )
              %td.span1.goggles-rightalign
                = sprintf( "%02.2f", @specials_hash[ key ].standard_points )
              %td.span3
                %a{'id'=>"swimmer#{@specials_hash[ key ].swimmer_id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>@specials_hash[ key ].team_id, :swimmer_id=>@specials_hash[ key ].swimmer_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = @specials_hash[ key ].get_swimmer_name
              %td.span1.goggles-rightalign
                = @specials_hash[ key ].get_year_of_birth
              %td.span1
                = @specials_hash[ key ].get_event_type
