.span10
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.goggles-centeralign{'colspan'=>8}
          %b= I18n.t('meeting_stats.specials')
          = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
            = image_tag('bullet_arrow_up.png')
      %tr{'class'=>'success'}
        %td.goggles-centeralign{'colspan'=>4}
          %b
            %i= I18n.t('meeting_stats.best_female_scores')
        %td.goggles-centeralign{'colspan'=>4}
          %b
            %i= I18n.t('meeting_stats.best_male_scores')
      - @meeting_stats.best_std_female_scores.each_with_index do | individual_result, index |
        - mir = MeetingIndividualResultDecorator.decorate( individual_result )
        - swimmer = mir.swimmer
        %tr
          %td.span3
            %a{'id'=>"#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>mir.team_id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
              = swimmer.get_full_name + ' (' + mir.get_category_type_short_name + ')'
          %td.span2
            = mir.get_event_type
          %td.span1.goggles-rightalign
            = mir.get_timing.to_s
          %td.span1.goggles-rightalign
            %b= mir.get_formatted_standard_points(true)
          - individual_result = @meeting_stats.best_std_male_scores.at(index)
          - mir = MeetingIndividualResultDecorator.decorate( individual_result )
          - swimmer = mir.swimmer
          %td.span3
            %a{'id'=>"#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>mir.team_id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
              = swimmer.get_full_name + ' (' + mir.get_category_type_short_name + ')'
          %td.span2
            = mir.get_event_type
          %td.span1.goggles-rightalign
            = mir.get_timing.to_s
          %td.span1.goggles-rightalign
            %b= mir.get_formatted_standard_points(true)
