%div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_numbers'}
  .row-fluid
    .span3
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'success'}
            %td.goggles-centeralign{'colspan'=>2}
              %b= I18n.t('meeting_stats.numbers')
          %tr
            %td.span2
              %a(href="#meeting_stats_teams")= I18n.t('meeting_stats.tot_teams')
            %td.span1.goggles-rightalign
              -# = @meeting_stats.team_count.to_s
              = @teams_array.count.to_s
          %tr
            %td.span2
              %a(href="#meeting_stats_categories")= I18n.t('meeting_stats.tot_swimmers')
            %td.span1.goggles-rightalign
              = @meeting_stats.swimmer_count.to_s
          %tr
            %td.span2
              %a(href="#meeting_stats_events")= I18n.t('meeting_stats.tot_athletes_by_event')
            %td.span1.goggles-rightalign
              = @meeting_stats.result_count.to_s
          - if @meeting_stats.average_total_score > 0
            %tr
              %td.span2
                %a(href="#meeting_stats_average")= I18n.t('meeting_stats.tot_average')
              %td.span1.goggles-rightalign
                = @meeting_stats.average_total_score.to_s
            %tr
              %td.span2
                - if @meeting_stats.over_1000_count > 0
                  %a(href="#meeting_stats_specials")= I18n.t('meeting_stats.over_1000')
                - else
                  = I18n.t('meeting_stats.over_1000')
              %td.span1.goggles-rightalign
                = @meeting_stats.over_1000_count.to_s
            %tr
              %td.span2
                - if @meeting_stats.over_950_count > 0
                  %a(href="#meeting_stats_specials")= I18n.t('meeting_stats.over_950')
                - else
                  = I18n.t('meeting_stats.over_950')
              %td.span1.goggles-rightalign
                = @meeting_stats.over_950_count.to_s
            %tr
              %td.span2
                - if @meeting_stats.over_900_count > 0
                  %a(href="#meeting_stats_specials")= I18n.t('meeting_stats.over_900')
                - else
                  = I18n.t('meeting_stats.over_900')
              %td.span1.goggles-rightalign
                = @meeting_stats.over_900_count.to_s
          %tr
            %td.span2
              %a(href="#meeting_stats_disqualified")= I18n.t('meeting_stats.tot_disqualified')
            %td.span1.goggles-rightalign
              = @meeting_stats.disqualified_count.to_s
