%div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_disqualified'}
  .row-fluid
    .span3
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'success'}
            %td.goggles-centeralign{'colspan'=>2}
              %b= I18n.t('meeting_stats.disqualified')
          %tr
            %td.span2
              = I18n.t('meeting_stats.females')
            %td.span1.goggles-rightalign
              = @meeting_stats.disqualified_female_count.to_s
          %tr
            %td.span2
              = I18n.t('meeting_stats.males')
            %td.span1.goggles-rightalign
              = @meeting_stats.disqualified_male_count.to_s
          %tr
            %td.span2
              %i= I18n.t('meeting_stats.total')
            %td.span1.goggles-rightalign
              %i= @meeting_stats.disqualified_count.to_s

%div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_specials'}
  .row-fluid
    .span10
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'success'}
            %td.goggles-centeralign{'colspan'=>5}
              %b= I18n.t('meeting_stats.specials')
    
          - @meeting_stats.best_standard_female_scores.each_with_index do | mir,index |
            - swimmer = mir.swimmer
            %tr
              - if index == 0
                %td.span3{'rowspan'=>@meeting_stats.best_standard_female_scores.count}
                  = I18n.t( 'meeting_stats.best_female_score' )
              %td.span1.goggles-rightalign
                %b= sprintf( "%02.2f", mir.standard_points )
              %td.span3
                %a{'id'=>"#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>mir.team_id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = swimmer.get_full_name + ' (' + mir.get_category_type_short_name + ')'
              %td.span2
                = mir.get_event_type
              %td.span1.goggles-rightalign
                = mir.get_timing.to_s
    
          - @meeting_stats.best_standard_male_scores.each_with_index do | mir,index |
            - swimmer = mir.swimmer
            %tr
              - if index == 0
                %td.span3{'rowspan'=>@meeting_stats.best_standard_male_scores.count}
                  = I18n.t( 'meeting_stats.best_male_score' )
              %td.span1.goggles-rightalign
                %b= sprintf( "%02.2f", mir.standard_points )
              %td.span3
                %a{'id'=>"#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>mir.team_id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = swimmer.get_full_name + ' (' + mir.get_category_type_short_name + ')'
              %td.span2
                = mir.get_event_type
              %td.span1.goggles-rightalign
                = mir.get_timing.to_s
  
          - if false  # Disabled by Leega. Should result offensive in some cases, like disablity or so on  
            - @meeting_stats.worst_standard_female_scores.each_with_index do | mir,index |
              - swimmer = mir.swimmer
              %tr
                - if index == 0
                  %td.span3{'rowspan'=>@meeting_stats.worst_standard_female_scores.count}
                    = I18n.t( 'meeting_stats.worst_female_score' )
                %td.span1.goggles-rightalign
                  = sprintf( "%02.2f", mir.standard_points )
                %td.span3
                  %a{'id'=>"#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>mir.team_id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = swimmer.get_full_name + ' (' + mir.get_category_type_short_name + ')'
                %td.span2
                  = mir.get_event_type
                %td.span1.goggles-rightalign
                  = mir.get_timing.to_s
      
            - @meeting_stats.worst_standard_male_scores.each_with_index do | mir,index |
              - swimmer = mir.swimmer
              %tr
                - if index == 0
                  %td.span3{'rowspan'=>@meeting_stats.worst_standard_male_scores.count}
                    = I18n.t( 'meeting_stats.worst_male_score' )
                %td.span1.goggles-rightalign
                  = sprintf( "%02.2f", mir.standard_points )
                %td.span3
                  %a{'id'=>"#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>mir.team_id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                  = swimmer.get_full_name + ' (' + mir.get_category_type_short_name + ')'
                %td.span1
                  = mir.get_event_type
                %td.span1.goggles-rightalign
                  = mir.get_timing.to_s

%div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_oldest'}
  - if @meeting_stats.oldest_female_swimmers.size > 0 || @meeting_stats.oldest_male_swimmers.size > 0 
    .row-fluid
      .span9
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr{'class'=>'success'}
              %td.goggles-centeralign{'colspan'=>6}
                %b= I18n.t('meeting_stats.oldest')
            %tr{'class'=>'success'}
              %td.goggles-centeralign{'colspan'=>3}
                %b
                  %i= I18n.t('meeting_stats.females')
              %td.goggles-centeralign{'colspan'=>3}
                %b
                  %i= I18n.t('meeting_stats.males')
            %tr
              - if @meeting_stats.oldest_female_swimmers.size > 0
                - swimmer = @meeting_stats.oldest_female_swimmers.first
                %td.span3
                  %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                    = swimmer.get_full_name
                %td.span1.goggles-rightalign
                  %b= @meeting.header_date.year - swimmer.year_of_birth.to_i
                  = image_tag( "cake.png" )
                %td.span1.goggles-rightalign
                  = swimmer.year_of_birth
              - if @meeting_stats.oldest_male_swimmers.size > 0
                - swimmer = @meeting_stats.oldest_male_swimmers.first
                %td.span3
                  %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                    = swimmer.get_full_name
                %td.span1.goggles-rightalign
                  %b= @meeting.header_date.year - swimmer.year_of_birth.to_i
                  = image_tag( "cake.png" )
                %td.span1.goggles-rightalign
                  = swimmer.year_of_birth

