- mrr = MeetingRelayResultDecorator.decorate( relay_result )
%tr
  %td.col-xs-1.goggles-rightalign
    = mrr.show_any_rank_medal()
    = mrr.get_rank_description
  %td.col-xs-3{ 'colspan'=>'3' }
    %a{ id: "team#{mrr.id}", href: "#{ meeting_show_team_results_path(id: @meeting.id, team_id: mrr.team_id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_team_results_tooltip') }
      = mrr.get_complete_relay_name
  %td.col-xs-1.goggles-rightalign
    = mrr.get_timing
  %td.col-xs-1.goggles-rightalign
    = mrr.get_formatted_standard_points
  %td.col-xs-1.goggles-rightalign
    = mrr.get_formatted_meeting_points
