-# --- Sub-legend for each category + gender
%div{'class'=>"goggles-category-gap", 'id'=>"#{meeting_event.event_type.code}"}
  .col-xs-3
    %h3= meeting_event.event_type.i18n_description

  .col-xs-9
    .navbar
      - if meeting_event.event_type.is_mixed_gender
        = link_to('#', {class: 'goggles-small-brand', 'data-turbolinks'=>'false'}) do
          = GenderType.find_by_id(GenderType::MIXED_OR_ANY_ID).i18n_short + ':'
        %ul.nav.nav-pills
          - meeting_event.meeting_programs.includes(:category_type, :gender_type).where(gender_type_id: GenderType::MIXED_OR_ANY_ID).order('category_types.id').each do |meeting_program|
            %li
              = link_to("#mprg#{meeting_program.id}", {class: 'goggles-nav-compact', 'data-turbolinks'=>'false'}) do
                = meeting_program.get_category_type_name
      - else
        = link_to('#', {class: 'goggles-small-brand', 'data-turbolinks'=>'false'}) do
          = GenderType.find_by_id(GenderType::FEMALE_ID).i18n_short + ':'
        %ul.nav.nav-pills
          - meeting_event.meeting_programs.includes(:category_type, :gender_type).where(gender_type_id: GenderType::FEMALE_ID).order('category_types.id').each do |meeting_program|
            %li
              = link_to("#mprg#{meeting_program.id}", {class: 'goggles-nav-compact', 'data-turbolinks'=>'false'}) do
                = meeting_program.get_category_type_name
        .ghost-divider-vertical
        = link_to('#', {class: 'goggles-small-brand', 'data-turbolinks'=>'false'}) do
          = GenderType.find_by_id(GenderType::MALE_ID).i18n_short + ':'
        %ul.nav.nav-pills
          - meeting_event.meeting_programs.includes(:category_type, :gender_type).where(gender_type_id: GenderType::MALE_ID).order('category_types.id').each do |meeting_program|
            %li
              = link_to("#mprg#{meeting_program.id}", {class: 'goggles-nav-compact', 'data-turbolinks'=>'false'}) do
                = meeting_program.get_category_type_name
