%tr{ 'class' => is_highlighted ? 'warning' : '' }
  %td.col-xs-1.goggles-rightalign
    = entry.start_list_number
  %td.col-xs-4
    = entry.swimmer.decorate.get_linked_swimmer_name
  %td.col-xs-1
    = entry.get_category_type_code
  %td.col-xs-4
    = entry.team.decorate.get_linked_name
  %td.col-xs-1.goggles-rightalign
    = entry.get_timing
