- has_passages = ( individual_result.passages.count > 0 )
%tr{ 'class' => is_highlighted ? 'warning' : '' }
  %td.span1.goggles-rightalign
    = show_tag( individual_result.rank==1 && individual_result.is_valid_for_ranking, "medal_gold_3.png", '' )
    = show_tag( individual_result.rank==2 && individual_result.is_valid_for_ranking, "medal_silver_3.png", '' )
    = show_tag( individual_result.rank==3 && individual_result.is_valid_for_ranking, "medal_bronze_3.png", '' )
    = individual_result.is_disqualified ? 'DSQ' : individual_result.rank
  %td.span4
    %a{ id: "swimmer#{individual_result.id}", href: "#{ meeting_show_swimmer_results_path(id: @meeting.id, team_id: individual_result.team_id, swimmer_id: individual_result.swimmer_id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_swimmer_results_tooltip') }
      = individual_result.get_swimmer_name
  %td.span1
    = individual_result.get_year_of_birth
  %td.span4
    %a{ id: "team#{individual_result.id}", href: "#{ meeting_show_team_results_path( id: @meeting.id, team_id: individual_result.team_id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_team_results_tooltip') }
      = individual_result.get_team_name
  %td.span1.goggles-rightalign
    - if has_passages
      .btn-link{ id: "passages#{individual_result.id}", 'data-toggle' => 'popover', 'data-trigger' => 'click', 'data-placement' => "top" }
        = individual_result.get_timing
    - else
      = individual_result.get_timing
  %td.span1.goggles-rightalign
    - if individual_result.standard_points > 0
      = sprintf( "%02.2f", individual_result.standard_points )
  %td.span1.goggles-rightalign
    - if individual_result.meeting_individual_points > 0
      = sprintf( "%02.2f", individual_result.meeting_individual_points )
  - if @meeting.has_start_list
    %td.span1.goggles-rightalign
      - if @meeting.meeting_entries.where(['swimmer_id = ? AND meeting_program_id = ?', individual_result.swimmer_id, individual_result.meeting_program_id]).count > 0
        = @meeting.meeting_entries.where(['swimmer_id = ? AND meeting_program_id = ?', individual_result.swimmer_id, individual_result.meeting_program_id]).first.get_timing

- if has_passages
  %script
    var popContent = "#{ escape_javascript( render(partial: 'show_full_popover_passages', locals: {individual_result: individual_result})) }";
    $("#passages#{individual_result.id}").popover({                             |
      title: "#{ escape_javascript(individual_result.get_timing.html_safe) }",  |
      html: true,                                                               |
      content: popContent                                                       |
    });                                                                         |
