.span10
  - @meeting_events_list.each do |meeting_event|
    -# --- Header with unique ID for each starting event_type "group":
    %div{'class'=>"goggles-category-gap", 'id'=>"#{meeting_event.event_type.code}"}
      %h3= meeting_event.event_type.i18n_description

    -# --- Sub-legend for each category + gender
    = render( partial: 'show_full_sub_legend', locals: { meeting_event: meeting_event } )

    - meeting_event.meeting_programs.includes(:category_type, :gender_type).order('category_types.id').each do |meeting_program|
      - if meeting_program.meeting_entries.count > 0
        %div{'class'=>"goggles-category-gap", 'id'=>"mprg#{meeting_program.id}"}
          %table.table.table-striped.table-bordered.table-hover.table-condensed
            %tbody
              %tr{'class'=>'info'}
                %td{'colspan'=>'5'}
                  %b= meeting_program.get_verbose_event_name
                  = admin_signed_in? ? " (meeting_programs.id=#{meeting_program.id}, category_types.id=#{meeting_program.get_category_type_id})" : ''
              - meeting_program.meeting_entries.sort_by_number.each do |entry|
                - is_highlighted = (@team && @team.id.to_i == entry.team_id) || (@swimmer && @swimmer.id.to_i == entry.swimmer_id)
                = render( partial: 'show_entry', locals: { entry: entry, is_highlighted: is_highlighted } )

  .row-fluid.goggles-category-gap
