%ul.nav.nav-tabs#pageTop{role: "tablist"}
  - if @meeting.invitation
    = show_tab_link( params, 'show_invitation', t('meeting.invitation'), meeting_show_invitation_path( id: @meeting.id ) )

  - if @meeting.has_start_list && (!@meeting.are_results_acquired || Date.current() <= @meeting.header_date + 1)
    = show_tab_link( params, 'show_start_list', t('meeting.start_list'), meeting_show_start_list_path( id: @meeting.id ) )
    = show_tab_link( params, 'show_start_list_by_category', t('meeting.start_list_by_category'), meeting_show_start_list_by_category_path( id: @meeting.id ) )
    = show_tab_link( params, 'show_team_entries', t('meeting.team_entries'), (@team ? meeting_show_team_entries_path(id: @meeting.id, team_id: @team.id) : '#') )

  - if @meeting.are_results_acquired
    = show_tab_link( params, 'show_full', t('results'), meeting_show_full_path( id: @meeting.id ) )
    = show_tab_link( params, 'show_ranking', t('ranking'), meeting_show_ranking_path( id: @meeting.id ) )

  - if @meeting.are_results_acquired || @meeting.has_start_list
    = show_tab_link( params, 'show_stats', t('stats'), meeting_show_stats_path( id: @meeting.id ) )

  - if @meeting.are_results_acquired
    = show_tab_link( params, 'show_team_results', t('team_results'), (@team ? meeting_show_team_results_path(id: @meeting.id, team_id: @team.id) : '#') )
    = show_tab_link( params, 'show_swimmer_results', t('swimmer_results'), (@swimmer && @team ? meeting_show_swimmer_results_path(id: @meeting.id, team_id: @team.id, swimmer_id: @swimmer.id) : '#') )
    - if current_user && current_user.team_managers.count > 0
      = show_tab_link( params, 'edit_passages', t('meeting.passages'), meeting_edit_passages_path( id: @meeting.id ) )

  - if current_user && TeamManagerValidator.any_reservations_for?( current_user, @meeting ) || ( TeamManagerValidator.is_manageable?( @meeting ) && TeamManagerValidator.can_manage?( current_user, @meeting ) )
    = show_tab_link( params, 'edit_events', t('meeting_reservation.manage_button_title'), |
                     meeting_reservations_edit_events_path(id: @meeting.id) )             |
