.accordion#accordionTeam
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordionTeam', :href => '#collapseTeam'}
        %h3.alert.alert-success#headerTeam{'data-toggle' => 'tooltip', 'title' => I18n.t(:detail_show_tooltip)}= @team.get_full_name
    .accordion-body.collapse.in#collapseTeam
      .accordion-inner
        .row-fluid
          .span2
            = I18n.t(:team_total_events, { scope: [:meeting] }) +':'
          .span2.goggles-div-rightalign
            = "#{@team_tot_events} / #{@meeting.meeting_events.count} #{I18n.t(:tot_events)}"
          - if @team_outstanding_scores > 0
            .offset1.span2
              = I18n.t(:team_total_outstanding_scores, { scope: [:meeting] }) +" (> #{ 800 }):"
            .span1.goggles-div-rightalign
              = @team_outstanding_scores
        .row-fluid
          .span3
            = I18n.t(:team_total_gold_medals, { scope: [:meeting] }) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_1
          .span1
            = show_tag( @team_ranks_1>0, "medal_gold_3.png" )
          - if @top_scores['F-standard_points']
            .span2
              = I18n.t( 'meeting_stats.best_female_score' )
            .span2
              = @top_scores['F-standard_points'].swimmer.get_full_name
            .span1
              = @top_scores['F-standard_points'].get_event_type
            .span1
              = @top_scores['F-standard_points'].get_timing
            .span1
              = @top_scores['F-standard_points'].standard_points.to_s
        .row-fluid
          .span3
            = I18n.t(:team_total_silver_medals, { scope: [:meeting] }) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_2
          .span1
            = show_tag( @team_ranks_2>0, "medal_silver_3.png" )
          - if @top_scores['M-standard_points']
            .span2
              = I18n.t( 'meeting_stats.best_male_score' )
            .span2
              = @top_scores['M-standard_points'].swimmer.get_full_name
            .span1
              = @top_scores['M-standard_points'].get_event_type
            .span1
              = @top_scores['M-standard_points'].get_timing
            .span1
              = @top_scores['M-standard_points'].standard_points.to_s
        .row-fluid
          .span3
            = I18n.t(:team_total_bronze_medals, { scope: [:meeting] }) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_3
          .span1
            = show_tag( @team_ranks_3>0, "medal_bronze_3.png" )
          - if @top_scores['goggle_cup_points']
            .span2
              = I18n.t( 'meeting_stats.best_score' ) + ' ' + @team.get_current_goggle_cup_name_at( @meeting.header_date)
            .span2
              = @top_scores['goggle_cup_points'].swimmer.get_full_name
            .span1
              = @top_scores['goggle_cup_points'].get_event_type
            .span1
              = @top_scores['goggle_cup_points'].get_timing
            .span1
              = @top_scores['goggle_cup_points'].goggle_cup_points.to_s
        .row-fluid
          .span3.right-align
            = I18n.t(:team_total_wooden_medals, { scope: [:meeting] }) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_4

      .accordion-inner
        %div.span10
          %table.table.table-striped.table-bordered.table-hover.table-condensed.goggles-meeting-team-results-table
            %tbody
              %tr
                %td{'colspan'=>'10'}
                  %i= I18n.t(:team_total_athletes, { scope: [:meeting] }) + ": #{ @meeting_team_swimmers.size }"
              - @meeting_team_swimmers.each do |swimmer|
                %tr
                  %td
                    %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>@meeting.id, :team_id=>@team.id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                      = swimmer.get_full_name
                  %td.goggles-border-right
                    = (mir = @events_per_swimmers[swimmer.id].first) ? mir.category_type.code : '?'
                  - @events_per_swimmers[swimmer.id].each do |individual_result|
                    - mir = MeetingIndividualResultDecorator.decorate( individual_result )
                    %td.goggles-noborder.goggles-rightalign
                      - event_type = mir.meeting_event.event_type
                      %a(href="\##{event_type.code}")= event_type.i18n_short
                    %td.goggles-noborder.goggles-rightalign.span1
                      = mir.get_timing
                    %td.goggles-noborder.goggles-rightalign
                      = mir.show_any_rank_medal
                      = mir.get_rank_description
                    %td.goggles-border-onlyright.goggles-rightalign
                      - if mir.standard_points > 0
                        = format_score( mir.standard_points ).html_safe
                      - else
                        = mir.get_formatted_individual_points

%script
  $('#headerTeam').tooltip({placement:'bottom'});
  $('body').attr('data-spy', 'scroll');
  $('body').attr('data-target','#goggles-float-list');
  $('#goggles-float-list').scrollspy();
  $('[data-spy="scroll"]').each(function () { var $spy = $(this).scrollspy('refresh') });
