.accordion#accordionTeam
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordionTeam', :href => '#collapseTeam'}
        %h3.alert.alert-success#headerTeam{'data-toggle' => 'tooltip', 'title' => I18n.t(:detail_show_tooltip)}= @team.get_full_name
    .accordion-body.collapse.in#collapseTeam
      .accordion-inner
        .row-fluid
          .span2
            = I18n.t(:team_total_events, {:scope=>[:meeting]}) +':'
          .span2.goggles-div-rightalign
            = "#{@team_tot_events} / #{@meeting.meeting_events.count} #{I18n.t(:tot_events)}"
        .row-fluid
          .span3
            = I18n.t(:team_total_gold_medals, {:scope=>[:meeting]}) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_1
          .span1
            = show_tag( @team_ranks_1>0, "medal_gold_3.png" )
        .row-fluid
          .span3
            = I18n.t(:team_total_silver_medals, {:scope=>[:meeting]}) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_2
          .span1
            = show_tag( @team_ranks_2>0, "medal_silver_3.png" )
        .row-fluid
          .span3
            = I18n.t(:team_total_bronze_medals, {:scope=>[:meeting]}) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_3
          .span1
            = show_tag( @team_ranks_3>0, "medal_bronze_3.png" )
        .row-fluid
          .span3.right-align
            = I18n.t(:team_total_wooden_medals, {:scope=>[:meeting]}) +':'
          .span1.goggles-div-rightalign
            = @team_ranks_4
        .row-fluid
          .span3
            = I18n.t(:team_total_outstanding_scores, {:scope=>[:meeting]}) +" (> #{ 800 }):"
          .span1.goggles-div-rightalign
            = @team_outstanding_scores

      .accordion-inner
        %div.span12
          %table.table.table-striped.table-bordered.table-hover.table-condensed.goggles-meeting-team-results-table
            %tbody
              %tr
                %td{'colspan'=>'2'}
                  %i= I18n.t(:team_total_athletes, {:scope=>[:meeting]}) + ": #{ @meeting_team_swimmers.size }"
              - @meeting_team_swimmers.each do |swimmer|
                %tr
                  %td{'colspan'=>'1'}
                    %a{'id'=>"swimmer#{swimmer.id}", 'href'=>"#{ show_swimmer_results_meeting_path(:id=>@meeting.id, :swimmer_id=>swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip')}
                      = swimmer.get_full_name
                  %td.goggles-border-right{'colspan'=>'1'}
                    = (mir = @events_per_swimmers[swimmer.id].first) ? mir.category_type.code : '?'
                    = (mir && admin_signed_in? ? " (id=#{mir.category_type.id})" : '')
                  - @events_per_swimmers[swimmer.id].each do |row|
                    %td.goggles-noborder.goggles-rightalign{'colspan'=>"2"}
                      - event_type = row.meeting_event.event_type
                      %a(href="\##{event_type.code}")= event_type.i18n_short
                    %td.goggles-noborder.goggles-rightalign
                      = show_tag( row.rank==1 && row.is_valid_for_ranking, "medal_gold_3.png", '' )
                      = show_tag( row.rank==2 && row.is_valid_for_ranking, "medal_silver_3.png", '' )
                      = show_tag( row.rank==3 && row.is_valid_for_ranking, "medal_bronze_3.png", '' )
                      = row.rank
                    %td.goggles-border-onlyright.goggles-rightalign
                      = (row.meeting_individual_points>800 ? "! " : '' )
                      = show_tag( row.meeting_individual_points>800, "asterisk_orange.png", '' )
                      = sprintf( "%02.2f", row.meeting_individual_points )

%script
  $('#headerTeam').tooltip({placement:'bottom'});
  $('body').attr('data-spy', 'scroll');
  $('body').attr('data-target','#goggles-float-list');
  $('#goggles-float-list').scrollspy();
  $('[data-spy="scroll"]').each(function () { var $spy = $(this).scrollspy('refresh') });
