.offset1.span10
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'success'}
        %td.goggles-centeralign{'colspan'=>'4'}
          %b= I18n.t('meeting_team_score.ranking')
        %td.goggles-centeralign
          = I18n.t('meeting_team_score.team_total_athletes')
        %td.goggles-centeralign
          = I18n.t('meeting_team_score.meeting_individual_points')
        %td.goggles-centeralign
          = I18n.t('meeting_team_score.meeting_relay_points')
        - if @total_team_bonus > 0
          %td.goggles-centeralign
            = I18n.t('meeting_team_score.meeting_team_points')
        %td.goggles-centeralign
          %b= I18n.t('meeting_team_score.total')
      - tot_swimmers = 0
      - @meeting_team_scores.each do |team_score|
        - is_highlighted = (@preselected_team_id.to_i == team_score.team_id)
        %tr{'class' => is_highlighted ? 'warning' : ''}
          %td.goggles-rightalign
            = team_score.rank
          %td{'colspan'=>'3'}
            %a{'id'=>"team#{team_score.id}", 'href'=>"#{ show_team_results_meeting_path(:id=>@meeting.id, :team_id=>team_score.team_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_team_results_tooltip')}
              = team_score.get_team_name
          %td.goggles-rightalign
            - tot_swimmers += (swimmers_count = Team.get_swimmer_ids_for(team_score.team_id, @meeting.id).size)
            = swimmers_count
          %td.goggles-rightalign
            = sprintf( "%02.2f", team_score.meeting_individual_points )
          %td.goggles-rightalign
            = sprintf( "%02.2f", team_score.meeting_relay_points )
          - if @total_team_bonus > 0
            %td.goggles-rightalign
              = sprintf( "%02.2f", team_score.meeting_team_points )
          %td.goggles-rightalign
            %b= sprintf( "%02.2f", team_score.meeting_individual_points + team_score.meeting_relay_points + team_score.meeting_team_points )
      %tr
        %td
        %td{'colspan'=>'3'}
          %i= "#{I18n.t('meeting_team_score.attending_teams')}: #{@meeting_team_scores.size}"
        %td.goggles-rightalign
          %i= tot_swimmers
        %td{'colspan'=>'4'}

.row-fluid
  .span12
