.row.col-xs-12
  %h3= @title
  = paginate( @meetings, theme: 'twitter-bootstrap-3' )

= render( partial: 'goggles/meeting_list' )

.row.goggles-category-gap
  = paginate( @meetings, theme: 'twitter-bootstrap-3' )
  %br/
  = page_entries_info( @meetings, entry_name: 'meeting' )

.row.col-xs-12.goggles-category-gap#Remark
  %b= t('calendars.remark')

.row.col-xs-12
  &nbsp;
