= render partial: 'current_meetings_grid'
.accordion#accordionFlt
  .accordion-group
    .accordion-inner
      .accordion-heading
        %h3= @title
    .accordion-body
      .accordion-inner
        .row
          .col-xs-2
            = I18n.t('meeting_calendar.meeting')
          .col-xs-10
            = grid_filter @meetings_grid, :flt_description
        .row
          .col-xs-2
            = I18n.t('meeting_calendar.federation')
          .col-xs-10
            = grid_filter @meetings_grid, :flt_season_id
        .row
          .col-xs-2
            = I18n.t('meeting_calendar.pool_type')
          .col-xs-10
            = grid_filter @meetings_grid, :flt_pool_type
        - if 1 == 2
          .row
            .col-xs-2
              = I18n.t('meeting_calendar.meeting_program')
            .col-xs-10
              .ui-widget
                = grid_filter @meetings_grid, :flt_events_list
        .row
          .col-xs-12
            .external-buttons
              %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'}
                = I18n.t(:submit)
              %button.btn.wg-external-reset-button{'data-grid-name' => 'grid'}
                = I18n.t(:reset)
.row
  .col-xs-12
    = render_grid( @meetings_grid )
%script
  $('#grid_f_id').combobox();
