- cache( cache_key_for_meeting( 'show_stats', @meeting.id, @max_mir_updated_at, @preselected_team_id) ) do
  %ul.nav.nav-tabs#topOfPage
    %li
      = link_to(t(:results), meeting_show_full_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
    %li
      = link_to(t(:ranking), meeting_show_ranking_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
    %li.active
      = link_to(t(:stats), '#')
    %li{ class: (@preselected_team_id ? '' : 'disabled') }
      = link_to(t(:team_results), meeting_show_team_results_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
    %li.disabled
      = link_to(t(:swimmer_results), '#')

  = render( partial: 'meeting_header' )

  .row-fluid
    .span12
      = render( partial: 'meeting_stats_grid' )
