%ul.nav.nav-tabs#topOfPage
  %li.active
    = link_to(t(:results), '#')
  %li
    = link_to(t(:ranking), show_ranking_meeting_path(@meeting))
  %li.disabled
    = link_to(t(:team_results), '#')
  %li.disabled
    = link_to(t(:swimmer_results), '#')

.row
  %ul.offset10.span2.nav.nav-tab.nav-stacked.navbar-fixed-bottom#goggles-float-list
    %li
      %a(href="#topOfPage")= I18n.t(:top_of_page)
    - @meeting_events_list.each do |me|
      %li
        %a(href="\##{me.event_type.code}")= me.event_type.i18n_description

= render( partial: 'meeting_header' )

.row-fluid
  .span12
    = render( partial: 'full_results_grid' )
