= render( partial: 'meeting_header' )
= render( partial: 'tabs_and_title' )
- cache( cache_key_for_meeting( 'show_full', @meeting.id, @max_mir_updated_at, @team ? @team.id : 0 ) ) do
  .row
    %ul.col-xs-offset-10.col-xs-2.col-sm-offset-11.col-sm-1.col-md-offset-11.col-md-1.nav.nav-pills.nav-stacked.navbar-fixed-bottom.goggles-divlist-odd.navpill_side
      %li
        = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
          = image_tag('bullet_arrow_up.png')
      - @meeting_events_list.each do |me|
        - if me.meeting_individual_results.count > 0 || me.meeting_relay_results.count > 0
          %li
            = link_to("##{me.event_type.code}", {'data-turbolinks'=>'false'}) do
              = me.event_type.i18n_short
  .row.col-xs-12
    = render( partial: 'full_results_grid' )

  .col-xs-12
    &nbsp;
