= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_meeting( 'show_team_entries', @meeting.id, @max_entry_updated_at, @team ? @team.id : 0 ) ) do
  .row.fluid
    %div{'class'=>"goggles-category-gap"}
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td{'rowspan'=>'2'}
              %b= t('swimmers.swimmers')
            - @meeting.meeting_sessions.each do |meeting_session|
              - event_num = meeting_session.meeting_events.count
              %td{'colspan'=>event_num}
                = meeting_session.get_order_with_date
                = meeting_session.get_pool_attributes
                = "#{meeting_session.get_begin_time} (#{meeting_session.get_warm_up_time})" 
                
          %tr{'class'=>'info'}
            - @meeting.meeting_sessions.each do |meeting_session|
              - meeting_session.meeting_events.each do |meeting_event|
                %td
                  = meeting_event.event_type.code

      = t('coming_soon')  
