- cache( cache_key_for_meeting( 'show_stats', @meeting.id, @max_mir_updated_at, @team ? @team.id : 0 ) ) do
  = render( partial: 'tabs_and_radio_title' )

  = render( partial: 'meeting_header' )

  .row-fluid
    .span12
      %div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_teams'}
        = render( partial: 'meeting_stats_teams' )
  .row-fluid
    .span12
      %div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_categories'}
        = render( partial: 'meeting_stats_categories' )
  .row-fluid
    .span12
      %div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_events'}
        = render( partial: 'meeting_stats_events' )
  .row-fluid
    .span12
      %div{'class'=>"goggles-category-gap", 'id'=>'meeting_stats_specials'}
        = render( partial: 'meeting_stats_specials' )
  .row-fluid

