%ul.nav.nav-tabs#topOfPage
  %li.active#firstTab
    = link_to(t(:results), '#')
  %li
    = link_to(t(:ranking), meeting_show_ranking_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
  %li
    = link_to(t(:stats), meeting_show_stats_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
  %li{ class: (@preselected_team_id ? '' : 'disabled') }
    = link_to(t(:team_results), (@preselected_team_id ? meeting_show_team_results_path(:id=>@meeting.id, :team_id=>@preselected_team_id) : '#'))
  %li.disabled
    = link_to(t(:swimmer_results), '#')

.row
  %ul.offset10.span2.nav.nav-tab.nav-stacked.navbar-fixed-bottom.goggles-divlist-odd
    %li
      %a(href="#topOfPage")= I18n.t(:top_of_page)
    - @meeting_events_list.each do |me|
      %li
        %a(href="\##{me.event_type.code}")= me.event_type.i18n_description

= render( partial: 'meeting_header' )

.row-fluid
  .span12
    = render( partial: 'full_results_grid' )

%script
  $('#firstTab').addClass('active');
