= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_meeting( 'show_team_entries', @meeting.id, @max_entry_updated_at, @team ? @team.id : 0 ) ) do
  .row.fluid.goggles-category-gap
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td{'rowspan'=>'2'}
            %b= t('swimmers.swimmers')
          - @meeting.meeting_sessions.each do |meeting_session|
            - event_num = meeting_session.meeting_events.count
            %td{'colspan'=>event_num}
              = meeting_session.get_order_with_date
              = meeting_session.get_pool_attributes
              = "#{meeting_session.get_begin_time} (#{meeting_session.get_warm_up_time})" 
              
        %tr{'class'=>'info'}
          - @meeting.meeting_sessions.each do |meeting_session|
            - meeting_session.meeting_events.each do |meeting_event|
              %td.goggles-centeralign
                = meeting_event.event_type.code
        - swimmers = []
        - @meeting.meeting_entries.for_team(@team).sort_by_swimmer.each do |meeting_entry|
          - swimmers << meeting_entry.swimmer if !swimmers.include?( meeting_entry.swimmer )
        - swimmers.each do |swimmer|
          %tr
            %td
              %b=swimmer.decorate.get_linked_swimmer_name
            - @meeting.meeting_sessions.each do |meeting_session|
              - meeting_session.meeting_events.each do |meeting_event|
                %td.goggles-rightalign
                  = @meeting.meeting_entries.joins(:meeting_program, :meeting_event).where(['meeting_entries.swimmer_id = ? and meeting_events.event_type_id = ?', swimmer.id, meeting_event.event_type_id]).first.get_timing if @meeting.meeting_entries.joins(:meeting_program, :meeting_event).where(['meeting_entries.swimmer_id = ? and meeting_events.event_type_id = ?', swimmer.id, meeting_event.event_type_id]).count > 0

  .row.fluid.goggles-category-gap

