%ul.nav.nav-tabs#topOfPage
  %li
    = link_to(t(:results), show_full_meeting_path(@meeting))
  %li
    = link_to(t(:ranking), show_ranking_meeting_path(@meeting))
  %li.disabled
    = link_to(t(:team_results), '#')
  %li.active
    = link_to(t(:swimmer_results), '#')

= render( partial: 'meeting_header' )

.row-fluid.span12
  .span3
    %h4= @swimmer.get_full_name
  .span1
    %h4= @swimmer.year_of_birth
  .span2
    %h4= @individual_result_list.first.get_category_and_gender_short
  .span6
    %h4
      %a{'id'=>"swimmer#{@swimmer.id}", 'href'=>"#{ show_team_results_meeting_path(:id=>@meeting.id, :team_id=>@individual_result_list.first.team_id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_team_results_tooltip')}
        = @swimmer.get_team_names

.row-fluid
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr
        %td.span4
        %td.span1.goggles-rightalign
          %i= I18n.t('activerecord.attributes.meeting_individual_result.rank')
        %td.span2.goggles-rightalign
        %td.span2.goggles-rightalign
          %i= I18n.t('activerecord.attributes.meeting_individual_result.standard_points')
        %td.span2.goggles-rightalign
          %i= I18n.t('activerecord.attributes.meeting_individual_result.meeting_points')
        %td.span1
      - @individual_result_list.each do |individual_result|
        %tr
          %td.span4
            %b= individual_result.get_event_type_description
          %td.span1.goggles-rightalign
            = individual_result.is_disqualified ? 'DSQ' : individual_result.rank
          %td.span2.goggles-rightalign
            = individual_result.get_timing
          %td.span2.goggles-rightalign
            = sprintf( "%02.2f", individual_result.standard_points )
          %td.span2.goggles-rightalign
            = sprintf( "%02.2f", individual_result.meeting_individual_points )
          %td.span1
            = show_tag( individual_result.rank==1 && individual_result.is_valid_for_ranking, "medal_gold_3.png", '' )
            = show_tag( individual_result.rank==2 && individual_result.is_valid_for_ranking, "medal_silver_3.png", '' )
            = show_tag( individual_result.rank==3 && individual_result.is_valid_for_ranking, "medal_bronze_3.png", '' )
