= render( partial: 'meeting_header' )
= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_meeting( 'show_full', @meeting.id, @max_mir_updated_at, @team ? @team.id : 0 ) ) do
  .row
    %ul.col-xs-offset-10.col-xs-2.nav.navbar-nav.nav.navbar-nav-tab.nav.navbar-nav-stacked.navbar-fixed-bottom.goggles-divlist-odd
      %li
        = link_to(I18n.t(:top_of_page), "#pageTop", {'data-turbolinks'=>'false'})
      - @meeting_events_list.each do |me|
        %li
          = link_to("##{me.event_type.code}", {'data-turbolinks'=>'false'}) do
            = me.event_type.i18n_description
  .row
    .col-xs-12
      = render( partial: 'full_results_grid' )
