%ul.nav.nav-tabs#topOfPage
  %li
    = link_to(t(:results), meetings_show_full_path(:id=>@meeting.id, :team_id=>@team_id))
  %li
    = link_to(t(:ranking), meetings_show_ranking_path(:id=>@meeting.id, :team_id=>@team_id))
  %li
    = link_to(t(:stats), meetings_show_stats_path(:id=>@meeting.id, :team_id=>@team_id))
  %li.active
    = link_to(t(:team_results), '#')
  %li.disabled
    = link_to(t(:swimmer_results), '#')

= render( partial: 'meeting_header' )
= render( partial: 'team_header' )

.row-fluid
  .span12
    = render( partial: 'full_results_team_grid' )
