= render( partial: 'meeting_header' )
= render( partial: 'tabs_and_title' )
.goggles-category-gap.col-xs-12
  .col-xs-12
    - if @meeting.invitation
      .goggles-category-gap.col-xs-12
      - if @meeting.invitation.to_s =~ /^(https?\:\/\/.+)/ui
        -# Downloadable manifest?
        - if @meeting.invitation.to_s =~ /www.federnuoto.it/ui
          - if user_signed_in?
            .col-xs-12.text-center
              %i= I18n.t('meeting.download_disclaimer')
            .goggles-category-gap.col-xs-12
              &nbsp;
            .col-xs-12
              #downloaded_manifest
                %span(id='loadingIndicator')
                  = image_tag( 'indicator.gif' )
          - else
            .panel-body.text-center
              .col-xs-12
                = render( partial: 'goggles/login_or_signup_buttons' )
        - else
          .col-xs-12.embed-responsive.embed-responsive-4by3
            %iframe.embed-responsive-item{ :src => @meeting.invitation.to_s }
              %p= t('browser_does_not_support_iframes')
              %a{:href => @meeting.invitation.to_s }
                = t('meeting.invitation')
                &nbsp;
                = @meeting.get_verbose_name
      - else
        - cache( cache_key_for_meeting( 'show_invitation', @meeting.id, @max_mir_updated_at ) ) do
          - html_doc = Nokogiri::HTML( @meeting.invitation )
          .col-xs-12
            = html_doc.css('style').to_html.html_safe
            = html_doc.css('body').inner_html.html_safe
  .col-xs-12
    &nbsp;

:javascript
  // (Wait for the page to be ready)
  $( function() {
    // Do we have a retrievable link?
    if ( #{ @meeting.invitation.to_s =~ /www.federnuoto.it/ui } ) {
      // Get the page via AJAX:
      $.get({
        url: "#{ api_v1_meeting_download_path( url: @meeting.invitation.to_s.gsub('http:', 'https:') ) }",
      }).done( function( result ) {
        $('#downloaded_manifest').replaceWith( result.data );
      });
    }
  });
