%ul.nav.nav-tabs#topOfPage
  %li
    = link_to(t(:results), show_full_meeting_path(@meeting))
  %li.active
    = link_to(t(:ranking), '#')
  %li.disabled
    = link_to(t(:team_results), '#')
  %li.disabled
    = link_to(t(:swimmer_results), '#')

= render( partial: 'meeting_header' )

.row-fluid
  .span12
    = render( partial: 'team_scores_grid' )
