%ul.nav.nav-tabs#topOfPage
  %li
    = link_to(t(:results), meetings_show_full_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
  %li.active
    = link_to(t(:ranking), '#')
  %li
    = link_to(t(:stats), meetings_show_stats_path(:id=>@meeting.id, :team_id=>@preselected_team_id))
  %li{ :class => (@preselected_team_id ? '' : 'disabled') }
    = link_to(t(:team_results), (@preselected_team_id ? meetings_show_team_results_path(:id=>@meeting.id, :team_id=>@preselected_team_id) : '#'))
  %li.disabled
    = link_to(t(:swimmer_results), '#')

= render( partial: 'meeting_header' )

.row-fluid
  .span12
    = render( partial: 'team_scores_grid' )
