.accordion#accordionFlt
  .accordion-group
    .accordion-inner
      .accordion-heading
        %h3= @title
    .accordion-body
      .accordion-inner
        = form_tag( :meetings_simple_search, remote: true, method: :get, class: 'form-horizontal', onsubmit: "$('#loadingIndicator').show();") do
          .row-fluid
            .control-group
              .control-label#tooltipLabel
                = label_tag( :search_text, I18n.t('meeting.text_to_be_searched'), for: :search_text, 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.simple_search_tooltip') )
              .controls
                = text_field_tag( :search_text, nil, { class: 'input-xxlarge' } )
              %script
                $('#tooltipLabel').tooltip();
          .row-fluid
            .controls
              = submit_tag( I18n.t(:submit), data: { disable_with: I18n.t(:please_wait), class: 'btn disabled' }, class: 'btn' )
              %span(id='loadingIndicator' hidden='true')
                = image_tag( 'indicator.gif' )
#meetingGrid
  =render(partial: 'meeting_grid')
