#search_results
  = render( partial: 'swimmer_results' )
  = render( partial: 'team_results' )
  = render( partial: 'pool_results' )
  = render( partial: 'meeting_results' )
  #empty_results
    - if @swimmers && (@swimmers.count == 0) && @teams && (@teams.count == 0) && @pools && (@pools.count == 0) && @meetings && (@meetings.count == 0)
      .col-xs-12.goggles-category-gap
        %i.text-center
          = I18n.t("search_view.no_results_found_warning")
