%table.table.table-striped.table-bordered.table-condensed.table-hover
  %tr
    %td.goggles-rightalign
      = 'Piazz.'
    %td.goggles-rightalign
      = 'Rank'
    %td.goggles-rightalign
      = 'Spec'
    %td.goggles-rightalign
      = 'Podi'
  %tr
    %td.goggles-rightalign
      = meeting_score.event_points
    %td.goggles-rightalign
      = meeting_score.ranking_points
    %td.goggles-rightalign
      = meeting_score.event_bonus_points
    %td.goggles-rightalign
      = meeting_score.medal_bonus_points
