%ul.nav.nav-tabs#pageTop{role: "tablist"}
  = show_tab_link( params, 'calendar_regional_er_csi', t('championships.calendar'), championships_calendar_regional_er_csi_path( id: @season.id ) )

  - if @season.meeting_individual_results.count > 0
    = show_tab_link( params, 'ranking_regional_er_csi', t('championships.team_ranking'), championships_ranking_regional_er_csi_path( id: @season.id ) )

    - if @season.id == 141 || @season.id == 151
      = show_tab_link( params, 'individual_rank_regional_er_csi', t('championships.individual_rank'), championships_individual_rank_regional_er_csi_path( id: @season.id ) )

    = show_tab_link( params, 'event_ranking_regional_er_csi', t('championships.event_ranking'), championships_event_ranking_regional_er_csi_path( id: @season.id ) )

  - if @season.rules
    = show_tab_link( params, 'rules_regional_er_csi', t('championships.rules'), championships_rules_regional_er_csi_path( id: @season.id ) )

  = show_tab_link( params, 'history_regional_er_csi', t('championships.history'), championships_history_regional_er_csi_path( id: @season.id ) )
