.row#history_regional_er_csi
  .goggles-category-gap#pageTop
    = render( partial: 'regional_er_csi_tabs' )
    = render( partial: 'title' )

    - if @season.id != @current_season_id
      .navbar
        %ul.nav.nav-pills
          %li
            = link_to( t('championships.back_to_current'), championships_calendar_regional_er_csi_path( id: @current_season_id ), {class: "goggles-nav-compact"})
        .ghost-divider-vertical

    %table.table.table-striped.table-bordered.table-hover.table-condensed#history
      %tbody
        %tr{'class'=>'info'}
          %td
            %b= t('calendars.meeting')
          %td.goggles-rightalign
            %b= t('calendars.date')
          %td.goggles-rightalign
            %b= t('calendars.warm_up')
          %td.goggles-rightalign
            %b= t('calendars.begin')
          %td
            %b= t('calendars.events')
          %td
            %b= t('calendars.pool')
        - @season_meetings_calendar.each do |calendar_dao|
          - session_number = calendar_dao.meeting_sessions.count
          - if session_number == 0
            %tr
              %td
                = calendar_dao.meeting.decorate.get_linked_name
              - if calendar_dao.meeting.header_date
                %td.goggles-rightalign
                  - if calendar_dao.meeting.is_confirmed
                    = calendar_dao.meeting.header_date
                  - else
                    = calendar_dao.meeting.header_date.to_s + ' (*)'
                %td{ colspan: 4 }
                  = t('to_be_defined')
              - else
                %td{ colspan: 5 }
                  = t('to_be_defined')
          - else
            - calendar_dao.meeting_sessions.each_with_index do |meeting_session, index|
              %tr
                - if index == 0
                  %td{ rowspan: session_number }
                    = calendar_dao.meeting.decorate.get_linked_name
                - if index == 0
                  %td.goggles-rightalign{ rowspan: session_number }
                    - if calendar_dao.meeting.is_confirmed
                      = meeting_session.scheduled_date
                    - else
                      = meeting_session.scheduled_date.to_s + ' (*)'
                %td.goggles-rightalign
                  = meeting_session.warm_up_time
                %td.goggles-rightalign
                  = meeting_session.begin_time
                %td
                  = meeting_session.events_list
                - if index == 0
                  %td{ rowspan: session_number }
                    = meeting_session.swimming_pool.decorate.get_linked_name( :get_city_and_attributes )

.row.goggles-category-gap#Remark
  %p
    %b= t('calendars.remark')

.row.goggles-category-gap
