.row#calendar_supermaster_fin
  .goggles-category-gap#pageTop
    = render( partial: 'supermaster_fin_tabs' )
  .goggles-category-gap
    = render( partial: 'title' )

    - if @season.id != @current_season_id
      .navbar
        %ul.nav.nav-pills
          %li
            = link_to( t('championships.back_to_current'), championships_calendar_supermaster_fin_path( id: @current_season_id ), {class: "goggles-nav-compact"})
        .ghost-divider-vertical

= render( partial: 'goggles/meeting_list', locals: {season: false} )

.row.col-xs-12.goggles-category-gap#Remark
  %b= t('calendars.remark')

.row.col-xs-12
  &nbsp;
