.row.col-xs-12#history_regional_er_csi
  .row.col-xs-12.goggles-category-gap#pageTop
    = render( partial: 'regional_er_csi_tabs' )
  .row.col-xs-12.goggles-category-gap
    = render( partial: 'title' )

    - if @season.id != @current_season_id
      .navbar
        %ul.nav.nav-pills
          %li
            = link_to( t('championships.back_to_current'), championships_calendar_regional_er_csi_path( id: @current_season_id ), {class: "goggles-nav-compact"})
        .ghost-divider-vertical

.row.col-xs-12
  = render( partial: 'goggles/meeting_list', locals: {season: false} )

.row.col-xs-12.goggles-category-gap#Remark
  %b= t('calendars.remark')

.row.col-xs-12
  &nbsp;
