.row#event_ranking_regional_er_csi
  .goggles-category-gap#pageTop
    = render( partial: 'regional_er_csi_tabs' )
    = render( partial: 'title' )
    - cache( cache_key_for_meeting( 'event_ranking', @season.id, @ranking_updated_at, @team ? @team.id : 0 ) ) do
      .row
        %p
          %i= I18n.t('championships.ranking.starred_score_note')

      %ul.col-xs-offset-10.col-xs-2.col-sm-offset-11.col-sm-1.col-md-offset-11.col-md-1.nav.nav-pills.nav-stacked.navbar-fixed-bottom.goggles-divlist-odd.navpill_side
        %li
          = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
            = image_tag('bullet_arrow_up.png')
        - GenderType.individual_only.sort_by_courtesy.each do |gender_type|
          %li
            = link_to("\##{gender_type.code}", {'data-turbolinks'=>'false'}) do
              = "- #{ gender_type.i18n_short } -"
          - @category_types.each do |category_type|
            %li
              = link_to("\##{gender_type.code}-#{category_type.code}", {'data-turbolinks'=>'false'}) do
                = category_type.get_short_name
      .col-xs-10
        - @season_ranking.each do |gender|
          .row.goggles-category-gap{'id'=>"#{gender[:gender_type].code}"}
            .h3
              = gender[:gender_type].i18n_description
              = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                = image_tag('bullet_arrow_up.png')
          - gender[:categories].each do |category|
            .row.goggles-category-gap{'id'=>"#{gender[:gender_type].code}-#{category[:category_type].code}"}
              .h3
                = gender[:gender_type].i18n_description + ' ' + category[:category_type].get_full_name
                = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                  = image_tag('bullet_arrow_up.png')

              %table.table.table-striped.table-bordered.table-hover.table-condensed
                %tbody
                  - category[:events].each do |event|
                    - if event[:mirs].size > 0
                      %tr{'class'=>'info'}
                        %td{ colspan: 5 }
                          %b
                            = event[:event_type].i18n_description
                            = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                              = image_tag('bullet_arrow_up.png')
                        %td.goggles-rightalign.col-xs-1= '(' + event[:event_swam].to_s + '/' + event[:event_count].to_s + ')'
                        - best_timing = event[:mirs].first.get_timing_instance.to_hundreds if event[:mirs].size > 0
                      - event[:mirs].each_with_index do |mir, counter|
                        - score = 100 * best_timing / mir.get_timing_instance.to_hundreds
                        - is_highlighted = (@team && @team.id == mir.team_id)
                        - conversion_tag = mir.pool_type.code == '50' ? '*' : ''
                        %tr{ 'class' => is_highlighted ? 'warning' : '' }
                          %td.goggles-rightalign.col-xs-1= counter + 1
                          %td.col-xs-4= mir.swimmer.decorate.get_linked_swimmer_name
                          %td.goggles-centeralign.col-xs-1= mir.swimmer.year_of_birth
                          %td.col-xs-4= mir.team.decorate.get_linked_name
                          %td.goggles-rightalign.col-xs-1= mir.get_timing + conversion_tag
                          %td.goggles-rightalign.col-xs-1= score.round(0)

      .row.goggles-category-gap
