.row-fluid#individual_rank_regional_er_csi
  .goggles-category-gap#pageTop
    = render( partial: 'regional_er_csi_tabs' )
    = render( partial: 'title' )
    - cache( cache_key_for_meeting( 'individual_ranking', @season.id, @ranking_updated_at, @team ? @team.id : 0 ) ) do
    - meeting_columns = @individual_ranking.meetings_with_results.count
      
      %p= I18n.t('meeting_stats.rank_disclaimer') 
  
      %ul.offset10.span2.nav.nav-tab.nav-stacked.navbar-fixed-bottom.goggles-divlist-odd
        %li
          %a(href="#topOfPage")= I18n.t(:top_of_page)
        - GenderType.individual_only.sort_by_courtesy.each do |gender_type|
          %li
            %a(href="\##{gender_type.code}")= gender_type.i18n_description 
          - @category_types.each do |category_type|
            %li
              %a(href="\##{gender_type.code}-#{category_type.code}")= "- #{category_type.get_full_name}"
  
      .span10
        - GenderType.individual_only.sort_by_courtesy.each do |gender_type|
          .row-fluid.goggles-category-gap{'id'=>"#{gender_type.code}"}
            .h3
              = gender_type.i18n_description
              %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
          - @category_types.each do |category_type|
            - rank_array = @individual_ranking.calculate_ranking( gender_type, category_type )
            .row-fluid.goggles-category-gap{'id'=>"#{gender_type.code}-#{category_type.code}"}
              %table.table.table-striped.table-bordered.table-hover.table-condensed
                %tbody
                  %tr{'class'=>'info'}
                    %td{ colspan: 5 + meeting_columns }
                      %b= category_type.get_full_name
                      = ' '
                      %b= gender_type.i18n_description
                      %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
  
                  - rank_array.swimmers.each_with_index do |ranked_swimmer,index|
                    - curr_swimmer = ranked_swimmer.swimmer.decorate
                    - curr_team = curr_swimmer.get_current_team( @season ).decorate
                    - is_highlighted = (@team && @team.id == curr_team.id)
                    %tr{ 'class' => is_highlighted ? 'warning' : '' }
                      %td
                        = index + 1
                      %td
                        = curr_swimmer.get_linked_swimmer_name
                      %td.goggles-rightalign
                        = curr_swimmer.year_of_birth
                      %td
                        = curr_team.get_linked_name
                        
                      - @individual_ranking.meetings_with_results.each do |meeting|
                        - meeting_score = ranked_swimmer.get_meeting_scores( meeting )
                        - if meeting_score
                          %td.goggles-rightalign{ 'data-toggle'=>'tooltip', 'title'=>"#{meeting_score.event_points}+#{meeting_score.ranking_points}+#{meeting_score.event_bonus_points}+#{meeting_score.medal_bonus_points}" }
                            = meeting_score.get_total_points
                        - else
                          %td
                        
                      %td.goggles-rightalign{ 'data-toggle'=>'tooltip', 'title'=>"#{@individual_ranking.meetings_with_results.count}" }
                        %b= ranked_swimmer.total_best_5_on_6
                  
                  %tr{'class'=>'info'}
                    %td{ colspan: 5 + meeting_columns }
                      %b= I18n.t('meeting_stats.tot_swimmers')
                      %b= ': '
                      %b= rank_array.swimmers.size
                    
.row-fluid.goggles-category-gap
