.row-fluid#regional_er_csi
  .goggles-category-gap#pageTop
    = render( partial: 'regional_er_csi_tabs' )
    = render( partial: 'title' )
    - cache( cache_key_for_meeting( 'team_ranking', @season.id, @ranking_updated_at, @team ? @team.id : 0 ) ) do
      - col_x_meeting = @championship_ranking.columns.count + 1
      - meeting_stats = []
      -# --- Sub-legend for each argument
      .navbar
        %ul.nav
          - if @season.id != @current_season_id
            %li
              = link_to( t('championships.back_to_current'), championships_ranking_regional_er_csi_path( id: @current_season_id ), {class: "btn"})
          %li
            &nbsp;
          %li
            = link_to("#team_ranking", {class: 'btn', 'data-turbolinks'=>'false'}) do
              = t('championships.team_ranking')
          %li
            &nbsp;
          %li
            = link_to("#team_stats", {class: 'btn', 'data-turbolinks'=>'false'}) do
              = t('championships.team_stats')
          .ghost-divider-vertical
      .goggles-category-gap
      %br/
      %h3
        = t('championships.team_ranking')
        = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
          = image_tag('bullet_arrow_up.png')
      %table.table.table-striped.table-bordered.table-hover.table-condensed#team_ranking
        %tbody
          %tr{'class'=>'info'}
            %td.goggles-rightalign{ rowspan: 2 }
              %b= t('championships.position')
            %td{ rowspan: 2 }
              %b= t('championships.team')
            - @championship_ranking.meetings.each do |meeting|
              %td.goggles-centeralign{ colspan: col_x_meeting }
                = meeting.decorate.get_linked_city_with_date
            %td.goggles-rightalign{ rowspan: 2 }
              %b= t('championships.total_points')
          %tr{'class'=>'info'}
            - @championship_ranking.meetings.each do |meeting|
              - @championship_ranking.columns.each do |column|
                %td.goggles-rightalign
                  = t('championships.' + column.to_s)
              %td.goggles-rightalign
                = t('championships.meeting_total')
          - @championship_ranking.team_scores.each_with_index do |team_score,index|
            %tr
              %td.goggles-rightalign
                %b= (index + 1).to_i
              %td
                = team_score.team.decorate.get_linked_name
              - @championship_ranking.meetings.each_with_index do |meeting,index_meeting|
                - meeting_total = 0
                - @championship_ranking.columns.each do |column|
                  %td.goggles-rightalign
                    - if team_score.meetings[index_meeting]
                      = team_score.meetings[index_meeting][column].to_i
                      - meeting_total += team_score.meetings[index_meeting][column].to_i
                %td.goggles-rightalign
                  %b= meeting_total.to_i
              %td.goggles-rightalign
                %b= team_score.total_points.to_i
      .row-fluid
        .goggles-category-gap
          %h3
            = t('championships.team_stats')
            = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
              = image_tag('bullet_arrow_up.png')
          %table.table.table-striped.table-bordered.table-hover.table-condensed#team_stats
            %tbody
              %tr{'class'=>'info'}
                %td{ rowspan: 2 }
                  %b= t('championships.team')
                - @championship_ranking.meetings.each do |meeting|
                  %td.goggles-centeralign{ colspan: 3 }
                    = meeting.decorate.get_linked_city_with_date
                  - meeting_stat_calculator = MeetingStatCalculator.new( meeting )
                  - meeting_stats << meeting_stat_calculator.calculate( 0, 0, 0, false, true, false, false, false, false )

              %tr{'class'=>'info'}
                - @championship_ranking.meetings.each do |meeting|
                  %td.goggles-rightalign
                    = t('championships.females')
                  %td.goggles-rightalign
                    = t('championships.males')
                  %td.goggles-rightalign
                    = t('championships.relays')
              - @championship_ranking.team_scores.each do |team_score|
                %tr
                  %td
                    = team_score.team.decorate.get_linked_name
                  - meeting_stats.each do |meeting_stat|
                    - team = meeting_stat.teams.rindex{ |team_stat| team_stat.team == team_score.team }
                    %td.goggles-rightalign
                      - if team
                        = meeting_stat.teams[team].female_swimmers
                    %td.goggles-rightalign
                      - if team
                        = meeting_stat.teams[team].male_swimmers
                    %td.goggles-rightalign
                      - if team
                        = meeting_stat.teams[team].relay_results
              %tr{'class'=>'info'}
                %td.goggles-rightalign
                  %b= t('championships.meeting_total')
                - meeting_stats.each do |meeting_stat|
                  %td.goggles-rightalign
                    %b= meeting_stat.swimmers_female_count
                  %td.goggles-rightalign
                    %b= meeting_stat.swimmers_male_count
                  %td.goggles-rightalign
                    %b= meeting_stat.results_relay_count

      .row-fluid.goggles-category-gap
