= render( partial: 'title' )

- col_x_meeting = @championship_ranking.columns.count + 1

.row-fluid#regional_er_csi
  .goggles-category-gap#pageTop

    -# --- Sub-legend for each gender + pool-type
    .navbar
      %ul.nav
        %li
          %a.goggles-nav-compact(href="#team_ranking")= t('championships.team_ranking')
        %li
          %a.goggles-nav-compact(href="#team_stats")= t('championships.team_stats')
      .ghost-divider-vertical

    %h3
      = t('championships.team_ranking')
      %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
    %table.table.table-striped.table-bordered.table-hover.table-condensed#team_ranking
      %tbody
        %tr{'class'=>'info'}
          %td.goggles-rightalign{ rowspan: 2 }
            %b= t('championships.position')
          %td{ rowspan: 2 }
            %b= t('championships.team')
          - @championship_ranking.meetings.each do |meeting|
            %td.goggles-centeralign{ colspan: col_x_meeting }
              = meeting.decorate.get_linked_short_name
          %td.goggles-rightalign{ rowspan: 2 }
            %b= t('championships.total_points')
        %tr{'class'=>'info'}
          - @championship_ranking.meetings.each do |meeting|
            - @championship_ranking.columns.each do |column|
              %td.goggles-rightalign
                = t('championships.' + column.to_s)
            %td.goggles-rightalign
              = t('championships.meeting_total')
        - @championship_ranking.team_scores.each_with_index do |team_score,index|
          %tr
            %td.goggles-rightalign
              %b= (index + 1).to_i
            %td
              = team_score.team.decorate.get_linked_name
            - @championship_ranking.meetings.each_with_index do |meeting,index_meeting|
              - meeting_total = 0
              - @championship_ranking.columns.each do |column|
                %td.goggles-rightalign
                  - if team_score.meetings[index_meeting]
                    = team_score.meetings[index_meeting][column].to_i
                    - meeting_total += team_score.meetings[index_meeting][column].to_i
              %td.goggles-rightalign
                %b= meeting_total.to_i
            %td.goggles-rightalign
              %b= team_score.total_points.to_i
          
.row-fluid
  .goggles-category-gap
    %h3
      = t('championships.team_stats')
      %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
    %table.table.table-striped.table-bordered.table-hover.table-condensed#team_stats
      %tbody
        %tr{'class'=>'info'}
          %td{ rowspan: 2 }
            %b= t('championships.team')
          - @championship_ranking.meetings.each do |meeting|
            %td.goggles-centeralign{ colspan: 3 }
              = meeting.decorate.get_linked_short_name
        %tr{'class'=>'info'}
          - @championship_ranking.meetings.each do |meeting|
            %td.goggles-rightalign
              = t('championships.males')
            %td.goggles-rightalign
              = t('championships.females')
            %td.goggles-rightalign
              = t('championships.relays')
        %tr
          %td{ colspan: 16 }
            .p= t('coming_soon')
                 
.row-fluid.goggles-category-gap
