.container
  %h2= t('devise.new_session_title')
  .row.col-xs-12
    = form_for( resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} ) do |f|
      .row.col-xs-12.form-group
        .col-xs-2
          = f.label( :email, for: :user_email, class: 'control-label' )
        .col-xs-4
          = f.email_field( :email, autofocus: true )
      .row.col-xs-12.form-group
        .col-xs-2
          = f.label( :password, for: :user_password, class: 'control-label' )
        .col-xs-4
          = f.password_field( :password )
      .row.col-xs-12.form-group
        - if devise_mapping.rememberable?
          = f.label( t(:remember_me), for: :user_remember_me, class: 'control-label' )
          = f.check_box( :remember_me )
      .row.col-xs-12.form-group
        = f.submit( t('devise.new_session_submit'), class: "btn btn-primary" )

  = render( "users/shared/links" )
