&nbsp;
%span
  = meeting.decorate.get_linked_name( :get_full_name )
  - if current_user
    - is_user_starred = meeting.tags_by_user_list.include?( current_user.id.to_s )
    - is_team_starred = meeting.tags_by_team_list.include?( current_user.id.to_s )
    -# TODO GET AFFILIATIONS & CHECK! is_team_tagged = meeting.tags_by_team_list.include?( current_user.id_to_s )
    %span{ 'id' => "meetingUserStar#{ meeting.id }", 'class' => 'toolTip', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => I18n.t('tags.star_tooltip') }
      = render(partial: 'goggles/clickable_meeting_user_star', locals: { meeting_id: meeting.id, is_starred: is_user_starred, is_saved_ok: true } )
    %span{ 'id' => "meetingTeamStar#{ meeting.id }", 'class' => 'toolTip', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => I18n.t('tags.star_tooltip') }
      = render(partial: 'goggles/clickable_meeting_team_star', locals: { meeting_id: meeting.id, is_starred: is_team_starred, is_saved_ok: true } )
  = meeting.decorate.manage_reservation_button( current_user )
