&nbsp;
%span
  = meeting.decorate.get_linked_name( :get_full_name )
  - if current_user
    - is_user_tagged = meeting.tags_by_user_list.include?( current_user.id.to_s )
    -# TODO GET AFFILIATIONS & CHECK! is_team_tagged = meeting.tags_by_team_list.include?( current_user.id_to_s )
    %span.toolTip{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => I18n.t('tags.star_tooltip') }
      = link_to( api_v1_meeting_tag_for_user_path(id: meeting.id), { method: :put, remote: true, success: "alert('Done!');" } ) do
        %span{ 'id' => "meetingStarOn#{ meeting.id }", 'style' => "#{ is_user_tagged ? '' : 'display: none;' }" }
          = image_tag( 'star.png' )
        %span{ 'id' => "meetingStarOff#{ meeting.id }", 'style' => "#{ is_user_tagged ? 'display: none;' : '' }" }
          = image_tag( 'star_disabled.png' )
  = meeting.decorate.manage_reservation_button( current_user )
