- if @calendarDAO.paginated?
  .row.col-xs-12
    = paginate( @meetings, theme: 'twitter-bootstrap-3' )

- if @calendarDAO.show_months_index?
  .row
    %ul.col-xs-offset-10.col-xs-2.col-sm-offset-11.col-sm-1.col-md-offset-11.col-md-1.nav.nav-pills.nav-stacked.navbar-fixed-bottom.goggles-divlist-odd.navpill_side
      %li
        = link_to("#calendar", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
          = image_tag('bullet_arrow_up.png')
      - @calendarDAO.months.each do |month|
        %li
          = link_to("##{month}", {'data-turbolinks'=>'false'}) do
            = month

.row.col-xs-12
  %table.table.table-bordered.table-hover.table-condensed#calendar
    %tbody
      %tr.info.text-center
        - if @calendarDAO.show_season?
          %td
            &nbsp;
        %td
          %b= t('calendars.meeting')
        %td
          %b= t('calendars.date')
        %td
          %b= t('calendars.warm_up')
        %td
          %b= t('calendars.begin')
        %td
          %b= t('calendars.events')
        %td
          %b= t('calendars.pool')
      - prev_month = 0
      - @meetings.each do |meeting|

        - if @calendarDAO.show_months_header? && prev_month != meeting.month
          - prev_month = meeting.month
          %tr.text-center{'id'=>"#{prev_month}", 'class'=>'success'}
            %td.goggles-centeralign{'colspan'=>"#{@calendarDAO.column_to_be_shown}"}
              %b= meeting.month
            
        - meeting.meeting_sessions.each_with_index do |meeting_session, index|
          %tr{'id'=>"#{meeting.id}-#{index}"}
            - if index == 0
              - if @calendarDAO.show_season?
                %td.goggles-centeralign{ rowspan: meeting.meeting_sessions.count }
                  = @calendarDAO.seasons[meeting.season_type_code]
              %td{ rowspan: meeting.meeting_sessions.count }
                = render( partial: 'goggles/taggable_meeting_name', locals: {meeting: meeting} )
            - if meeting_session.date_span > 0
              %td.goggles-rightalign{ rowspan: meeting_session.date_span }
                - if meeting.is_confirmed
                  = meeting_session.get_scheduled_date
                - else
                  = meeting_session.get_scheduled_date.to_s + ' (*)'
            %td.goggles-rightalign
              = meeting_session.get_warm_up_time
            %td.goggles-rightalign
              = meeting_session.get_begin_time
            %td
              = meeting_session.get_short_events
            - if meeting_session.pool_span > 0
              %td{ rowspan: meeting_session.pool_span }
                = meeting_session.linked_pool

- if @calendarDAO.paginated?
  .row.goggles-category-gap
    = paginate( @meetings, theme: 'twitter-bootstrap-3' )
    %br/
    = page_entries_info( @meetings, entry_name: 'meeting' )
