<% unless @articles.nil? -%>
	<% for a in @articles -%>
	  <div>
	  	<%= content_tag( :h4, a.title, class:( a.is_sticky ? 'text-warning' : 'text-info') ) %>
	  	<blockquote>
		  	<%= content_tag( :p, a.entry_text ) %>
	  		<%= content_tag( :small, "#{a.user_name}, #{Format.a_datetime( a.updated_at )}" ) %>
	  	</blockquote>
	  </div>
	<% end -%>
<% end -%>

<% if (@articles.nil? || @articles.length == 0) -%>
<p style="text-align: center">
  <i><%= t(:no_new_articles) %></i>
</p>
<% end -%>
<p/>
<hr/>

<% for feed in @news_feed -%>
  <div>
    <%= content_tag( :h4, feed.title, class:'text-info' ) %>
    <blockquote>
        <%= content_tag( :p, feed.body ) %>
        <%= content_tag( :small, "#{Format.a_datetime( feed.updated_at )}" ) %>
    </blockquote>
  </div>
<% end -%>
