- if @articles
  - for article in @articles
    %div{'class'=>"alert alert-success", 'id'=>"feed#{article.id}"}
      = button_tag( type:'button', id: "bntClose#{article.id}", 'data-dismiss'=>'alert', class: 'close' ) do
        &times;
      = content_tag( :h4, article.title, class:( article.is_sticky ? 'text-warning' : 'text-info') )
      %br
      %p= article.body.html_safe
      %small= "#{article.user_name}, #{Format.a_datetime( article.updated_at )}"
- if @articles.nil? || (@articles && @articles.length == 0)
  %p{style: "text-align: center"}
    %i= t(:no_new_articles)

%p
  %hr

- for feed in @news_feed
  %div{'class'=>"alert alert-info", 'id'=>"feed#{feed.id}"}
    = link_to( api_v1_news_feed_read_path(id: feed.id), {method: :put, remote: true, success: "alert('Done!');"} ) do
      - button_tag( type:'button', id: "bntClose#{feed.id}", 'data-dismiss'=>'alert', class: 'close' ) do
        &times;
    = render( partial: 'goggles/news_feed_row', locals: { feed: feed } )
    %script
      $( "#bntClose#{feed.id}" ).click( function(){ $("#feed#{feed.id}").remove(); } );
