.jumbotron
  %h3= t(:welcome)
  %p
    %a.btn.btn-primary(href="#{ new_user_session_path() }")= t(:login)
    = t(:or)
    %a.btn.btn-primary(href="#{ new_user_registration_path() }")= t(:sign_up)
    &nbsp;
    %a.btn(href="#{ home_about_path() }")= t(:more_info)
    &nbsp;
    %a.btn(href="#{ home_tutorials_path() }")= t('tutorials_title')
