.col-xs-offset-1.col-xs-10
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        = I18n.t('welcome')
    .panel-body.text-center
      .col-xs-12
        %a.btn.btn-primary.goggles-margin-bottom(href="#{ new_user_session_path() }")= I18n.t('login')
        = I18n.t('or')
        %a.btn.btn-primary.goggles-margin-bottom(href="#{ new_user_registration_path() }")= I18n.t('sign_up')
      .col-xs-12
        &nbsp;
      .col-xs-offset-1.col-xs-10.text-center
        %a.btn.btn-default.goggles-margin-bottom(href="#{ home_about_path() }")= t(:more_info)
        &nbsp;
        %a.btn.btn-default.goggles-margin-bottom(href="#{ tutorials_index_path() }")= t('tutorials_title')

= render( partial: 'goggles/social_media_contacts' )
