&nbsp;
%span
  - if current_user && TeamManagerValidator.any_reservations_for?( current_user, meeting ) && !meeting.are_results_acquired && !meeting.has_start_list && !meeting.has_invitation
    = link_to( meeting.description, meeting_reservations_show_path(id: meeting.id),     |
        { 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.show_data_detail_tooltip') } |
      )                                                                                   |
  - else
    = meeting.linked_name
  - if current_user
    - if meeting.is_team_starred || (! meeting.team_affiliation_id.nil?)
      %span{ 'id' => "meetingUserStar#{ meeting.id }", 'class' => 'toolTip', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => I18n.t('tags.star_tooltip') }
        = render(partial: 'goggles/clickable_meeting_user_star', locals: { meeting_id: meeting.id, is_starred: meeting.is_user_starred, is_saved_ok: true } )
      - if meeting.can_manage
        %span{ 'id' => "meetingTeamStar#{ meeting.id }", 'class' => 'toolTip', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => I18n.t('tags.triplestar_tooltip') }
          = render(partial: 'goggles/clickable_meeting_team_star', locals: { meeting_id: meeting.id, team_affiliation_id: meeting.team_affiliation_id, is_starred: meeting.is_team_starred, is_saved_ok: true } )
      - elsif meeting.is_team_starred
        = image_tag( 'calendar_disabled.png' )
    = meeting.reservation_button
