.row-fluid.span12

= simple_form_for @user_training_story do |f|
  .row-fluid.span11
    = f.input :swam_date
  .row-fluid.span11
    = f.input :total_training_time
  .row-fluid.span11
    = f.input :notes, input_html: { rows: 3, class: 'span12' }
  .row-fluid.span11
    = f.association :user_training, collection: UserTraining.all, label_method: 'description', value_method: 'id', prompt: I18n.t('please_select')
  .row-fluid.span11
    = f.association :swimming_pool, collection: SwimmingPool.to_dropdown(), prompt: I18n.t('please_select')
  .row-fluid.span11
    = f.association :swimmer_level_type, collection: SwimmerLevelType.to_dropdown(), prompt: I18n.t('please_select')
  .row-fluid.span11
    = f.button :submit, I18n.t(:save)

%script
  $('.toolTip').tooltip({placement:'bottom'});
