.row
  .col-xs-12.col-sm-4
    = link_to_user_training_stories()
  .col-xs-4.col-sm-2
    = link_to_user_training_story_edit( @user_training_story )

.row.col-xs-12
  &nbsp;

- # From down here to below we just need the decorated instance:
- @user_training_story = UserTrainingStoryDecorator.decorate( @user_training_story )

.accordion
  .accordion-group
    .accordion-heading.goggles-accordion-heading
      .row
        .col-xs-12
          %h3= @title
    .accordion-body
      .accordion-inner
        .row
          .col-xs-2
            = I18n.t('notes') + ':'
          .col-xs-10
            = @user_training_story.notes
        .row
          .col-xs-2
            = I18n.t('activerecord.attributes.training.user') + ':'
          .col-xs-10
            = @user_training_story.get_user_name
        .row
          .col-xs-2
            = I18n.t('activerecord.models.swimmer_level_type') + ':'
          .col-xs-10
            = @user_training_story.get_swimmer_level_type( :i18n_description )
        .row
          .col-xs-2
            %i= I18n.t(:updated_at) + ':'
          .col-xs-10
            %i= Format.a_short_datetime( @user_training_story.updated_at )
        .row
          .col-xs-2
            %i= I18n.t('user_training_stories.swam_date') + ':'
          .col-xs-10
            = Format.a_short_datetime( @user_training_story.swam_date )
        .row
          .col-xs-2
            %i= I18n.t('user_training_stories.user_training') + ':'
          .col-xs-10
            = @user_training_story.get_user_training_name()
        .row
          .col-xs-2
            = I18n.t('trainings.total_meters') + ':'
          .col-xs-10
            = @user_training_story.get_user_training_total_distance()
        .row
          .col-xs-2
            = I18n.t('trainings.esteemed_timing') + ':'
          .col-xs-10
            = Timing.to_hour_string( @user_training_story.get_user_training_esteemed_total_seconds() )
        .row
          .col-xs-2
            = I18n.t('user_training_stories.total_training_time') + ':'
          .col-xs-10
            = Timing.to_hour_string( @user_training_story.total_training_time() )
