.row-fluid#meeting_calendar_grid
  .span12
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td.span2
          %td.span1
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_calendar.federation')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_calendar.warm_up_time')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting_calendar.start_up_time')
          %td.span2
          %td.span2.goggles-centeralign
            %i= I18n.t('meeting_calendar.pool')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting.ind_results_short')
          %td.span1.goggles-centeralign
            %i= I18n.t('meeting.rel_results_short')
        - @meetings.each do |meeting|
          %tr
            %td.span2.goggles-td
              = link_to(meeting.description, show_full_meeting_path(meeting))
            %td.span1.goggles-td
              - meeting.meeting_sessions.each do |ms|
                = ms.scheduled_date.instance_of?(Date) ? Format.a_date( ms.scheduled_date ) : '?'
            %td.span1.goggles-td
              = meeting.get_season_type
            %td.span1.goggles-td
              - meeting.meeting_sessions.each do |ms|
                = ms.warm_up_time.kind_of?(Time) ? Format.a_time( ms.warm_up_time ) : '?'
            %td.span1.goggles-td
              - meeting.meeting_sessions.each do |ms|
                = ms.begin_time.kind_of?(Time) ? Format.a_time( ms.begin_time ) : '?'
            %td.span2.goggles-td
              = meeting.get_short_events
            %td.span2.goggles-td
              - meeting.swimming_pools.uniq.each do |pool|
                = link_to( pool.get_verbose_name, swimming_pool_path(pool) )
            %td.span1.goggles-td.goggles-rightalign
              = meeting.meeting_individual_results.count
            %td.span1.goggles-td.goggles-rightalign
              = meeting.meeting_relay_results.count
.row-fluid
  .span12
