.row-fluid#how_to_register
  %h2= t('tutorials.how_to_register')

.row-fluid 
  .row-fluid.span9
    %h4= 'Sei un nuotatore master?'
    %p= 'E magari vorresti vedere ricostruita la tua carriera natatoria master degli ultimi dodici anni, con anche quelle prime gare di cui non avevi tenuto i risultati?'
    %p= 'O anche avere il tuo medagliere virtuale aggiornato senza perdere un pomeriggio a sciogliere i nodi dei cordoni per contare le medaglie nello scatolone?'
    %p= 'O forse paragonare fra loro le tue prestazioni, memorizzando i passaggi dei parziali delle gare che stanno prendendo polvere nel terzo cassetto della libreria dello studio?'
  .row-fluid.span3
    = image_tag( "tutorial/disorder.jpg")
.row-fluid 
  .row-fluid.span4
    = image_tag( "jumbotron/timertable.png")
  .row-fluid.span8
    %p= 'Ecco, allora probabilmente Goggles potrebbe aiutarti. Mentre stai leggendo queste poche righe Goggles sta lentamente ma inesorabilmente acquisendo i dati della varie gare master per poterli poi presentare finalmente ordinati e riuniti. FIN, UISP, CSI. Probabilmente già ora Goggles consosce alcuni dei tuoi risultati e porebbe mostrarteli in ordine temporale o per prestazione, fornendoti dati statistici, punteggi, piazzamenti e medaglie.'
    %p= 'Perché Goggles possa farlo è sufficiente che ti registri e crei il tuo profilo. Clicca suu pulsante Registrati della pagina di benvenuto. Ti verranno chiesti unicamente i dati necessari per poterti associare ad un nuotatore fra quelli in archivio (cognome, nome, anno di nascita) ed un indirizzo email per autenticarti e, solo se lo vorrai, pe rricevere notifiche su risultati o amici di corsia.'
.row-fluid 
  %p= 'Una volta regsitrato potrai associarti ad nuotatore ed accedere alla tua radiografia e... buon divertimento!'
  %p= 'Goggles è gratuito e si impegna a non dare i tuoi dati a terze parti ed a non cercare di contattarti a scopo commerciale. Se vuoi saperne di più puoi dare una letta alla storia di Googles.'
  %p= 'In qualsiasi momento potrai annullare la registrazione e tornare a risultati cartacei e fogli excel ;-p'

.row-fluid
  %h4= 'Segui questi semplici passi (promesso, nessuno cercherà di venderti una batteria di pentole):'
 
.row-fluid 
  .row-fluid.span3
    = image_tag( "tutorial/welcome.png")
  .row-fluid.span3
    = image_tag( "tutorial/register_form.png")
  .row-fluid.span3
    = image_tag( "tutorial/jump_forward.png")
  .row-fluid.span3
    = image_tag( "tutorial/associate.png")

.row-fluid.goggles-category-gap 
  .row-fluid.span6
    .row-fluid.span1
      = image_tag( "spiral-128.png")
    .row-fluid.span11
      %a(href="#TopOfPage")= 'Indice argomenti'
  .row-fluid.span6
    .row-fluid.span11.text-right
      = 'Prossimo argomento: '
      %a(href="#what_can_i_do")= t('tutorials.what_can_i_do')
    .row-fluid.span1
      = image_tag( "document-128.png")

.row-fluid.goggles-category-gap 
