.row
  #jumboTron.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{'data-target'=>'#jumboTron', 'data-slide-to'=>'0'}
      %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'1'}
      %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'2'}
      %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'3'}
      -# [Steve, 20161109] Tot slides decreased
      -# %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'4'}

    / Carousel slides:
    .carousel-inner{role: "listbox"}
      .item.active
        = image_tag( "jumbotron/breastroke.png", class: 'img-rounded' )
        .carousel-caption
          %b= I18n.t('jumbotron.title_emptylanes')
          -# [Steve, 20161109] Training highlight removed, since it's not a primary feature anymore
          -#%b= I18n.t('jumbotron.title_breast')
          -# [Steve, 20161109] Second paragraph removed, since it's too big to be displayed on mobile
          -#%p= I18n.t('jumbotron.text_breast')
      -# [Steve, 20161109] Slide removed
      -#.item
      -#  = image_tag( "jumbotron/empty-lanes.png", class: 'img-rounded' )
      -#  .carousel-caption
      -#    %b= I18n.t('jumbotron.title_emptylanes')
      -#    -# [Steve, 20161109] Second paragraph removed, since it's too big to be displayed on mobile
      -#    -#%p= I18n.t('jumbotron.text_emptylanes')
      .item
        = image_tag( "jumbotron/freestyle.png", class: 'img-rounded' )
        .carousel-caption
          %b= I18n.t('jumbotron.title_freestyle')
          -# [Steve, 20161109] Second paragraph removed, since it's too big to be displayed on mobile
          -#%p= I18n.t('jumbotron.text_freestyle')
      .item
        = image_tag( "jumbotron/timertable.png", class: 'img-rounded' )
        .carousel-caption
          %b= I18n.t('jumbotron.title_timertable')
          -# [Steve, 20161109] Second paragraph removed, since it's too big to be displayed on mobile
          -#%p= I18n.t('jumbotron.text_timertable')
      .item
        = image_tag( "jumbotron/happy-BaMo.png", class: 'img-rounded' )
        .carousel-caption
          %b= I18n.t('jumbotron.title_happy')
          -# [Steve, 20161109] Second paragraph removed, since it's too big to be displayed on mobile
          -#%p= I18n.t('jumbotron.text_happy')

    / Controls
    %a.carousel-control.left{href: '#jumboTron', 'data-slide'=>'prev', 'data-turbolinks'=>'false'}
      %span.icon-prev
      %span.sr-only Previous
    %a.carousel-control.right{href: '#jumboTron', 'data-slide'=>'next', 'data-turbolinks'=>'false'}
      %span.icon-next
      %span.sr-only Next

%script
  $('.carousel').carousel({ interval: 10000 });
