.carousel.slide#jumboTron
  %ol.carousel-indicators
    %li.active{'data-target'=>'#jumboTron', 'data-slide-to'=>'0'}
    %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'1'}
    %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'2'}
    %li{'data-target'=>'#jumboTron', 'data-slide-to'=>'3'}

  - # JumboTron items:
  .carousel-inner
    .item.img-thumbnail.active
      = image_tag( "jumbotron/breastroke.png", size: '800x440', class: 'img-rounded' )
      .carousel-caption
        %h4= I18n.t('jumbotron.title_breast')
        %p= I18n.t('jumbotron.text_breast')
    .item.img-thumbnail
      = image_tag( "jumbotron/empty-lanes.png", size: '800x440', class: 'img-rounded' )
      .carousel-caption
        %h4= I18n.t('jumbotron.title_emptylanes')
        %p= I18n.t('jumbotron.text_emptylanes')
    .item.img-thumbnail
      = image_tag( "jumbotron/freestyle.png", size: '800x440', class: 'img-rounded' )
      .carousel-caption
        %h4= I18n.t('jumbotron.title_freestyle')
        %p= I18n.t('jumbotron.text_freestyle')
    .item.img-thumbnail
      = image_tag( "jumbotron/timertable.png", size: '800x440', class: 'img-rounded' )
      .carousel-caption
        %h4= I18n.t('jumbotron.title_timertable')
        %p= I18n.t('jumbotron.text_timertable')
    .item.img-thumbnail
      = image_tag( "jumbotron/happy-BaMo.png", size: '800x440', class: 'img-rounded' )
      .carousel-caption
        %h4= I18n.t('jumbotron.title_happy')
        %p= I18n.t('jumbotron.text_happy')

  - # JumboTron nav:
  %a.carousel-control.left{:href=>'#jumboTron', 'data-slide'=>'prev', 'data-turbolinks'=>'false'}
    &lsaquo;
  %a.carousel-control.right{:href=>'#jumboTron', 'data-slide'=>'next', 'data-turbolinks'=>'false'}
    &rsaquo;

%script
  $('.carousel').carousel({ interval: 10000 });
