.row-fluid#what_can_i_do
  %h2= t('tutorials.what_can_i_do')

.row-fluid 
  .row-fluid.span8
    %p= 'In Goggles puoi trovare i risultati delle gare master dei vari circuiti attivi: FIN, CSI, UISP.'
    %p= 'Nelle pagine dei risulttai troverai evidenziati i tuoi risultati e quelli dei tuoi compagni di squadra ed amici.'
    %p= 'Oltre ai risultati complessivi troverai una sezione dedicata ai risultati della tua squadra ed ai tuoi (se avete partecipato alla gara, naturalmente)'
    %p= 'Come i tempi moderni impongono non potrà mancare una sezione dedicata alle statistiche ed alla classifica di società'
  .row-fluid.span4
    = image_tag( "tutorial/show_full.jpg")
.row-fluid 
  .row-fluid.span4
    = image_tag( "tutorial/passages.jpg")
  .row-fluid.span8
    %p= 'Goggles ti può mostarre i tempi dei passaggi rilevati durante le gare dal vostro burbero allenatore o dai vostri pazienti compagni di squadra'
    %p= 'Una volta inseriti nel sistema compariranno come collegamenti nelle pagine dei risultati e forniranno utili indicazioni di confronto nella pagina delle vostre performance'
.row-fluid 
  .row-fluid.span8
    %p= 'Goggles ti offre la Radiografia, o meglio la tua storia natatira secondo il cronometro.'
    %p= "E' un insieme di viste e prospetti in cui potrai rileggere la storia dei tuoi risultati in ordine cronologico (la carriera) o ordinato per specialità e tempo (le prestazioni)"
    %p= 'In una sezione apposita troverai il prospetto dei tuoi tempi migliori divisi per tipo vasca e specialità ed in un altro il tuo medagliere virtuale, complessivo e diviso per federazione e specilità'
  .row-fluid.span4
    = image_tag( "tutorial/swimmer_radio.jpg")
.row-fluid 
  .row-fluid.span4
    = image_tag( "tutorial/team_radio.jpg")
  .row-fluid.span8
    %p= 'Ma il nuoto non è solo unos port individuale. Goggles vorrebbe aiutarti a creare un bel clima di squadra. Per questo anche alla tua squada (o alle tue squadre) viene dedicata una apposita sezione'
    %p= "Oltre al palmares ed all'elenco dei nuotatori tresserati nelle stagioni correnti, troverai i record di società divisi per tipo vasca e categoria."
    %p= "Ma non è tutto. Goggles può gestirti la Goggle cup, una speciale classifica stilata in funzione dei propri record persoanli, per poter confrontare le prestaaioni dei compagni di squadra e creare un piccolo campionato interno per speziare un po' la stagione"
.row-fluid 
  .row-fluid.span8
    %p= 'Vuoi sapere quanti punti FIN varrebbe una certa prestazione che ti senti nelle btraccia?'
    %p= "Goggles ti offre la possibilità di simulare il calcolo del punteggio tabellare FIN con le tabelle federali aggiornate per tutte le categoire e specialità"
  .row-fluid.span4
    = image_tag( "tutorial/fin_score_calculation.jpg")


.row-fluid 
  .row-fluid.span1
    = image_tag( "spiral-128.png")
  .row-fluid.span8
    %h4= 'Vai al prossimo interessantissimo argomento'
