%br
  .row-fluid
    %div{'class'=>"alert alert-info", 'id'=>"what_is_goggles"}
      %h3= I18n.t('presentation.title')
      %p= I18n.t('presentation.part_1')
      %p= I18n.t('presentation.part_2')
      %p= I18n.t('presentation.part_3')
      %p= I18n.t('presentation.part_4')
