%br
  .row-fluid
    %div{'class'=>"alert alert-info", 'id'=>"what_is_goggles"}
      %h3= "Beh, ma quindi in sostanza cos'è questo Goggles?!?"
      %p= "Goggles è un sito completamente gratuito dedicato a tutti i master ed anche a tutti i 'Nuotatori Indipendenti Della Pausa Pranzo'. A tutti quelli insomma che hanno deciso di dedicare un po' del loro tempo libero al nuoto praticato, persino senza fare gare..."
      %p= "Il nuoto è corpo, passione, ma anche scienza. L'allenamento è divertimento, fatica, costanza, ma anche qualità e metodo. Le gare sono sfida, traguardo da raggiungere, limite da oltrepassare, ma anche avversari, compagni di squadra ed amici."
      %p= "Goggles vorrebbe essere il luogo in cui si possono consultare i risultati di tutte le gare master, tenere storia e confrontare i dati dei passaggi gara, memorizzare ed analizzare gli allenamenti, trovare informazioni utili su piscine e gare e magari organizzare allenamenti in gruppo o la nuotata durante la trasferta di lavoro."
      %p= "Goggles vorrebbe aiutare a condividere la passione per il nuoto, mettere a disposizione strumenti di analisi e magari sfruttando l'esperienza di tutti, fornire qualche spunto per migliorarsi o trovare nuovi stimoli."
