%section.home-section#what_can_i_do
  .container
    .fluid-row.col-xs-12
      .section-heading.text-center
        .wow.bounceInDown( data-wow-delay="0.5s" )
          %h2= t('tutorial.what_can_i_do')
        %p.wow.bounceInUp( data-wow-delay="0.5s" )
          = t('tutorial.what_can_i_do_text.line0')

  .container
    .fluid-row.col-xs-12
      .col-xs-6.wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line1')
        %p= t('tutorial.what_can_i_do_text.line2')
        %p= t('tutorial.what_can_i_do_text.line3')
        %p= t('tutorial.what_can_i_do_text.line4')
      .col-xs-6.wow.lightSpeedIn( data-wow-delay="1s" )
        %p= image_tag( "tutorial/show_full.png")

    .fluid-row.col-xs-12
      .col-xs-6.wow.lightSpeedIn( data-wow-delay="1s" )
        %p= image_tag( "tutorial/passages.jpg")
      .col-xs-6.wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line5')
        %p= t('tutorial.what_can_i_do_text.line6')

    .fluid-row.col-xs-12
      .col-xs-6.wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line7')
        %p= t('tutorial.what_can_i_do_text.line8')
        %p= t('tutorial.what_can_i_do_text.line9')
      .col-xs-6.wow.lightSpeedIn( data-wow-delay="1s" )
        %p= image_tag( "tutorial/performances.png")

    .fluid-row.col-xs-12
      .col-xs-6.wow.lightSpeedIn( data-wow-delay="1s" )
        %p= image_tag( "tutorial/team_radio.png")
      .col-xs-6.wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line10')
        %p= t('tutorial.what_can_i_do_text.line11')
        %p= t('tutorial.what_can_i_do_text.line12')
    .fluid-row.col-xs-12
      .col-xs-6.wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line13')
        %p= t('tutorial.what_can_i_do_text.line14')
      .col-xs-6.wow.lightSpeedIn( data-wow-delay="1s" )
        %p= image_tag( "tutorial/fin_score_calculation.png")
    .fluid-row.col-xs-12
      .col-xs-6.wow.lightSpeedIn( data-wow-delay="1s" )
        %p= image_tag( "tutorial/trainings.png")
      .col-xs-6.wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line15')
    .fluid-row.col-xs-12
      .wow.flipInX( data-wow-delay="1.5s" )
        %p= t('tutorial.what_can_i_do_text.line16')
        %p= t('tutorial.what_can_i_do_text.line17')
