.row-fluid.goggles-category-gap#what_can_i_do
  %h2= t('tutorial.what_can_i_do')

.row-fluid 
  .row-fluid.span4
    %p= t('tutorial.what_can_i_do_text.line1') 
    %p= t('tutorial.what_can_i_do_text.line2')
    %p= t('tutorial.what_can_i_do_text.line3')
    %p= t('tutorial.what_can_i_do_text.line4')
    %p= image_tag( "tutorial/show_full.png")
  .row-fluid.span4
    %p= image_tag( "tutorial/passages.jpg")
    %p= t('tutorial.what_can_i_do_text.line5')
    %p= t('tutorial.what_can_i_do_text.line6')
  .row-fluid.span4
    %p= t('tutorial.what_can_i_do_text.line7')
    %p= t('tutorial.what_can_i_do_text.line8')
    %p= t('tutorial.what_can_i_do_text.line9')
    %p= image_tag( "tutorial/performances.png")
.row-fluid.goggles-category-gap 
.row-fluid 
  .row-fluid.span4
    %p= image_tag( "tutorial/team_radio.png")
    %p= t('tutorial.what_can_i_do_text.line10')
    %p= t('tutorial.what_can_i_do_text.line11')
    %p= t('tutorial.what_can_i_do_text.line12')
  .row-fluid.span4
    %p= t('tutorial.what_can_i_do_text.line13')
    %p= t('tutorial.what_can_i_do_text.line14')
    %p= image_tag( "tutorial/fin_score_calculation.png")
  .row-fluid.span4
    %p= image_tag( "tutorial/trainings.png")
    %p= t('tutorial.what_can_i_do_text.line15')
    %p= t('tutorial.what_can_i_do_text.line16')
    %p= t('tutorial.what_can_i_do_text.line17')


.row-fluid.goggles-category-gap 
  .row-fluid.offset6.span6
    .row-fluid.span11.text-right
      = t('tutorial.next_argument')
      %a(href="#what_about_meetings")= t('tutorial.what_about_meetings')
    .row-fluid.span1
      = image_tag( "document-128.png")
