.row-fluid
  - # What's Goggles?!?
  = render( partial: 'what_is_goggles' )
%hr

.accordion#accordionShw
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordionshw', :href => '#collapseShw', 'data-turbolinks'=>'false'}
        %h3#headerShw{'data-toggle' => 'tooltip', 'title' => I18n.t(:detail_show_tooltip)}= I18n.t( :tech_deployment_details )
    .accordion-body.collapse#collapseShw
      .accordion-inner
        .row-fluid
          .span6
            .row-fluid
              %h3
                Versioning:
            .row-fluid
              .span6
                %h4
                  Internal Framework version:
              .span6
                %b= h( GogglesCore::AppConstants::WEB_FRAMEWORK_VERSION ) if defined? GogglesCore::AppConstants::WEB_FRAMEWORK_VERSION
            .row-fluid
              .span6
                = "#{ GogglesCore::AppConstants::WEB_APP_NAME } application, version:"
              .span6
                %b= h( @versioning.send(AppParameter::PARAM_APP_NAME_FIELD) )
                = show_tag( @versioning.a_bool, "time.png" )
            .row-fluid
              .span6
                = "#{ GogglesCore::AppConstants::WEB_APP_NAME } database framework, vers.:"
              .span6
                %b= h( @versioning.send(AppParameter::PARAM_DB_VERSION_FIELD) )
            .row-fluid
              .span6
                Build date:
              .span6
                = h Format.a_datetime( @versioning.send( @versioning.respond_to?('updated_on') ? 'updated_on' : 'updated_at' ) )
            .row-fluid
              .span6
                Running environment:
              .span6
                %i
                  %b= h( "Rack: #{ENV['RACK_ENV'] }" ) if defined? ENV
            .row-fluid
              .offset6.span6
                %i
                  %b= h( "Rails: #{ENV['RAILS_ENV'] }" ) if defined? ENV
            .row-fluid
              .offset6.span6
                %i
                  %b= h( "#{ENV['HOSTNAME'] } (#{ENV['CPU'] }, #{ENV['MACHTYPE'] })" ) if defined? ENV
            %br
            .row-fluid
              .span2
                %a{ href: "http://www.rubyonrails.org/" }
                  = image_tag( 'rails.png', height: '32', alt: 'Rails Logo' )
              .span10
                %p
                  Developed by Stefano Alloro, using
                  %a{ href: "http://www.rubyonrails.org/" }
                    Ruby On Rails
                  = '(vers. ' + h( RAILS_GEM_VERSION ) + ')' if defined? RAILS_GEM_VERSION
                %p
                  AgeX Framework structure (p) 2006-2013,
                  = image_tag( 'fasar_logo_1.png', size: '256x32', alt: 'FASAR Software' )
            %br
          .offset6
            .row-fluid.offset6.span6
              %h3
                Installed Gems:
            .row-fluid.offset6.span6
              %ul
                - @gem_info.each do |row|
                  %li= row
