.col-xs-12
  - # What's Goggles?!?
  = render( partial: 'what_is_goggles' )

.col-xs-12
  .row
    %p
      = I18n.t('tutorial.if_you_wanna_know_more')
      &nbsp;
      =link_to( I18n.t('tutorials_title'), tutorials_index_path() )

.col-xs-12
  %hr

.accordion
  .accordion-group
    .accordion-heading
      %h3= I18n.t( :tech_deployment_details )
    .accordion-body
      .accordion-inner
        .col-xs-12
          %h3
            Versioning:
        .col-xs-12
          .row
            .col-xs-6
              %b
                #{ GogglesCore::AppConstants::WEB_APP_NAME } web-app version:
            .col-xs-6
              %b= h( ::Version::FULL )
          .row
            .col-xs-6
              %b
                #{ GogglesCore::AppConstants::WEB_APP_NAME }Core version:
            .col-xs-6
              %b= h( GogglesCore::AppConstants::WEB_FRAMEWORK_VERSION ) if defined? GogglesCore::AppConstants::WEB_FRAMEWORK_VERSION
          .row
            .col-xs-6
              = "#{ GogglesCore::AppConstants::WEB_APP_NAME } latest DB-diff applied @ vers.:"
            .col-xs-6
              %b= h( @versioning.send(AppParameter::PARAM_APP_NAME_FIELD) )
              = show_tag( @versioning.a_bool, "time.png" )
          .row
            .col-xs-6
              = "#{ GogglesCore::AppConstants::WEB_APP_NAME } database framework, vers.:"
            .col-xs-6
              %b= h( @versioning.send(AppParameter::PARAM_DB_VERSION_FIELD) )
          .row
            .col-xs-6
              Build date:
            .col-xs-6
              = h Format.a_datetime( @versioning.send( @versioning.respond_to?('updated_on') ? 'updated_on' : 'updated_at' ) )
          .row
            .col-xs-6
              Running environment:
            .col-xs-6
              %i
                %b= h( "Rack: #{ENV['RACK_ENV'] }" ) if defined? ENV
          .row
            .col-xs-offset-6.col-xs-6
              %i
                %b= h( "Rails: #{ENV['RAILS_ENV'] }" ) if defined? ENV
          .row
            .col-xs-offset-6.col-xs-6
              %i
                %b= h( "#{ENV['HOSTNAME'] } (#{ENV['CPU'] }, #{ENV['MACHTYPE'] })" ) if defined? ENV
          %br
          .row
            .col-xs-2
              %a{ href: "http://www.rubyonrails.org/" }
                = image_tag( 'rails.png', height: '32', alt: 'Rails Logo' )
            .col-xs-10
              %p
                Developed by Stefano Alloro, using
                %a{ href: "http://www.rubyonrails.org/" }
                  Ruby On Rails
                = '(vers. ' + h( RAILS_GEM_VERSION ) + ')' if defined? RAILS_GEM_VERSION
              %p
                AgeX Framework structure (p) 2006-2014,
                = image_tag( 'fasar_logo_1.png', size: '128x16', alt: 'FASAR Software' )
          %br

        -# The following is left here just for debugging purposes:
        -#.col-xs-offset-6
        -#  .row.col-xs-offset-6.col-xs-6
        -#    %h3
        -#      Installed Gems:
        -#  .row.col-xs-offset-6.col-xs-6
        -#    %ul
        -#      - @gem_info.each do |row|
        -#        %li= row
