%h3= t('home.link_yourself_to_an_existing_swimmer')

- if admin_signed_in?
  .row-fluid
    .span2
      = 'ID:'
    .span10
      = current_user.id

.row-fluid.span12
  = I18n.t('home.possible_swimmers')
- @possible_swimmers.each do |swimmer|
  .row-fluid
    .span12
      = swimmer.get_verbose_name

.row-fluid.span12
  TODO FORM TO MANUAL SELECT AMONG THE FILTERED SWIMMERS

.row-fluid.span12
  TODO ADD ALSO ANOTHER FORM TO MANUAL SELECT AN OVERRIDE SWIMMER
