- if user_signed_in?
  - # Association request link:
  = render( partial: 'goggles/associate_to_a_swimmer' ) unless current_user.has_associated_swimmer?
  - # Articles/News flash list:
  = render( partial: 'goggles/news_articles_list' )
  - # Be patient with this very very work in progress creature!
  = render( partial: 'forgive_us' )
- else
  - # Not-logged-in welcome part:
  .row-fluid
    = render( partial: 'jumbotron' )
  .row-fluid
    = render( partial: 'goggles/not_logged_in' )
