%script
  new WOW().init();

- # Preloader mask:
-#preloader
-#  #load

.container-fluid#tutorial_top
  - if not user_signed_in?
    %section.section-heading#before_register
      .container-fluid
        .fluid-row.span12
          .page-scroll.text-right
            %a.animated{ href: "#what_can_i_do", 'data-toggle' => 'tooltip', title: t('tutorial.next_argument') }
              = image_tag( "control_ff_down_blue.png")
              = t('tutorial.what_can_i_do')
    = render( partial: 'how_to_register' )
    %section.section-heading#after_register
      .container-fluid
        .fluid-row.span6
          .page-scroll.text-left
            %a.animated{ href: "#tutorial_top", 'data-toggle' => 'tooltip', title: t('tutorial.back_argument') }
              = image_tag( "control_ff_up_blue.png")
              = t('tutorial.how_to_register')
        .fluid-row.span6
          .page-scroll.text-right
            %a.animated{ href: "#what_can_i_do", 'data-toggle' => 'tooltip', title: t('tutorial.next_argument') }
              = image_tag( "control_ff_down_blue.png")
              = t('tutorial.what_can_i_do')

  %hr
  = render( partial: 'what_can_i_do' )
  %section.section-heading#after_what_can_i_do
    .container-fluid
      .fluid-row.span6
        .page-scroll.text-left
          %a.animated{ href: "#after_register", 'data-toggle' => 'tooltip', title: t('tutorial.back_argument') }
            = image_tag( "control_ff_up_blue.png")
            = t('tutorial.what_can_i_do')
      .fluid-row.span6
        .page-scroll.text-right
          %a.animated{ href: "#what_about_meetings", 'data-toggle' => 'tooltip', title: t('tutorial.next_argument') }
            = image_tag( "control_ff_down_blue.png")
            = t('tutorial.what_about_meetings')

  %hr
  = render( partial: 'what_about_meetings' )
  %section.section-heading#after_what_about_meetings
    .container-fluid
      .fluid-row.span6
        .page-scroll.text-left
          %a.animated{ href: "#what_about_meetings", 'data-toggle' => 'tooltip', title: t('tutorial.back_argument') }
            = image_tag( "control_ff_up_blue.png")
            = t('tutorial.what_about_meetings')
      .fluid-row.span6
        .page-scroll.text-right
          %a.animated{ href: "#how_to_view_passages", 'data-toggle' => 'tooltip', title: t('tutorial.next_argument') }
            = image_tag( "control_ff_down_blue.png")
            = t('tutorial.how_to_view_passages')

  %hr
  = render( partial: 'how_to_view_passages' )
  %section.section-heading#after_how_to_view_passages
    .container-fluid
      .fluid-row.span6
        .page-scroll.text-left
          %a.animated{ href: "#after_what_about_meetings", 'data-toggle' => 'tooltip', title: t('tutorial.back_argument') }
            = image_tag( "control_ff_up_blue.png")
            = t('tutorial.how_to_view_passages')
      .fluid-row.span6
        .page-scroll.text-right
          %a.animated{ href: "#what_about_trainings", 'data-toggle' => 'tooltip', title: t('tutorial.next_argument') }
            = image_tag( "control_ff_down_blue.png")
            = t('tutorial.what_about_trainings')

  %hr
  = render( partial: 'what_about_trainings' )
  %section.section-heading#after_what_about_trainings
    .container-fluid
      .fluid-row.span6
        .page-scroll.text-left
          %a.animated{ href: "#after_how_to_view_passages", 'data-toggle' => 'tooltip', title: t('tutorial.back_argument') }
            = image_tag( "control_ff_up_blue.png")
            = t('tutorial.what_about_trainings')
      .fluid-row.span6
        .page-scroll.text-right
          %a.animated{ href: "#how_to_calculate_fin_score", 'data-toggle' => 'tooltip', title: t('tutorial.next_argument') }
            = image_tag( "control_ff_down_blue.png")
            = t('tutorial.how_to_calculate_fin_score')

  %hr
  = render( partial: 'how_to_calculate_fin_score' )
  %section.section-heading#after_how_to_calculate_fin_score
    .container-fluid
      .fluid-row.span6
        .page-scroll.text-left
          %a.animated{ href: "#after_what_about_trainings", 'data-toggle' => 'tooltip', title: t('tutorial.back_argument') }
            = image_tag( "control_ff_up_blue.png")
            = t('tutorial.how_to_calculate_fin_score')
      .fluid-row.span6
        .page-scroll.text-right
          %a.animated{ href: "#tutorial_top", 'data-toggle' => 'tooltip', title: t('tutorial.back_to_start') }
            = image_tag( "control_eject_blue.png")
            = t('tutorial.back_to_start')
