.container-fluid#TopOfPage
  .row-fluid
    - if not user_signed_in?
      = render( partial: 'how_to_register' )
    %hr
    = render( partial: 'what_can_i_do' )
    %hr
    = render( partial: 'what_about_meetings' )
    %hr
    = render( partial: 'how_to_view_passages' )
    %hr
    = render( partial: 'what_about_trainings' )
    %hr
    = render( partial: 'how_to_calculate_fin_score' )
