.item.thumbnail.active
  = image_tag("404.jpg", size: '180', class: 'img-thumbnail img-responsive')
%br
.row-fluid
  %h3
    = "Work in Progress"
    = image_tag('wrench.png', alt: "Work In Progress")
  %p= I18n.t('req_functionality_under_development')
  %p= I18n.t('or_you_tried_something_wrong')
