%section.home-section#what_can_i_do
  .container
    .row.col-xs-12
      .section-heading.text-center
        .wow.bounceInDown( data-wow-delay="0.5s" )
          %h2= t('tutorial.what_can_i_do')
    .row.col-xs-12
      %h3= t('tutorial.what_can_i_do_text.line0')

    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line1')
      %p= t('tutorial.what_can_i_do_text.line2')
    .row.col-xs-12.wow.lightSpeedIn( data-wow-delay="1s" )
      %p= image_tag( "tutorial/show_full.png", class: "img-responsive img-rounded")
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line3')
      %p= t('tutorial.what_can_i_do_text.line4')

    .row.col-xs-12.wow.lightSpeedIn( data-wow-delay="1s" )
      %p= image_tag( "tutorial/passages.jpg", class: "img-responsive img-rounded")
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line5')
      %p= t('tutorial.what_can_i_do_text.line6')

    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line7')
      %p= t('tutorial.what_can_i_do_text.line8')
    .row.col-xs-12.wow.lightSpeedIn( data-wow-delay="1s" )
      %p= image_tag( "tutorial/performances.png", class: "img-responsive img-rounded")
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line9')

    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line10')
    .row.col-xs-12.wow.lightSpeedIn( data-wow-delay="1s" )
      %p= image_tag( "tutorial/team_radio.png", class: "img-responsive img-rounded")
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line11')
      %p= t('tutorial.what_can_i_do_text.line12')
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line13')
      %p= t('tutorial.what_can_i_do_text.line14')
    .row.col-xs-12.wow.lightSpeedIn( data-wow-delay="1s" )
      %p= image_tag( "tutorial/fin_score_calculation.png", class: "img-responsive img-rounded")
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line15')
      %p= t('tutorial.what_can_i_do_text.line16')
    .row.col-xs-12.wow.lightSpeedIn( data-wow-delay="1s" )
      %p= image_tag( "tutorial/trainings.png", class: "img-responsive img-rounded")
    .row.col-xs-12.wow.flipInX( data-wow-delay="1.5s" )
      %p= t('tutorial.what_can_i_do_text.line17')
