= render( partial: 'tabs_and_title' )

%section.home-section#what_is_goggles
  .container
    .row
      %h3= I18n.t('info_about.presentation.title')
      %p= I18n.t('info_about.presentation.part_1')
      %p= I18n.t('info_about.presentation.part_2')
      %p= I18n.t('info_about.presentation.part_3')
      %p= I18n.t('info_about.presentation.part_4')
