= render( partial: 'tabs_and_title' )

%section.home-section#radio
  .container
    .row
      .section-heading.text-center
        .wow.bounceInDown( data-wow-delay="0.5s" )
          %h2= t('tutorials_tab.radio_swimmer')
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.main')
    .row.col-xs-12
      .wow.rollIn( data-wow-delay="1s" )
        .col-xs-12
          = image_tag( "tutorial/radio_main.png", class: "img-responsive img-rounded" )
      .wow.bounceInRight( data-wow-delay="1s" )
        .col-xs-12
          %p= t('tutorial.radio_swimmer.main_2')
        .col-xs-12
          %p= t('tutorial.radio_swimmer.main_3')

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.fin_supermaster_subtitle')
    .row.col-xs-12
      .col-xs-12.col-sm-8
        .wow.bounceInLeft( data-wow-delay="1s" )
          = image_tag( "tutorial/radio_supermaster.png", class: "img-responsive img-rounded" )
      .col-xs-12.col-sm-4
        %p= t('tutorial.radio_swimmer.fin_supermaster_1')

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.gogglecup_subtitle')
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.gogglecup_intro')
    .row.col-xs-12
      .col-xs-12.col-sm-8
        .wow.lightSpeedIn( data-wow-delay="1s" )
          = image_tag( "tutorial/radio_gogglecup.png", class: "img-responsive img-rounded" )
      .col-xs-12.col-sm-4
        %p= t('tutorial.radio_swimmer.gogglecup_intro2')
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.gogglecup_1')
      %p= link_to( "=> (#{ I18n.t('tutorials_tab.goggle_cups') })", tutorials_goggle_cups_path() )

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.medals_subtitle')
    .row.col-xs-12
      .col-xs-12.col-sm-8
        .wow.bounceInLeft( data-wow-delay="1s" )
          = image_tag( "tutorial/radio_medals.png", class: "img-responsive img-rounded" )
      .col-xs-12.col-sm-4
        %p= t('tutorial.radio_swimmer.medals_1')

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.personalbest_subtitle')
    .row.col-xs-12
      .col-xs-12.col-sm-8
        .wow.bounceInLeft( data-wow-delay="1s" )
          = image_tag( "tutorial/radio_personalbest.png", class: "img-responsive img-rounded" )
      .col-xs-12.col-sm-4
        %p= t('tutorial.radio_swimmer.personalbest_1')
        %p= t('tutorial.radio_swimmer.personalbest_2')

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.history1_subtitle')
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.history1_1')
    .row.col-xs-12
      .wow.bounceInLeft( data-wow-delay="1s" )
        = image_tag( "tutorial/radio_history1_career.png", class: "img-responsive img-rounded" )

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.history2_subtitle')
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.history2_1')
    .row.col-xs-12
      .wow.lightSpeedIn( data-wow-delay="1s" )
        = image_tag( "tutorial/radio_history2_results.png", class: "img-responsive img-rounded" )
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.history2_2')

    .col-xs-12.goggles-category-gap
      %hr/
    .row.col-xs-12
      .section-heading
        %h3= t('tutorial.radio_swimmer.trainings_subtitle')
    .row.col-xs-12
      %p= t('tutorial.radio_swimmer.trainings_1')
    .row.col-xs-12
      .wow.bounceInLeft( data-wow-delay="1s" )
        = image_tag( "tutorial/radio_trainings.png", class: "img-responsive img-rounded" )
    .row.col-xs-12
      %p= link_to( "=> (#{ I18n.t('tutorial.what_about_trainings') })", tutorials_trainings_path() )
