.row-fluid
  .goggles-category-gap{ 'id' => "#{pool_type.code}" }
    %h3
      = "#{pool_type.i18n_short}"
      %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
.row-fluid
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      - grid_builder.event_types( pool_type.id ).each do |event_type|
        - if grid_builder.collection.has_any_record_for( pool_type.code, event_type.code, gender_type.code )
          %tr
            %td.goggles-td.goggles-rightalign
              %b= event_type.i18n_short
              - record = grid_builder.collection.get_record_for( pool_type.code, event_type.code, category_type.code, gender_type.code )
              %td.goggles-td
                - if record
                  %p
                    %b= record.get_timing
                    %p
                      = record.get_swimmer_name
                  - if record.meeting_individual_result && (sched_date = record.meeting_individual_result.get_scheduled_date).kind_of?(Date)
                    %a{'id'=>"rec#{record.id}", 'href'=>"#{ meeting_show_full_path(:id=>record.meeting_individual_result.meeting.id, :swimmer_id=>record.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.show_results_tooltip') + "\r\n(#{record.meeting_individual_result.meeting.description})"}
                      %p= Format.a_date( sched_date )
                  - else
                    %p= '-'

