.row-fluid.span12.goggles-category-gap{ id: div_id }
  %h3
    = grid_title
    %a{ :href=>"#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
.row-fluid
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'info'}
        %td
        - @collector.category_type_codes_list.each do |category_code|
          %td.goggles-centeralign
            %b= category_code

      - @collector.event_type_codes_list.each do |event_code|
        %tr
          %td.goggles-td.goggles-rightalign
            %b= event_code
          - @collector.category_type_codes_list.each do |category_code|
            - record = collection.get_record_for( pool_code, event_code, category_code, gender_code )
            %td.goggles-td
              - if record
                %p
                  %b= record.get_timing
                %p
                  %a{'id'=>"swimmer#{record.swimmer_id}", 'href'=>"#{ swimmer_radio_path(:id=>record.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('radiography.radio_tab_tooltip')}
                    = record.get_swimmer_name
                - if record.meeting_individual_result && (sched_date = record.meeting_individual_result.get_scheduled_date).kind_of?(Date)
                  %a{'id'=>"rec#{record.id}", 'href'=>"#{ meeting_show_full_path(:id=>record.meeting_individual_result.meeting.id, :swimmer_id=>record.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.show_results_tooltip') + "\r\n(#{record.meeting_individual_result.meeting.description})"}
                    %p= Format.a_date( sched_date )
                - else
                  %p= '-'
