.row-fluid.span12#pageTop
  %h2= @title

.row-fluid.span12.goggles-category-gap#pageTop
  %h3= "F / 25 mt."

.row-fluid
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'info'}
        %td
          = "/"
        - @category_short_names.each do |cat_short_name|
          %td.goggles-centeralign
            %b= cat_short_name
      - @events.each do |event_type|
        %tr
          %td.goggles-td.goggles-rightalign
            %b= event_type.i18n_short
          - @category_short_names.each do |cat_short_name|
            %td.goggles-td
              - ind_result = @f25mt_rec_hash.has_key?(event_type.id) ? @f25mt_rec_hash[ event_type.id ][ cat_short_name ] : nil
              %p
                %b= ind_result ? ind_result.get_timing : ''
              %p= ind_result ? ind_result.get_athlete_name : ''
              %p= ind_result ? ( (sched_date = ind_result.get_scheduled_date).kind_of?(Date) ? Format.a_date(ind_result.get_scheduled_date) : '-' ) : ''
