.accordion#accordionFlt#pageTop
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordionFlt', :href => '#collapseFlt'}
        %h3#headerFlt{'data-toggle' => 'tooltip', 'title' => I18n.t('records.filtering_tooltip')}
          = I18n.t('records.swimmer_search_title')
        %script
          $('#headerFlt').tooltip({placement:'bottom'});
          function resetFields() { $('#season_season_id').val(''); $('#swimmer_swimmer_id').val(''); }

    .accordion-body.collapse.in#collapseFlt
      .accordion-inner
        = form_tag( :records_for_swimmer, :remote => true, :class => 'form-horizontal', :onsubmit => "$('#loadingIndicator').show();") do
          .row-fluid
            .control-group
              = label_tag( :season_id, I18n.t(:season, {:scope=>[:activerecord, :models]}), :for => :season, :class => 'control-label' )
              .controls
                = select( :season, :season_id, Season.sort_season_by_begin_date('DESC').all.collect { |s| [s.get_full_name, s.id] }, { :prompt => I18n.t(:please_select) }, { :class => 'input-xlarge' } )
          .row-fluid
            .control-group
              = label_tag( :swimmer, I18n.t(:swimmer, {:scope=>[:activerecord, :models]}), :for => :swimmer, :class => 'control-label' )
              .controls
                = select( :swimmer, :swimmer_id, Swimmer.to_dropdown(), { :prompt => I18n.t(:please_select) }, { :class => 'input-xlarge' } )
          .row-fluid
            .control-group
              .controls
                = link_to_function( I18n.t(:reset), "resetFields();", :class => 'btn' )
                = submit_tag( I18n.t(:submit), :data => {:disable_with => I18n.t(:please_wait), :class => 'btn disabled'}, :class => 'btn' )
                %span(id='loadingIndicator' hidden='true')
                  = image_tag( 'indicator.gif' )

#records_4x_grid
