-# [Steve, 20170314] Sadly, this does not resolve the Twitter Typeahead reload issue w/ Turbolinks: & the browser back-button
- content_for :head do
  %meta( name="turbolinks-visit-control" content="reload" )

= render( partial: 'tabs_and_title' )
= render( partial: 'goggles/spinner_modal_overflow' )


.col-xs-12.alert.alert-warning
  = I18n.t('passages.relay_edit_disclaimer')
%i.text-center
  = I18n.t('passages.refresh_page_in_case_of_errors')


.col-xs-12.goggles-category-gap
  - @mrrs.each do |mrr|
    .col-xs-12.col-md-6.col-lg-4
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr.info
            %th.text-center{'colspan'=>'2'}
              %br/
              %h4
                = "#{ mrr.meeting_event.event_type.i18n_short },"
                = "#{ mrr.gender_type.code }-#{ mrr.category_type.short_name }"
            %th.text-center{'colspan'=>'2'}
              %br/
              %b= mrr.get_timing
          %tr
            %td.text-center{'colspan'=>'2'}
              %i= I18n.t('passages.relay_athlete')
            %td.text-center
              %i= "#{ mrr.event_type.phase_length_in_meters } #{ I18n.t('meters_short') }"
            %td.text-center
              %i= I18n.t('activerecord.attributes.meeting_relay_swimmer.reaction_time')

          - @relay_swimmer_hash[ mrr.id ].each do |relay_swimmer|
            - swimmer_dom_id  = "swimmer_#{ mrr.id }_#{ relay_swimmer.relay_order }"
            - timing_dom_id   = "timing_#{ mrr.id }_#{ relay_swimmer.relay_order }"
            - reaction_dom_id = "reaction_#{ mrr.id }_#{ relay_swimmer.relay_order }"
            %tr
              %td
                %b= relay_swimmer.relay_order
              %td
                = text_field_tag( swimmer_dom_id,                                         |
                    relay_swimmer.swimmer ? relay_swimmer.swimmer.get_full_name : nil,    |
                    'class' => "input-sm typeahead relay_swimmer",          |
                     autocomplete: 'off', "data-provide" => "typeahead",    |
                    'data-swimmer' => relay_swimmer.swimmer_id,             |
                    'data-mrr'     => mrr.id,                               |
                    'data-order'   => relay_swimmer.relay_order,            |
                    'data-swimmer_dom_id'  => swimmer_dom_id,               |
                    'data-timing_dom_id'   => timing_dom_id,                |
                    'data-reaction_dom_id' => reaction_dom_id,              |
                    placeholder: I18n.t('combobox_3char_tooltip') )         |
              %td.text-right
                - curr_value = relay_swimmer.get_timing != "00\"00" ? relay_swimmer.get_timing : nil
                = text_field_tag( timing_dom_id,                            |
                  curr_value,                                               |
                  'class' => "input-mini text-right timing",                |
                  'onkeyup' => "_formatTiming( this.value, this );",        |
                  'onfocusout' => "handleEditRelaySwimmer(this);",          |
                  'onchange' => "handleEditRelaySwimmer(this);",            |
                  'data-swimmer' => relay_swimmer.swimmer_id,               |
                  'data-mrr'     => mrr.id,                                 |
                  'data-order'   => relay_swimmer.relay_order,              |
                  'data-value' => curr_value,                               |
                  'data-swimmer_dom_id'  => swimmer_dom_id,                 |
                  'data-timing_dom_id'   => timing_dom_id,                  |
                  'data-reaction_dom_id' => reaction_dom_id                 |
                )                                                           |
              %td.text-right
                - curr_value = relay_swimmer.reaction_time > 0 ? relay_swimmer.reaction_time : nil
                = text_field_tag( reaction_dom_id,                          |
                  curr_value,                                               |
                  'class' => "input-mini text-right timing",                |
                  'onkeyup' => "_formatTiming( this.value, this );",        |
                  'onfocusout' => "handleEditRelaySwimmer(this);",          |
                  'onchange' => "handleEditRelaySwimmer(this);",            |
                  'data-swimmer' => relay_swimmer.swimmer_id,               |
                  'data-mrr'     => mrr.id,                                 |
                  'data-order'   => relay_swimmer.relay_order,              |
                  'data-value' => curr_value,                               |
                  'data-swimmer_dom_id'  => swimmer_dom_id,                 |
                  'data-timing_dom_id'   => timing_dom_id,                  |
                  'data-reaction_dom_id' => reaction_dom_id                 |
                )                                                           |
      .col-xs-12.goggles-category-gap
        &nbsp;

.col-xs-12.goggles-category-gap
  &nbsp;


:javascript
  /**
   * Bloodhound suggestion engine setup.
   */
  var suggestedRelaySwimmerNames = new Bloodhound({
    datumTokenizer: tokenizeRelaySwimmerName,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    // Assuming datum is a JSON-ified instance of swimmer, this should return its ID:
    //identify: function( datum ){ return datum.id; },
    remote: {
      url:       "#{ api_v1_swimmers_path(q:'QUERY', t: @managed_team_ids, s: @meeting.season_id) }",
      wildcard:  'QUERY',
      transform: transformRelaySwimmerNamesResponse
    }
  });
  // --------------------------------------------------------------------------


  var typeAheadRelaySwimmerOptions = {
    name:   'Swimmer-names',
    // This is just for the displaying limit for the menu, not the actual returned results:
    limit:  10,
    asynch: true,
    source: suggestedRelaySwimmerNames,
    // Displayable value for selections:
    display: function( datum ) {
      // Combine the individual tokens into a displayable value:
      var tokens = detokenizeRelaySwimmerName( datum );
      var namePart = tokens[0];
      var yearPart = tokens[1];
      return namePart + ' (' + yearPart + ')';
    },
    templates: {
      suggestion: function( datum ) {
        var tokens = detokenizeRelaySwimmerName( datum );
        // DEBUG
        //console.log('tokens: ', tokens);
        return '<div>' + tokens[0] + '&nbsp;<i>(' + tokens[1] + ')</i></div>';
      }
    }
  };
  // --------------------------------------------------------------------------


  /**
   * Calls the remote editing action for editing the relay swimmers.
   */
  function performEditRelaySwimmer( currNode ) {
    // DEBUG
    //console.log('performEditRelaySwimmer: called.');
    //console.log( currNode.value );
    //console.log( $("#" + currNode.dataset['timing_dom_id']).val() );
    //console.log( $("#" + currNode.dataset['reaction_dom_id']).val() );

    $('#spinner').removeClass('hide');
    currNode.dataset['value'] = currNode.value;
    $.ajax({
      type: "POST",
      url: "#{ api_v2_remote_edit_update_relay_swimmer_path() }",
      data: {
        mrr:  currNode.dataset['mrr'],
        o:    currNode.dataset['order'],
        s:    currNode.dataset['swimmer'],
        time: $( "#" + currNode.dataset['timing_dom_id'] ).val(),
        r:    $( "#" + currNode.dataset['reaction_dom_id'] ).val()
      },
      dataType: "application/json"
    }).always( function( result ) {
      // DEBUG
      //console.log('handleEditRelaySwimmer: Callback: always');
      //console.log( result.status );
      $('#spinner').addClass('hide');
    });

    return true;
  };
  // --------------------------------------------------------------------------
