= render( partial: 'teams/tabs_and_title' )

.col-xs-12.goggles-category-gap#pending_reservations

  - if @pending_reservations.count == 0
    %b= I18n.t('team_management.no_pendings')  
  
  - else
  
    = form_tag( :team_management_show_pending_reservations, class: 'form-horizontal', remote: true, onsubmit: "$('#loadingIndicator').show()" ) do
  
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
              
          - meeting_id = 0
          - prev_res_id = 0
          - @pending_reservations.each do |reservation|
            - if reservation.federation_code != 'CSI'
              - time = ( reservation.suggested_minutes.to_i > 0 ? "#{reservation.suggested_minutes}'" : '' ) + sprintf("%02.0f\"", reservation.suggested_seconds) + sprintf("%02.0f", reservation.suggested_hundreds)
            - else
              - time = sprintf("%02.0f:", reservation.suggested_minutes) + sprintf("%02.0f.", reservation.suggested_seconds) + sprintf("%02.0f", reservation.suggested_hundreds)

            - if meeting_id != reservation.meeting_id
              - meeting_id = reservation.meeting_id
              %tr{'class'=>'success'}
                %td{'colspan'=>'4'}
                  %a{ href: "#{ meeting_reservations_edit_events_path(:id=>reservation.meeting_id) }", 'data-toggle' => 'tooltip', title: I18n.t('team_management.reservation_link') }
                    %b= Format.a_date( reservation.header_date ) + ' - ' + reservation.description + ' (' + Format.a_date( reservation.entry_deadline ) + ')' 
                %td.text-right{'colspan'=>'2'}
                  %b= @pending_reservations.count{ |r| r.meeting_id == meeting_id }
              %tr{'class'=>'info'}
                %td
                  %b= I18n.t('team_management.swimmer')
                %td
                  %b= I18n.t('team_management.badge_number')
                %td
                  %b= I18n.t('team_management.event')
                %td.text-right
                  - if reservation.federation_code != 'CSI'
                    %b= I18n.t('team_management.entry_time')
                  - else
                    %b= I18n.t('team_management.csi_time')
                %td
                  %b= I18n.t('team_management.notes')
                %td
                  %b= I18n.t('team_management.confirm')
            
            %tr
              %td
                = reservation.complete_name
              %td
                = reservation.badge_number
              %td
                = reservation.event
              %td.text-right
                = time
              %td
                - if reservation.notes
                  = reservation.notes
                - else
                  = I18n.t('team_management.manual')
              
              - if reservation.meeting_reservation_id != prev_res_id
                - prev_res_id = reservation.meeting_reservation_id 
                %td.text-center
                  .control-group
                    = check_box_tag( "meeting_reservation_id:#{reservation.meeting_reservation_id}", true )

      .col-xs-12.goggles-category-gap#confirm_button
      = submit_tag( I18n.t('team_management.confirm_selected'), id: "btn_submit", data: {disable_with: I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn btn-primary' )
      %span( id='loadingIndicator' hidden='true' )
        = image_tag( 'indicator.gif' )
      .col-xs-12.goggles-category-gap
 
