- has_passages = ( individual_result.passages.count > 0 )
- col = event_list.find_index(individual_result.event_type.code)
%tr
  %td
    %a{'id'=>"mir#{individual_result.id}", 'href'=>"#{ meeting_show_full_path(:id=>individual_result.meeting.id, :swimmer_id=>individual_result.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.show_results_tooltip')}
      = Format.a_date( individual_result.get_scheduled_date )
  %td
    = individual_result.meeting.get_short_name
    - event_list.each_with_index do |event,index|
      %td.goggles-rightalign
        - if index == col
          - if has_passages
            .btn-link{ id: "passages#{individual_result.id}", 'data-toggle' => 'popover', 'data-trigger' => 'click', 'data-placement' => "top" }
              = individual_result.get_timing
          - else
            = individual_result.get_timing

- if has_passages
  %script
    var popContent = "#{ escape_javascript( render(partial: 'full_history_1_popover_passages', locals: {individual_result: individual_result})) }";
    $("#passages#{individual_result.id}").popover({                             |
      title: "#{ escape_javascript(individual_result.get_timing.html_safe) }",  |
      html: true,                                                               |
      content: popContent                                                       |
    });                                                                         |
