- has_passages = ( record && record.meeting_individual_result && record.meeting_individual_result.passages.count > 0 )
%td
  - if record
    - if has_passages
      .btn-link{ id: "passages#{record.meeting_individual_result.id}#{record_type_code}", 'data-toggle' => 'popover', 'data-trigger' => 'click', 'data-placement' => "top" }
        %b= record.get_timing
    - else
      %b= record.get_timing
      %br
    - if record.meeting_individual_result && (sched_date = record.meeting_individual_result.get_scheduled_date).kind_of?(Date)
      = Format.a_date( sched_date )
      %br
      %a{'id'=>"rec#{record.id}", 'href'=>"#{ meeting_show_full_path(:id=>record.meeting_individual_result.meeting.id, :swimmer_id=>record.swimmer_id) }", 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.show_results_tooltip')}
        = record.meeting_individual_result.meeting.description
    - else
      = '-'

- if has_passages
  %script
    var popContent = "#{ escape_javascript( render(partial: 'result_popover_passages', locals: {individual_result: record.meeting_individual_result})) }";
    $("#passages#{record.meeting_individual_result.id}#{record_type_code}").popover({          |
      title: "#{ escape_javascript(record.meeting_individual_result.get_timing.html_safe) }",  |
      html: true,                                                                              |
      content: popContent                                                                      |
    });                                                                                        |
