.row-fluid
  .goggles-category-gap{ 'id' => "#{pool_type.code}" }
    %h3
      = "#{pool_type.i18n_description}"
      = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
        = image_tag('bullet_arrow_up.png')
.row-fluid
  .span9
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td.goggles-rightalign
          - grid_builder.record_types.each do |record_type|
            %td.goggles-centeralign
              %b= record_type.i18n_description

        - grid_builder.event_types( pool_type.id ).each do |event_type|
          - if grid_builder.collection.has_any_record_for( pool_type.code, event_type.code )
            %tr
              %td.goggles-rightalign
                %b= event_type.i18n_short
              - grid_builder.record_types.each do |record_type|
                - record = grid_builder.collection.get_record_for( record_type.code, pool_type.code, event_type.code )
                = render( partial: 'personal_bests_cell', locals: { record: record, record_type_code: record_type.code } )

