- has_passages = ( mir && mir.respond_to?(:passages) && mir.passages.exists? )
%td
  - if mir
    - if has_passages
      .btn-link{ id: "passages#{ mir.id }#{ record_type_code }", 'data-toggle' => 'popover', 'data-trigger' => 'click', 'data-placement' => "top" }
        %b= mir.respond_to?(:get_timing) ? mir.get_timing : mir.to_s
    - else
      %b= mir.respond_to?(:get_timing) ? mir.get_timing : mir.to_s
      %br
    - if mir.respond_to?(:get_scheduled_date) && (sched_date = mir.get_scheduled_date).kind_of?(Date)
      = Format.a_date( sched_date )
      %br
      = mir.respond_to?(:meeting) ? mir.meeting.decorate.get_linked_full_name : '-'
    - else
      = '-'
- if has_passages
  %script
    var popContent = "#{ escape_javascript( render(partial: 'result_popover_passages', locals: {individual_result: mir})) }";
    $("#passages#{ mir.id }#{ record_type_code }").popover({        |
      title: "#{ escape_javascript( mir.get_timing.html_safe ) }",  |
      html: true,                                                   |
      content: popContent                                           |
    });                                                             |
