.row.goggles-category-gap#swimmer_records
  .col-xs-9
    .row
      .col-xs-3
        = I18n.t('swimmers.total_team_records') +':'
      .col-xs-9
        %a#totalCount{ href: "#", onclick: "$('#loadingIndicator').show(); loadAJAXRecordCount();", 'data-turbolinks'=>'false', 'data-toggle' => 'tooltip', title: I18n.t('records.total_count_disclaimer_tooltip') }
          = I18n.t('records.compute_label')
        - SeasonType.uniq.each do |season_type|
          %span{ id: "labelSeasonType#{season_type.id}", hidden: true }
            = "#{season_type.get_full_name}: "
          %span{ id: "totalSeasonType#{season_type.id}", hidden: true }
            0
          %span{ id: "spaceSeasonType#{season_type.id}", hidden: true }
            &nbsp;
        %span(id='loadingIndicator' hidden='true')
          = image_tag( 'indicator.gif' )

    .row
      .col-xs-3
        = I18n.t('swimmers.records_by_team') +':'
      .col-xs-9
        %ul
          - @swimmer.teams.uniq.each do |team|
            %li
              %a{ href: "#", onclick: "$('#loadingIndicator').show(); $('#records_4x_grid').hide(); loadAJAXTeamRecord(#{team.id}, #{@swimmer.id});", 'data-toggle' => 'tooltip', title: I18n.t('records.team_load_records_tooltip') }
                = team.get_full_name
.row
  #records_4x_grid

%script
  $('#firstTab').addClass('active');
  function loadAJAXRecordCount() {                                              |
    $.ajax({                                                                    |
      url: "#{ api_v1_records_count_records_for_swimmer_path(id: @swimmer.id) }", |
      success: function(data) {                                                 |
        $('#loadingIndicator').hide();                                          |
        $('#totalCount').replaceWith('');                                       |
        for ( var i = 0; i < data.length; i++ ) {                               |
            if ( data[i]['total'] > 0 ) {                                       |
                tagTotalId = '#totalSeasonType' + data[i]['season_type_id'];    |
                $( tagTotalId ).replaceWith( data[i]['total'] );                |
                $( tagTotalId ).show();                                         |
                $( '#labelSeasonType' + data[i]['season_type_id'] ).show();     |
                $( '#spaceSeasonType' + data[i]['season_type_id'] ).show();     |
            }                                                                   |
        }                                                                       |
      },                                                                        |
      dataType: 'json'                                                          |
    });                                                                         |
  };                                                                            |
  function loadAJAXTeamRecord(team_id, swimmer_id) {                            |
    $.ajax({                                                                    |
      url: "#{ records_for_team_path() }",                                      |
      data: { team: { id: team_id }, highlight_swimmer_id: swimmer_id },        |
      success: function(data) { $('#records_4x_grid').show(); },                |
      dataType: 'script'                                                        |
    });                                                                         |
  };                                                                            |
