-# Time standards, used to calculate performance score
.col-xs-12.goggles-category-gap#time_standards
  .col-xs-12.table-responsive
    %b= "#{I18n.t('regionalercsi.time_standards')} - #{@badge.category_type.code} #{@swimmer.gender_type.i18n_description}"
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td.goggles-centeralign
            %b= I18n.t('meeting_calendar.pool_type')
          - @events_list.each do |event_type|
            %td.goggles-centeralign
              %b= event_type.code
        - PoolType.only_for_meetings.each do |pool_type|
          %tr
            %td.goggles-centeralign{'class'=>'info'}
              %b= pool_type.code
            - @events_list.each do |event_type|
              %td.goggles-rightalign
                = TimeStandard.where(['season_id = ? AND pool_type_id = ? AND event_type_id = ? AND gender_type_id = ? AND category_type_id = ?', @season.id, pool_type.id, event_type.id, @swimmer.gender_type_id, @badge.category_type_id]).first.get_timing if TimeStandard.where(['season_id = ? AND pool_type_id = ? AND event_type_id = ? AND gender_type_id = ? AND category_type_id = ?', @season.id, pool_type.id, event_type.id, @swimmer.gender_type_id, @badge.category_type_id]).count > 0
-#                = TimeStandard.get_standard( @season.id, pool_type.id, event_type.id ).get_timing if TimeStandard.has_standard?( @season.id, pool_type.id, event_type.id ) 
