- passages = individual_result.passages if passages == nil

%table.table.table-striped.table-bordered.table-condensed.table-hover
  - passages.order(:passage_type_id).each do |passage|
    %tr
      %td.goggles-rightalign
        %i= "#{ passage.get_passage_distance } #{ I18n.t('meters_short') }"
      %td.goggles-rightalign
        = passage.get_timing
      %td.goggles-rightalign
        = passage.compute_incremental_time
