.col-xs-12.goggles-category-gap#meetings
-# Shows all meetings attended
.col-xs-12.col-md-6.table-responsive
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %tbody
      %tr{'class'=>'info'}
        %td{'colspan'=>4}
          %b= I18n.t('meetings')
          %b= " (#{@meetings.count})"
          = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
            = image_tag('bullet_arrow_up.png')
      - @meetings.each do |meeting|
        %tr
          %td
            = meeting.decorate.get_linked_full_name
          %td.goggles-rightalign
            = meeting.get_meeting_date
          %td.goggles-centeralign
            = meeting.get_swimming_pool.pool_type.code
          %td
            = meeting.get_city
