%script
  var sm_score = Number.parseFloat( "#{supermaster_score.score}" );
  var sm_label = "#{t('supermaster.supermaster')}: #{supermaster_score.score}";
  var im_score = Number.parseFloat( "#{ironmaster_score.score}" );
  var im_label = "#{t('supermaster.ironmaster')}: #{ironmaster_score.score}";
  var tr_score = Number.parseFloat( "#{team_ranking_score.score}" );
  var tr_label = "#{t('supermaster.team_ranking')}: #{team_ranking_score.score}";

.row-fluid.goggles-category-gap
  .span4
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td.goggles-centeralign
            %b= @season.get_full_name
        %tr
          %td.goggles-centeralign
            %b= @swimmer.get_full_name
            = " - #{@swimmer.year_of_birth}"  
            = " (#{@badge.category_type.code})"  
        %tr
          %td.goggles-centeralign
            = @badge.number
        %tr
          %td.goggles-centeralign
            %b= @team.decorate.get_linked_name
        %tr
          %td.goggles-centeralign
            %b= @team.city ? @team.city.get_full_name : ''
        %tr
          %td.goggles-centeralign
            = @team_affiliation.number

  .span8
    .span4#sm_chart
    .span4#im_chart
    .span4#tr_chart

:javascript
  $(document).ready( function(){
    $.jqplot( 'sm_chart',
      [[ sm_score ]],
      {
        seriesDefaults: {
            renderer: $.jqplot.MeterGaugeRenderer,
            rendererOptions: {
                label: sm_label,
                labelPosition: 'bottom',
                labelHeightAdjust: -5,
                min: 2500,
                max: 5000,
                intervalOuterRadius: 40,
                ticks: [2500, 3000, 3500, 4000, 4500, 5000],
                intervals:[3000, 4000, 4500, 5000],
                intervalColors:['#efefef', '#66cc66', '#E7E658', '#cc6666']
            }
        }
      }
    );
    $.jqplot( 'im_chart',
      [[ im_score ]],
      {
        seriesDefaults: {
             renderer: $.jqplot.MeterGaugeRenderer,
             rendererOptions: {
                label: im_label,
                labelPosition: 'bottom',
                labelHeightAdjust: -5,
                min: 9000,
                max: 18000,
                intervalOuterRadius: 40,
                ticks: [9000, 12000, 15000, 18000],
                intervals:[10800,14400, 16200, 18000],
                intervalColors:['#efefef', '#66cc66', '#E7E658', '#cc6666']
            }
        }
      }
    );
    $.jqplot('tr_chart',
      [[ tr_score ]],
      {
        seriesDefaults: {
             renderer: $.jqplot.MeterGaugeRenderer,
             rendererOptions: {
                label: tr_label,
                labelPosition: 'bottom',
                labelHeightAdjust: -5,
                min: 1500,
                max: 3000,
                intervalOuterRadius: 40,
                intervals:[1800, 2400, 2700, 3000],
                intervalColors:['#efefef', '#66cc66', '#E7E658', '#cc6666']
            }
        }
      }
    );
  });
