.col-xs-12.goggles-category-gap#Rules
  %h3= I18n.t('supermaster.ranking_rules')
  .row
    .col-xs-2
      %b= "#{I18n.t('supermaster.supermaster_short')} - #{I18n.t('supermaster.supermaster')}:"
    .col-xs-10
      = I18n.t('supermaster.how_to_supermaster')
  .row.goggles-category-gap
    .col-xs-2
      %b= "#{I18n.t('supermaster.ironmaster_short')} - #{I18n.t('supermaster.ironmaster')}:"
    .col-xs-10
      = I18n.t('supermaster.how_to_ironmaster')
  .row.goggles-category-gap
    .col-xs-2
      %b= "#{I18n.t('supermaster.team_ranking_short')} - #{I18n.t('supermaster.team_ranking')}:"
    .col-xs-10
      = I18n.t('supermaster.how_to_team_ranking')
