-# Swimmer badge render
-# Need: season, swimmer, badge, team, team_affiliation
%table.table.table-hover.table-condensed
  %tbody
    %tr{'class'=>'info'}
      %td.text-center{'colspan' => 3}
        %b= season.get_full_name
    %tr{'class'=>'success'}
      %td.text-center
        %b= swimmer.get_full_name
      %td.text-center
        = "#{badge.category_type.code} (#{swimmer.year_of_birth})"
      %td.text-center
        = badge ? badge.number : ''
    %tr{'class'=>'success'}
      %td.text-center
        %b= team.decorate.get_linked_name
      %td.text-center{'colspan' => 2}
        = team_affiliation ? team_affiliation.number : ''
    %tr{'class'=>'success'}
      %td.text-center{'colspan' => 3}
        %b= team.city ? team.city.get_full_name : ''
