.row-fluid#swimmer_goggle_cup
  .goggles-category-gap#pageTop
    %h2= @title
    - if @goggle_cups.size == 0
      %p= "Nessuna Goggle Cup definita per l'annata sportiva corrente"
    - else
      - @goggle_cups.each do |goggle_cup|
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr{'class'=>'info'}
              %td{ colspan: 3 }
                %b= goggle_cup.get_verbose_name
              %td.goggles-rightalign
                = goggle_cup.meeting_individual_results.for_swimmer(@swimmer).has_points('goggle_cup_points').count
            - goggle_cup.meeting_individual_results.for_swimmer(@swimmer).has_points('goggle_cup_points').sort_by_goggle_cup.each do |mir|
              %tr
                %td
                  = mir.meeting.description
                %td
                  = mir.event_type.code
                %td.goggles-rightalign
                  = mir.goggle_cup_points
                %td.goggles-rightalign
                  = mir.get_timing
      
.row-fluid.goggles-category-gap
