%ul.nav.nav-tabs#topOfPage
  %li
    = link_to( t('radiography.radio_tab'), swimmer_radio_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.medals_tab'), swimmer_medals_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.best_timings_tab'), swimmer_best_timings_path(:id=>@swimmer.id) )
  %li.active
    = link_to( t('radiography.all_races_tab'), '#' )
  %li
    = link_to( t('radiography.misc'), swimmer_misc_path(:id=>@swimmer.id) )

.container-fluid
  .row-fluid
    .span12
      = I18n.t(:coming_soon)
