%ul.nav.nav-tabs#topOfPage
  %li
    = link_to( t('radiography.radio_tab'), swimmer_radio_path(id: @swimmer.id) )
  %li
    = link_to( t('radiography.medals_tab'), swimmer_medals_path(id: @swimmer.id) )
  %li.active
    = link_to( t('radiography.best_timings_tab'), '#' )
  %li
    = link_to( t('radiography.full_history_tab'), swimmer_full_history_path(id: @swimmer.id) )
  %li
    = link_to( t('radiography.misc_tab'), swimmer_misc_path(id: @swimmer.id) )

= render( partial: 'radio_title' )

.row-fluid
  #records_4x_grid
    #loadingIndicator.offset6
      = I18n.t('please_wait')
      = image_tag( 'indicator.gif' )

%script
  $.ajax({                                                                      |
    url: "#{ records_for_swimmer_path() }",                                     |
    data: { swimmer: { id: "#{@swimmer.id}" } },                                |
    dataType: 'script'                                                          |
  });                                                                           |
