= render( partial: 'tabs_and_radio_title' )

.row-fluid#full_history_by_date_grid
  .goggles-category-gap#pageTop

  - @full_history_by_event.each do |full_history_key,full_history_element|
    - if full_history_element[1].size > 0
      .row-fluid
        .goggles-category-gap{ 'id' => "#{full_history_key}" }
        %table.table.table-striped.table-bordered.table-hover.table-condensed
          %tbody
            %tr{'class'=>'info'}
              %td
                %b= full_history_key
              %td.goggles-rightalign
                %b= 'R.T.'
              - passage_list = full_history_element[0]
              - passage_list.each do |passage_code|
                %td.goggles-centeralign
                  %b= passage_code
              %td.goggles-rightalign
                %b= 'Final'
              %td.goggles-rightalign
                %b= 'Points'
              %td.goggles-rightalign
                %b= 'Rank'
              
            - full_history_element[1].each do |meeting_individual_result|
              - meeting = meeting_individual_result.meeting
              - passages = full_history_element[2].where(meeting_individual_result: meeting_individual_result)
              = render( partial: 'full_history_by_time_meeting_row', locals: { meeting_individual_result: meeting_individual_result, passage_list: passage_list, meeting: meeting, passages: passages } )

.row-fluid.goggles-category-gap
