= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_swimmer( 'medals', @swimmer.id, @max_updated_at ) ) do

  .row-fluid.goggles-category-gap#pageTop
    .navbar
      %ul.nav
        %li
          %a.goggles-nav-compact(href="#summary")= I18n.t('radiography.medals_summary')
        %li
          %a.goggles-nav-compact(href="#by_season_type")= I18n.t('radiography.medals_by_season_type')
        - @event_medal_collection.keys.each do |pool_type|
          %li
            %a.goggles-nav-compact(href="#by_event_type_#{pool_type}")= I18n.t('radiography.medals_by_event_type').gsub('{POOL_TYPE}', pool_type)
      .ghost-divider-vertical
  
  .row-fluid.goggles-category-gap{ 'id' => "summary" }
    %h3
      = I18n.t('radiography.medals_summary')
      %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
    .span9
      .row-fluid
        .span3
          = image_tag('medal_gold_3.png')
          = I18n.t('radiography.total_gold_medals') +':'
        .span6
          = @gold_medals
      .row-fluid
        .span3
          = image_tag('medal_silver_3.png')
          = I18n.t('radiography.total_silver_medals') +':'
        .span6
          = @silver_medals
      .row-fluid
        .span3
          = image_tag('medal_bronze_3.png')
          = I18n.t('radiography.total_bronze_medals') +':'
        .span6
          = @bronze_medals
      .row-fluid
        .span3
          = I18n.t('radiography.total_wooden_medals') +':'
        .span6
          = @wooden_medals
      .row-fluid
        .span3
          = I18n.t('radiography.total_season_records') +':'
        .span6
          = @tot_season_records_for_this_swimmer
  
  .row-fluid.goggles-category-gap{ 'id' => "by_season_type" }
    %h3
      = I18n.t('radiography.medals_by_season_type')
      %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
    .span5
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td.span2.goggles-centeralign
              %b= I18n.t('medals')
            - @seasonal_medal_collection.each do |medal_collection|
              %td.span2.goggles-centeralign
                %b= medal_collection[:season_type]
            %td.span1.goggles-centeralign
              %b=  I18n.t('tot')
          - @medal_types.each do |medal_type|
            %tr
              %td
                %b= medal_type.i18n_description
              - tot_medals_for_type = 0
              - @seasonal_medal_collection.each do |medal_collection|
                - tot_medals_for_type += medal_collection[medal_type.rank]
                %td.goggles-rightalign
                  - if medal_collection[medal_type.rank] > 0
                    = medal_collection[medal_type.rank]
              %td.goggles-rightalign
                %b= tot_medals_for_type
          - if @tot_season_records_for_this_swimmer > 0
            %tr
              %td
                %b= I18n.t('radiography.seasonal_records')
              - @seasonal_medal_collection.each do |medal_collection|
                %td.goggles-rightalign
                  - if medal_collection[:tot_season_records] > 0
                    = medal_collection[:tot_season_records]
              %td
  
  - @event_medal_collection.keys.each do |pool_type|
    .row-fluid.goggles-category-gap{ 'id' => "by_event_type_#{pool_type}" }
      %h3
        = I18n.t('radiography.medals_by_event_type').gsub('{POOL_TYPE}', pool_type)
        %a{ href: "#pageTop", 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page') }= image_tag('bullet_arrow_up.png')
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td.goggles-centeralign
              %b= I18n.t('medals')
            - @event_medal_collection[pool_type].each do |medal_collection|
              %td.goggles-centeralign
                %b= medal_collection[:event_type]
            %td.goggles-centeralign
              %b=  I18n.t('tot')
          - @medal_types.each do |medal_type|
            %tr
              %td
                %b= medal_type.i18n_description
              - tot_medals_for_type = 0
              - @event_medal_collection[pool_type].each do |medal_collection|
                - tot_medals_for_type += medal_collection[medal_type.rank]
                %td.goggles-rightalign
                  - if medal_collection[medal_type.rank] > 0
                    = medal_collection[medal_type.rank]
              %td.goggles-rightalign
                %b= tot_medals_for_type
  .row-fluid
    %p