%ul.nav.nav-tabs#topOfPage
  %li
    = link_to( t('radiography.radio_tab'), swimmer_radio_path(id: @swimmer.id) )
  %li
    = link_to( t('radiography.medals_tab'), swimmer_medals_path(id: @swimmer.id) )
  %li
    = link_to( t('radiography.best_timings_tab'), swimmer_best_timings_path(id: @swimmer.id) )
  %li.active
    = link_to( t('radiography.misc_tab'), '#' )

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    %h4
      = I18n.t('radiography.misc_tab') + ' -- '
      = I18n.t('radiography.radio_tab_title').gsub('{SWIMMER_NAME}', @swimmer.get_full_name)

  .row-fluid
    = form_tag( :swimmer_misc, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
      .control-group
        = label_tag( :season, I18n.t('activerecord.models.season'), :for => :season, class: 'control-label' )
        .controls
          = select_tag( :season, options_for_select([@current_season.get_full_name]), disabled: true, class: 'input-xxlarge' )
      .control-group
        = label_tag( :gender_type, I18n.t('activerecord.models.gender_type'), :for => :gender_type, class: 'control-label' )
        .controls
          = select_tag( :gender_type, options_for_select([@swimmer_gender.i18n_description]), disabled: true, class: 'input-small' )
      .control-group
        = label_tag( :category_type, I18n.t('activerecord.models.category_type'), :for => :category_type, class: 'control-label' )
        .controls
          = select_tag( :category_type, options_for_select([@swimmer_category.get_short_name]), disabled: true, class: 'input-small' )
      .control-group
        = label_tag( :pool_type, I18n.t('activerecord.models.pool_type'), :for => :pool_type, class: 'control-label' )
        .controls
          = select( :pool_type, :id, PoolType.only_for_meetings.to_dropdown(), { :prompt => I18n.t(:please_select) }, { class: 'input-small' } )
      .control-group
        = label_tag( :event_type, I18n.t('activerecord.models.event_type'), :for => :event_type, class: 'control-label' )
        .controls
          = select( :event_type, :id, EventType.are_not_relays.to_dropdown(), { :prompt => I18n.t(:please_select) }, { class: 'input-small' } )
      .control-group
        = label_tag( :timing, t('radiography.timing'), :for => :timing, class: 'control-label' )
        .controls
          = text_field_tag( :minutes, 0, class: 'input-micro' )
          '
          = text_field_tag( :seconds, 0, class: 'input-micro' )
          "
          = text_field_tag( :hundreds, 0, class: 'input-micro' )
          &nbsp;
          &nbsp;
          = submit_tag( I18n.t('radiography.compute'), :data => {:disable_with => I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn' )
          %span(id='loadingIndicator' hidden='true')
            = image_tag( 'indicator.gif' )
  - if @standard_points.to_i >= 0
    %table.table
      %tr
        %td.goggles-aligncenter{ colspan: 4 }
          %b= "#{I18n.t('radiography.compute_fin_score_for')} #{@current_event.i18n_description} - #{@current_pool.i18n_description}: #{@timing.to_s}"
      %tr
        %td.goggles-aligncenter{ colspan: 4 }
          "#{I18n.t('radiography.fin_standard_points')}: #{format_score(@standard_points)}".html_safe
      %tr
        %td.goggles-alignright
          I18n.t('radiography.time_standard')
        %td
          @current_time_standard.get_timing_instance.to_s
        %td.goggles-alignright
          I18n.t('records.world_record')
        %td
          &nbsp;
      %tr
        %td.goggles-alignright
          I18n.t('records.seasonal_best')
        %td
          &nbsp;
        %td.goggles-alignright
          I18n.t('records.team_record')
        %td
          @team_record
      %tr
        %td.goggles-alignright
          "#{I18n.t('records.personal_best')} #{@swimmer.get_full_name}"
        %td
          @swimmer_record
        %td.goggles-alignright
          "#{I18n.t('records.seasonal_best')} #{@swimmer.get_full_name}"
        %td
          &nbsp;
  - else
    .row-fluid
      = I18n.t('radiography.how_to_calculate')

