%ul.nav.nav-tabs#topOfPage
  %li
    = link_to( t('radiography.radio_tab'), swimmer_radio_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.medals_tab'), swimmer_medals_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.best_timings_tab'), swimmer_best_timings_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.all_races_tab'), swimmer_all_races_path(:id=>@swimmer.id) )
  %li.active
    = link_to( t('radiography.misc'), '#' )

.container-fluid
  .row-fluid
    .span12
      %p= "#{t('radiography.compute_fin_score_for')} #{@swimmer.get_full_name}" 
      %p= I18n.t(:coming_soon)
