%ul.nav.nav-tabs#topOfPage
  %li.active#firstTab
    = link_to( t('radiography.radio_tab'), '#' )
  %li
    = link_to( t('radiography.medals_tab'), medals_swimmer_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.best_timings_tab'), best_timings_swimmer_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.all_races_tab'), all_races_swimmer_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.misc'), misc_swimmer_path(:id=>@swimmer.id) )

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    - tab_title = I18n.t('radiography.radio_tab_title').gsub('{SWIMMER_NAME}', @swimmer.get_full_name)
    %h4
      = I18n.t('radiography.radio_tab') + ' -- '
      = tab_title
  .row-fluid
    .span9
      .row-fluid
        = @swimmer.get_full_name
      .row-fluid
        = @swimmer.first_name
      .row-fluid
        = @swimmer.last_name
      .row-fluid
        = @swimmer.nickname
      .row-fluid
        = @swimmer.year_of_birth
    .span3
      = image_tag( 'img_radiography.jpg' ) 

%script
  $('#firstTab').addClass('active');
