= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_swimmer( 'radio', @swimmer.id, @max_updated_at ) ) do

  .row.col-xs-12#page_top
    .col-xs-9
      .row
        .col-xs-3
          = I18n.t(:name) +':'
        .col-xs-5
          %b= @swimmer.get_full_name_with_nickname
        .col-xs-4
          = social_confirm_badge( @swimmer )
          = social_invite_badge( @swimmer )
          = social_block_badge( @swimmer )
          = social_remove_badge( @swimmer )
          = social_edit_badge( @swimmer )
      .row.goggles-category-gap
        .col-xs-3
          = I18n.t('swimmers.affiliated_in_teams') +':'
        .col-xs-9
          = @swimmer.get_linked_team_names.html_safe
      .row
        .col-xs-3
          = I18n.t('swimmers.year_of_birth') +':'
        .col-xs-9
          = @swimmer.year_of_birth
      .row
        .col-xs-3
          = I18n.t('swimmers.current_category') +':'
        .col-xs-9
          = @swimmer.get_current_category_type_codes.join(' / ')
          = ' ('
          = I18n.t('swimmers.last_registered_category') +':'
          - category = @swimmer.get_current_category_type_from_badges
          = category ? category.code : '?'
          = ')'
      .row.goggles-category-gap
        .col-xs-3
          = I18n.t('swimmers.meeting_presence') +':'
        .col-xs-9
          = count_with_award_star( @swimmer.meetings.uniq.count )
      .row
        .col-xs-3
          = I18n.t('swimmers.events_attended') +':'
        .col-xs-9
          = count_with_small_star( @swimmer.meeting_individual_results.count + @swimmer.meeting_relay_swimmers.count )
      .row
        .col-xs-3
          = I18n.t('swimmers.total_metres_swam') +':'
        .col-xs-9
          = count_with_star( @swimmer.get_total_meters_swam )
      .row
        .col-xs-3
          = I18n.t('swimmers.total_time_swam') +':'
        .col-xs-9
          = @swimmer.get_total_time_swam.to_s
      .row
        .col-xs-3
          = I18n.t('swimmers.first_attended_meeting') +':'
        .col-xs-9
          - m = @swimmer.get_first_meeting
          - if m
            %a{ href: "#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})" }
              = m.get_meeting_date
            = ', '
            %a{ href: "#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})" }
              = "#{m.get_full_name} (#{m.get_season_type})"
      .row
        .col-xs-3
          = I18n.t('swimmers.last_attended_meeting') +':'
        .col-xs-9
          - m = @swimmer.get_last_meeting
          - if m
            %a{ href: "#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})" }
              = m.get_meeting_date
            = ', '
            %a{ href: "#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})" }
              = "#{m.get_full_name} (#{m.get_season_type})"
      .row.goggles-category-gap
        .col-xs-3
          = I18n.t('swimmers.best_score_ever') +':'
        .col-xs-9
          - mir = @swimmer.get_best_individual_result
          - if mir
            - m = mir.meeting
            %p
              = format_score( mir.standard_points ) + ', '
              - if m
                %a{ href: "#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})" }
                  = m.get_scheduled_date
                = ', '
                %a{ href: "#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})" }
                  = "#{m.get_full_name} (#{m.get_season_type})"
                = ' - '
                = mir.event_type_code
      .row
        .col-xs-3
          = I18n.t('swimmers.worst_score_ever') +':'
        .col-xs-9
          - mir = @swimmer.get_worst_individual_result
          - if mir
            - m = mir.meeting
            %p
              = format_score( mir.standard_points ) + ', '
              - if m
                %a{ href: "#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})" }
                  = m.get_scheduled_date
                = ', '
                %a{ href: "#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', title: I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})" }
                  = "#{m.get_full_name} (#{m.get_season_type})"
                = ' - '
                = mir.event_type_code
      .row
        .col-xs-3
          = I18n.t('swimmers.total_disqualifications') +':'
        .col-xs-9
          - dsq_count = @swimmer.get_disqualifications_count
          - if dsq_count > 0
            = count_with_bomb( dsq_count )
          - else
            = I18n.t('swimmers.no_disqualifications')
    .col-xs-3
      .div{'align' => 'center'}
        - if ( @swimmer.associated_user == current_user )
          = link_to( image_tag(avatar_url(@swimmer), class: "img-polaroid"), "http://#{I18n.locale}.gravatar.com/", 'data-toggle' => 'tooltip', title: I18n.t('radiography.link_to_gravatar_tooltip') )
        -else
          = image_tag( avatar_url(@swimmer), class: "img-polaroid" )
        .row
          %br
        .row
          = link_to( "#{t('radiography.all_races_tab')} #{@swimmer.get_full_name}", meetings_custom_search_path( text: @swimmer.get_full_name, swimmer_id: @swimmer.id ), {class: "btn"} )

  -#= render( partial: 'records' )

  -# TODO Give some plus rendering some achievements!
