%ul.nav.nav-tabs#topOfPage
  %li.active#firstTab
    = link_to( t('radiography.radio_tab'), '#' )
  %li
    = link_to( t('radiography.medals_tab'), swimmer_medals_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.best_timings_tab'), swimmer_best_timings_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.all_races_tab'), swimmer_all_races_path(:id=>@swimmer.id) )
  %li
    = link_to( t('radiography.misc'), swimmer_misc_path(:id=>@swimmer.id) )

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    - tab_title = I18n.t('radiography.radio_tab_title').gsub('{SWIMMER_NAME}', @swimmer.get_full_name)
    %h4
      = I18n.t('radiography.radio_tab') + ' -- '
      = tab_title
  .row-fluid
    .span9
      .row-fluid
        .span3
          = I18n.t(:name) +':'
        .span6
          %b= @swimmer.get_full_name_with_nickname
          = admin_signed_in? ? " (id=#{@swimmer.id})" : ''
      .row-fluid
        .span3
        .span6
          = social_confirm_badge( @swimmer )
          = social_invite_badge( @swimmer )
          = social_block_badge( @swimmer )
          = social_remove_badge( @swimmer )
          = social_edit_badge( @swimmer )
      .row-fluid
        .span3
          = I18n.t('swimmers.affiliated_in_teams') +':'
        .span6
          = @swimmer.get_team_names
      .row-fluid
        .span3
          = I18n.t('swimmers.year_of_birth') +':'
        .span6
          = @swimmer.year_of_birth
      .row-fluid
        .span3
          = I18n.t('swimmers.current_category') +':'
        .span6
          = @swimmer.get_current_category_type_codes.join(' / ')
      .row-fluid
        .span3
          = I18n.t('swimmers.last_registered_category') +':'
        .span6
          - category = @swimmer.get_current_category_type_from_badges
          = category ? category.code : '?'
      .row-fluid
        .span3
          = I18n.t('swimmers.meeting_presence') +':'
        .span6
          - presence_count = @swimmer.meetings.uniq.count
          = presence_count
          - ( presence_count / 100 ).times do
            = image_tag('award_star_gold_3.png')
      .row-fluid
        .span3
          = I18n.t('swimmers.events_attended') +':'
        .span6
          - event_count = (@swimmer.meeting_individual_results.count + @swimmer.meeting_relay_swimmers.count)
          = event_count
          - ( event_count / 100 ).times do
            = image_tag('bullet_star.png')
      .row-fluid
        .span3
          = I18n.t('swimmers.total_metres_swam') +':'
        .span6
          - tot_mt = @swimmer.get_total_meters_swam
          = tot_mt
          - ( tot_mt / 10000 ).times do
            = image_tag('star.png')
      .row-fluid
        .span3
          = I18n.t('swimmers.total_time_swam') +':'
        .span6
          = @swimmer.get_total_time_swam.to_s
      .row-fluid
        .span3
          = I18n.t('swimmers.first_attended_meeting') +':'
        .span6
          - m = @swimmer.get_first_meeting
          - if m
            %a{'id'=>"firstSwim#{m.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})"}
              = m.get_scheduled_date
            = ', '
            %a{'id'=>"firstMeet#{m.id}", 'href'=>"#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})"}
              = "#{m.get_full_name} (#{m.get_season_type})"
      .row-fluid
        .span3
          = I18n.t('swimmers.last_attended_meeting') +':'
        .span6
          - m = @swimmer.get_last_meeting
          - if m
            %a{'id'=>"lastSwim#{m.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})"}
              = m.get_scheduled_date
            = ', '
            %a{'id'=>"lastMeet#{m.id}", 'href'=>"#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})"}
              = "#{m.get_full_name} (#{m.get_season_type})"
      .row-fluid
        .span3
          = I18n.t('swimmers.best_score_ever') +':'
        .span6
          - mir = @swimmer.get_best_individual_result
          - if mir
            - m = mir.meeting
            %p
              = sprintf( "%02.2f", mir.standard_points )
              = (mir.standard_points>800 ? " !" : '' )
              = show_tag( mir.standard_points>800, "asterisk_orange.png", '' )
              = ', '
              - if m
                %a{'id'=>"bestSwim#{m.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})"}
                  = m.get_scheduled_date
                = ', '
                %a{'id'=>"bestMeet#{m.id}", 'href'=>"#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})"}
                  = "#{m.get_full_name} (#{m.get_season_type})"
      .row-fluid
        .span3
          = I18n.t('swimmers.worst_score_ever') +':'
        .span6
          - mir = @swimmer.get_worst_individual_result
          - if mir
            - m = mir.meeting
            %p
              = sprintf( "%02.2f", mir.standard_points )
              = (mir.standard_points>800 ? " !" : '' )
              = show_tag( mir.standard_points>800, "asterisk_orange.png", '' )
              = ', '
              - if m
                %a{'id'=>"wrstSwim#{m.id}", 'href'=>"#{ meeting_show_swimmer_results_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_swimmer_results_tooltip') + "\r\n(#{@swimmer.get_full_name} @ #{m.get_full_name})"}
                  = m.get_scheduled_date
                = ', '
                %a{'id'=>"wrstMeet#{m.id}", 'href'=>"#{ meeting_show_full_path(:id=>m.id, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('meeting.show_results_tooltip') + "\r\n(#{m.get_full_name})"}
                  = "#{m.get_full_name} (#{m.get_season_type})"
      .row-fluid
        .span3
          = I18n.t('swimmers.total_team_records') +':'
        .span6
          - if @tot_team_records_for_this_swimmer > 0
            %a{'id'=>"teamRecs#{@swimmer.id}", 'href'=>"#{ records_show_for_team_path(:team_id=>@team_ids.first, :swimmer_id=>@swimmer.id) }", 'data-toggle' => 'tooltip', 'title' => I18n.t('records.team_title_disclaimer_tooltip')}
              = @tot_team_records_for_this_swimmer
          - ( @tot_team_records_for_this_swimmer / 10 ).times do
            = image_tag('rosette.png')
      .row-fluid
        .span3
          = I18n.t('swimmers.total_disqualifications') +':'
        .span6
          - dsq_count = @swimmer.get_disqualifications_count
          - if dsq_count > 0
            = dsq_count
            - ( dsq_count / 10 ).times do
              = image_tag('bomb.png')
          - else
            = I18n.t('swimmers.no_disqualifications')
    .span3
      = image_tag( 'img_radiography.jpg', :class=>"img-polaroid" ) 

%script
  $('#firstTab').addClass('active');
