= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_swimmer( 'supermaster', @swimmer.id, @max_updated_at, false, false, @badge.id ) ) do
  - supermaster_score = @sssc.calculate_supermaster_score
  - ironmaster_score = @sssc.calculate_ironmaster_score
  - team_ranking_score = @sssc.calculate_team_ranking_score

  %ul.nav.nav-tabs#season_list{role: "seasonlist"}
    - @swimmer.badges.for_season_type(@season_type).sort_by_season('DESC').each do |season_badge|
      = show_tab_link( params, season_badge.season.header_year, season_badge.season.header_year,                |
                       swimmer_supermaster_path(id: @swimmer.id, header_year: season_badge.season.header_year), |
                       nil, @badge.season.header_year == season_badge.season.header_year )                      |
  .col-xs-12.goggles-category-gap

  .col-xs-12
    = render( partial: 'supermaster_google_gauge', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )
    -#= render( partial: 'supermaster_jqplot_gauge', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )
    -#= render( partial: 'supermaster_plain_charts', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )

  .col-xs-12.goggles-category-gap#rankings
    %table.table.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td
            %b= I18n.t('rankings')
            = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
              = image_tag('bullet_arrow_up.png')
          %td.goggles-rightalign
            %b= I18n.t('number_short')
          %td.goggles-rightalign
            %b= I18n.t('score')
          %td.goggles-rightalign
            %b= I18n.t('average')
          %td.goggles-rightalign
            %b= I18n.t('best')
          %td.goggles-rightalign
            %b= I18n.t('worst')
        - if supermaster_score.score > 0
          %tr
            %td
              %b= "#{I18n.t('supermaster.supermaster_short')} - #{I18n.t('supermaster.supermaster')} "
              = show_tag( supermaster_score.number >= 5 )
            %td.goggles-rightalign{ 'class' => supermaster_score.number >= 5 ? 'success' : supermaster_score.number > 2 ? 'warning' : 'error' }
              = supermaster_score.number
            %td.goggles-rightalign
              %b= supermaster_score.score
            %td.goggles-rightalign
              = supermaster_score.average.round(2)
            %td.goggles-rightalign
              = supermaster_score.max
            %td.goggles-rightalign
              = supermaster_score.min
        - if ironmaster_score.score > 0
          %tr
            %td
              %b= "#{I18n.t('supermaster.ironmaster_short')} - #{I18n.t('supermaster.ironmaster')}"
              = show_tag( ironmaster_score.number >= 18 )
            %td.goggles-rightalign{ 'class' => ironmaster_score.number >= 18 ? 'success' : ironmaster_score.number > 9 ? 'warning' : 'error' }
              = ironmaster_score.number
            %td.goggles-rightalign
              %b= ironmaster_score.score
            %td.goggles-rightalign
              = ironmaster_score.average.round(2)
            %td.goggles-rightalign
              = ironmaster_score.max
            %td.goggles-rightalign
              = ironmaster_score.min
        - if team_ranking_score.score > 0
          %tr
            %td
              %b= "#{I18n.t('supermaster.team_ranking_short')} - #{I18n.t('supermaster.team_ranking')}"
              = show_tag( team_ranking_score.number >= 3 )
            %td.goggles-rightalign{ 'class' => team_ranking_score.number >= 3 ? 'success' : team_ranking_score.number > 2 ? 'warning' : 'error' }
              = team_ranking_score.number
            %td.goggles-rightalign
              %b= team_ranking_score.score
            %td.goggles-rightalign
              = team_ranking_score.average.round(2)
            %td.goggles-rightalign
              = team_ranking_score.max
            %td.goggles-rightalign
              = team_ranking_score.min

  .col-xs-12.goggles-category-gap
    .col-xs-4
      %table.table.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td{'colspan'=>2}
              %b= I18n.t('supermaster.medals_summary')
              = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                = image_tag('bullet_arrow_up.png')
          - MedalType.are_not_jokes.sort_by_rank.each do |medal_type|
            %tr
              %td
                = image_tag( medal_type.get_medal_tag )
                %b= medal_type.i18n_description
              %td.goggles-rightalign
                %b= @meeting_individual_results.has_rank(medal_type.rank).count
    .col-xs-offset-1.col-xs-4
      %table.table.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td{'colspan'=>2}
              %b= I18n.t('supermaster.scores_summary')
              = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                = image_tag('bullet_arrow_up.png')
          %tr
            %td
              %b= I18n.t('best')
            %td.goggles-rightalign
              %b= @meeting_individual_results.first.decorate.get_formatted_standard_points
          %tr
            %td
              %b= I18n.t('worst')
            %td.goggles-rightalign
              %b= @meeting_individual_results.last.decorate.get_formatted_standard_points
          %tr
            %td
              %b= I18n.t('average')
            %td.goggles-rightalign
              %b= (@meeting_individual_results.collect{ |row| row.standard_points }.sum / @meeting_individual_results.count).round(2)

  .col-xs-12.goggles-category-gap#meetings
    -# Shows all meetings attended
    .col-xs-12.col-md-6.table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td{'colspan'=>4}
              %b= I18n.t('meetings')
              %b= " (#{@meetings.count})"
              = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                = image_tag('bullet_arrow_up.png')
          - @meetings.each do |meeting|
            %tr
              %td
                = meeting.decorate.get_linked_full_name
              %td.goggles-rightalign
                = meeting.get_meeting_date
              %td.goggles-centeralign
                = meeting.get_swimming_pool.pool_type.code
              %td
                = meeting.get_city

    -# Shows all supermaster results
    .col-xs-12.col-md-6.table-responsive
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td
              %b= I18n.t('supermaster.results_detail')
              = link_to("#pageTop", {'data-turbolinks'=>'false', 'data-toggle'=>'tooltip', 'title'=>I18n.t('top_of_page')}) do
                = image_tag('bullet_arrow_up.png')
            %td
              %b= I18n.t('event')
            %td.goggles-rightalign
              %b= I18n.t('rnk')
            %td.goggles-rightalign
              %b= I18n.t('timing')
            %td.goggles-rightalign
              %b= I18n.t('score')
            %td.goggles-centeralign{'data-toggle'=>'tooltip', 'title'=>I18n.t('supermaster.supermaster')}
              %b= I18n.t('supermaster.supermaster_short')
            %td.goggles-centeralign{'data-toggle'=>'tooltip', 'title'=>I18n.t('supermaster.ironmaster')}
              %b= I18n.t('supermaster.ironmaster_short')
            %td.goggles-centeralign{'data-toggle'=>'tooltip', 'title'=>I18n.t('supermaster.team_ranking')}
              %b= I18n.t('supermaster.team_ranking_short')
          - @meeting_individual_results.each do |mir|
            %tr
              %td
                = mir.meeting.decorate.get_linked_full_name_with_date
              %td
                = "#{mir.event_type.code} (#{mir.pool_type.code})"
              %td.goggles-rightalign
                = mir.decorate.show_any_rank_medal
                = mir.decorate.get_rank_description
              %td.goggles-rightalign{ 'class' => mir.is_personal_best ? 'success' : '' }
                = mir.get_timing
              %td.goggles-rightalign
                = mir.decorate.get_formatted_standard_points
              %td.goggles-centeralign{'data-toggle'=>'tooltip', 'title'=>"#{I18n.t('supermaster.ranked_for')} #{I18n.t('supermaster.supermaster')}"}
                = show_tag( supermaster_score.results.include?( mir ) )
              %td.goggles-centeralign{'data-toggle'=>'tooltip', 'title'=>"#{I18n.t('supermaster.ranked_for')} #{I18n.t('supermaster.ironmaster')}"}
                = show_tag( ironmaster_score.results.include?( mir ) )
              %td.goggles-centeralign{'data-toggle'=>'tooltip', 'title'=>"#{I18n.t('supermaster.ranked_for')} #{I18n.t('supermaster.team_ranking')}"}
                = show_tag( team_ranking_score.results.include?( mir ) )

  .col-xs-12.goggles-category-gap#Rules
    %h3= I18n.t('supermaster.ranking_rules')
    .row
      .col-xs-2
        %b= "#{I18n.t('supermaster.supermaster_short')} - #{I18n.t('supermaster.supermaster')}:"
      .col-xs-10
        = I18n.t('supermaster.how_to_supermaster')
    .row.goggles-category-gap
      .col-xs-2
        %b= "#{I18n.t('supermaster.ironmaster_short')} - #{I18n.t('supermaster.ironmaster')}:"
      .col-xs-10
        = I18n.t('supermaster.how_to_ironmaster')
    .row.goggles-category-gap
      .col-xs-2
        %b= "#{I18n.t('supermaster.team_ranking_short')} - #{I18n.t('supermaster.team_ranking')}:"
      .col-xs-10
        = I18n.t('supermaster.how_to_team_ranking')

  .col-xs-12.goggles-category-gap#bottom_of_page
    &nbsp;
