= render( partial: 'tabs_and_radio_title' )
- cache( cache_key_for_swimmer( 'supermaster', @swimmer.id, @max_updated_at, false, false, @badge.id ) ) do
  - supermaster_score = @sssc.calculate_supermaster_score
  - ironmaster_score = @sssc.calculate_ironmaster_score
  - team_ranking_score = @sssc.calculate_team_ranking_score
  = render( partial: 'supermaster_sub_tab_menu' )

  .col-xs-12
    = render( partial: 'supermaster_google_gauge', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )
    -#= render( partial: 'supermaster_jqplot_gauge', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )
    -#= render( partial: 'supermaster_plain_charts', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )

  = render( partial: 'supermaster_rankings_table', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )
  = render( partial: 'supermaster_medals_scores_tables' )
  = render( partial: 'supermaster_meetings_table' )
  = render( partial: 'supermaster_results_table', locals: { supermaster_score: supermaster_score, ironmaster_score: ironmaster_score, team_ranking_score: team_ranking_score } )
  = render( partial: 'supermaster_rules' )

  .col-xs-12.goggles-category-gap#bottom_of_page
    &nbsp;
