= render( partial: 'tabs_and_radio_title' )

.row-fluid.goggles-category-gap#pageTop
  %h3
    = I18n.t('radiography.trainings_summary')
  .span9
    .row-fluid
      .span3
        = I18n.t('radiography.global_training_distance')
      .span6
        = @global_distance
    .row-fluid
      .span3
        = I18n.t('radiography.season_training_distance')
      .span6
        = @season_distance
    .row-fluid
      .span3
        = I18n.t('radiography.month_training_distance')
      .span6
        = @last_month
    .row-fluid
      .span3
        = I18n.t('radiography.week_training_distance')
      .span6
        = @last_week
    .row-fluid
      .span3
        = I18n.t('radiography.last_training_distance')
      .span6
        = @last_training

.row-fluid
  %p