= simple_form_for( review, html: { class: 'form-horizontal' } ) do |f|
  .form-group
    = f.input_field :user_id, as: :hidden
    = f.input_field :swimming_pool_id, as: :hidden
  .form-group
    = f.label I18n.t('activerecord.models.user')
    &nbsp;
    %i= current_user.name
  .form-group
    - if (review.swimming_pool_id.to_i > 0)
      = f.label I18n.t('activerecord.models.swimming_pool')
      &nbsp;
      %i= review.swimming_pool.get_verbose_name
    - else
      = f.association :swimming_pool, disabled: (review.swimming_pool_id.to_i > 0), label: I18n.t('activerecord.models.swimming_pool'), collection: SwimmingPool.to_dropdown( nil, :id, :get_verbose_name ), prompt: I18n.t('please_select')
  .form-group
    = f.label :title
    = f.input :title, label: false
  .form-group
    = f.label :entry_text
    = f.input :entry_text, label: false, input_html: { rows: 4 }

  .form-group
    = f.button :submit, I18n.t(:save)
