%section

.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      .row
        %h2.text-center.text-uppercase
          = I18n.t("devise.passwords.change_password")
          = t('devise.edit_password_title')
      .row
        = simple_form_for( resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal'  }, defaults: {input_html: { class: 'form-control' }} ) do |f|
          .col-sm-12
            .form-group
              = f.error_notification
              = devise_error_messages!
              = f.input :reset_password_token, as: :hidden
              = f.full_error :reset_password_token
          -#.col-sm-6
          -#  .form-group.padd20
          -#    = f.input_field( :name, required: true, placeholder: I18n.t("dashboard.summary.account_box.name").upcase, |
          -#              label: I18n.t("dashboard.summary.account_box.name"), class: "form-control" )                    |
          -#.col-sm-6
          -#  .form-group.padd20
          -#    = f.input_field( :surname, required: true, placeholder: I18n.t("dashboard.summary.account_box.surname").upcase, |
          -#              label: I18n.t("dashboard.summary.account_box.surname"), class: "form-control" )                       |
          -#.col-sm-12
          -#  .form-group.padd20
          -#    = f.input :country_code, required: true, label: I18n.t("dashboard.summary.account_box.country"), class: "form-control"
          .col-sm-6
            .form-group
              = f.input_field( :password, required: true, placeholder: I18n.t("devise.password_placeholder"), |
                        size: 20, pattern: CustomFormats::HTML_PASSWORD_PATTERN, label: false,                |
                        class: "form-control", hint: ( I18n.t("devise.password_hint",                         |
                        min_length: @minimum_password_length) if @minimum_password_length )                   |
                ) |
          .col-sm-6
            .form-group.padd20
              = f.input_field( :password_confirmation, required: true, placeholder: I18n.t("devise.retype_password_placeholder"), |
                        size: 20, pattern: CustomFormats::HTML_PASSWORD_PATTERN, label: false, class: "form-control"                                           |
                ) |
          .col-sm-12
            = f.button( :submit, I18n.t("devise.passwords.submit_change_label"), class: "button main-butt-ye-ok", style: "border-style:none;" )
      .row
        %hr/
      .row
        .col-sm-offset-1.col-sm-10
          = render( partial: "mailcoding/flash_messages" )
      .row
        = render( partial: "devise/shared/links" )

= render( partial: "mailcoding/main_footer" )
