.row#fin_highlights
  .goggles-category-gap
  %table.table
    %tr
      %td.goggles-rightalign
        = I18n.t('misc.time_standard')
      %td
        = "#{@current_time_standard ? @current_time_standard.get_timing : I18n.t('not_present') }"
      %td.goggles-rightalign
        = I18n.t('records.world_record')
      %td
        = @world_record
      %td.goggles-rightalign
        = I18n.t('records.national_record')
      %td
        = @national_record
    - if @swimmer
      %tr
        %td.goggles-rightalign
          = I18n.t('records.seasonal_best')
        %td
          = @seasonal_record
        %td.goggles-rightalign
          = I18n.t('records.personal_best')
        %td
          = @personal_best
        %td.goggles-rightalign
          = I18n.t('records.seasonal_personal_best')
        %td
          = @seasonal_best
