.row.fluid.col-xs-8.col-xs-offset-2#calculation_result
  .row.fluid.col-xs-4.col-xs-offset-1.text-right
    - if @swimmer_gender && @swimmer_category && @current_event && @current_pool
      %h3= "#{ @swimmer_gender.i18n_alternate }, #{ @swimmer_category.code }<br />#{ @current_event.i18n_description }, #{ @current_pool.i18n_description }".html_safe
    - else
      %h3 ??, ???<br />???, ???
  .row.fluid.col-xs-2.text-center
    %br
    %h3= "#{@timing.to_s}"
  .row.fluid.col-xs-1.text-center
    %br
    %h3= '=>'
  - if @current_time_standard
    .row.fluid.col-xs-3.alert-info.text-center
      %br
      %h3= format_score(@standard_points).html_safe
  - else
    .row.fluid.col-xs-3.text-center
      %br
      %h3.text-warning= t('not_computable')
.row.fluid
