-#.row.col-xs-6
-#  %p
-#    = "Swimmer training pace DAO: " < @stp.inspect
- if @stp && @stp.count_paces > 0
  .row.col-xs-12
    %p
  .row.col-xs-12
    .col-xs-12.goggles-div-centeralign#training_paces
      %h3= t('misc.training_paces_based_on_2000')
  .row.col-xs-12
    .col-xs-12.goggles-div-centeralign
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %tbody
          %tr{'class'=>'info'}
            %td.goggles-centeralign{ 'rowspan' => '2' }
              %b= t('misc.pace')
            %td.goggles-centeralign{ 'colspan' => '3' }
              %b= t('misc.distance')
            %td.goggles-centeralign{ 'rowspan' => '2' }
              %b= t('misc.distance_explanation')
  
          %tr{'class'=>'info'}
            - @stp.distances.each do |distance|
              %td.goggles-centeralign
                %b= distance          
              
          - @stp.pace_types.each do |pace_type|
            %tr
              %td.goggles-centeralign{'class'=>'info'}
                %b= pace_type
              - @stp.distances.each do |distance|
                %td.goggles-centeralign
                  = Timing.to_minute_string( @stp.get_pace( pace_type, distance, true ) )
              %td
                - tmt = TrainingModeType.find_by_code(pace_type)
                = tmt.i18n_description

  

