.row-fluid#fin_time_calculation
  .goggles-category-gap#pageTop

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    %h4
      = @tab_title

  .row-fluid
    = form_tag( :misc_fin_timing_calculation, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
      = render( partial: 'calculation_parameters' )
      = render( partial: 'score_parameters' )

  - if @timing.to_hundreds > 0
    = render( partial: 'timing_calculation_result' )
    = render( partial: 'fin_highlights' )
  - else
    = render( partial: 'timing_calculation_how_to' )

