.row-fluid#fin_score_calculation
  .goggles-category-gap#pageTop

.container-fluid
  .row-fluid.alert.alert-success.goggles-div-centeralign
    %h4
      = @tab_title

  .row-fluid
    = form_tag( :misc_fin_score_calculation, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
      = render( partial: 'calculation_parameters' )
      = render( partial: 'timing_parameters' )

  - if @standard_points.to_i >= 0
    = render( partial: 'score_calculation_result' )
    = render( partial: 'fin_highlights' )
  - else
    = render( partial: 'score_calculation_how_to' )

