.row
  .col-xs-8
    %h3= I18n.t('user_association.link_yourself_to_an_existing_swimmer')
  .col-xs-4
    = link_to( I18n.t('user_association.not_now_temporary_skip'), social_skip_associate_path(), { method: :post, confirm: I18n.t('netzke.basepack.grid_panel.are_you_sure'), disable_with: I18n.t(:please_wait), class: 'disabled' } )

.row
  %b= I18n.t('user_association.possible_swimmers')
  .row
    %i= I18n.t('user_association.click_on_yourself')
  .row
    %ul
      - @possible_swimmers.each do |swimmer|
        %li
          = link_to( swimmer.get_verbose_name, socials_associate_path( id: swimmer.id ), { method: :post, confirm: I18n.t('netzke.basepack.grid_panel.are_you_sure'), disable_with: I18n.t(:please_wait), class: 'disabled' } )
          = " (#{ swimmer.get_team_names }) "
          %i= swimmer.is_year_guessed ? I18n.t('user_association.year_guessed_from_results') : ''
    - if @possible_swimmers.length < 1
      %p{style: "text-align: center"}
        %i= t(:no_data_found)

.row
  %hr
.row
  %i= link_to( t('social.chose_manually_your_identity'), '#', onclick: "$('#manualOverride').toggle(); return false",  class: "nav_link" )
.row
  %p
.row#manualOverride(hidden='true')
  = form_tag( socials_associate_path(), class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show();") do
    .row
      = select( :swimmer, :swimmer_id, Swimmer.to_dropdown(), { prompt: I18n.t(:please_select) }, { class: 'input-lg' } )
      = submit_tag( I18n.t(:submit), data: {disable_with: I18n.t(:please_wait), class: 'btn'} )
      %span(id='loadingIndicator' hidden='true')
        = image_tag( 'indicator.gif' )

.row
  %hr
.row
  %i
    = t('social.totally_missing_swimmer')
    = mail_to( "leegaweb@gmail.com" , "Leega" , subject: "[#{GogglesCore::AppConstants::WEB_APP_NAME}] #{t('social.totally_missing_swimmer_subject')}", body: "#{t('social.totally_missing_swimmer_body')}\r\n\r\n#{t('user_association.i_am')} #{current_user.get_verbose_name}.\r\n(User ID: #{current_user.id})", encode: "javascript" )
