%h3= @title

- if admin_signed_in?
  .row-fluid
    .span2
      = 'ID:'
    .span10
      = current_user.id

.row-fluid.span12
  %h4= I18n.t('social.current_friends')
  %ul
    - @friends.each do |user|
      %li= link_to( user.get_full_name, swimmer_radio_path( user.swimmer ), {id: "pending#{user.swimmer_id}", 'data-toggle' => 'tooltip', title: I18n.t('radiography.radio_tab_tooltip')} )
    
.row-fluid.span12
  %h4= I18n.t('social.pending_invited_friends')
  %ul
    - @pending_invited.each do |user|
      %li= link_to( user.get_full_name, swimmer_radio_path( user.swimmer ), {id: "pending#{user.swimmer_id}", 'data-toggle' => 'tooltip', title: I18n.t('radiography.radio_tab_tooltip')} )

.row-fluid.span12
  %h4= I18n.t('social.to_be_accepted_friends')
  %ul
    - @pending_invited_by.each do |user|
      %li= link_to( user.get_full_name, swimmer_radio_path( user.swimmer ), {id: "waiting#{user.swimmer_id}", 'data-toggle' => 'tooltip', title: I18n.t('radiography.radio_tab_tooltip')} )

.row-fluid.span12
  %h4= I18n.t('social.invited_friends')
  %ul
    - @invited.each do |user|
      %li= link_to( user.get_full_name, swimmer_radio_path( user.swimmer ), {id: "invited#{user.swimmer_id}", 'data-toggle' => 'tooltip', title: I18n.t('radiography.radio_tab_tooltip')} )

.row-fluid.span12
  %h4= I18n.t('social.blocked_friends')
  %ul
    - @blocked_friendships.each do |friendship|
      %li= FriendshipDecorator.decorate( friendship ).to_verbose_sharing
