<!DOCTYPE html>
<html>
<head name="viewport" content="width=device-width, initial-scale=1">
    <title><%= GogglesCore::AppConstants::WEB_APP_NAME %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <script>
    // Set to the same value as the web property used on the site
    var gaProperty = 'UA-57175174-1';

    // Disable tracking if the opt-out cookie exists.
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
      window[disableStr] = true;
    }
    if (document.cookie.indexOf(disableStr + '=false') > -1) {
      window[disableStr] = false;
    }

    // Opt-out function
    function gaOptOut() {
      document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[disableStr] = true;
    }
    // Opt-in function
    function gaOptIn() {
      document.cookie = disableStr + '=false; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[disableStr] = false;
    }

    // Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', gaProperty, 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>

    <!-- Main menu section: -->
    <%= render( partial: GogglesCore::AppConstants::WEB_APP + '/main_menu' ) %>

    <!-- Body canvas: -->
    <div id="intenal-canvas" class="canvas">
        <!-- Clickable menu icon-bars: -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <!-- Main Container: -->
        <div class="container">
            <div class="col-xs-12">
                <div class="col-xs-offset-1 col-xs-10">
                    <%= render( partial: GogglesCore::AppConstants::WEB_APP + '/analytics_optout' ) %>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-offset-6 col-xs-6 text-center">
                    <%= render_navigation( renderer: :breadcrumbs, prefix: I18n.t(:you_are_here) +'&nbsp;', join_with: " &gt; " ) %>
                </div>
            </div>

            <!-- Alerts & error messages -->
            <div class="col-xs-12">
                <% if notice || flash[:info] %>
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <%= notice || flash[:info] %>
                    </div>
                <% end %>
                <% if flash[:warning] %>
                    <div class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <%= flash[:warning] %>
                    </div>
                <% end %>
                <% if alert %>
                    <div class="media alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <div class="media-left">
                            <%= image_tag( "mmh.jpg", size: '180x135' ) %>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Mmmh...</h4>
                            <%= alert %>
                        </div>
                    </div>
                <% end %>
                <% if flash[:error] %>
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Oh no!</h4>
                        <%= flash[:error] %>
                    </div>
                <% end %>
            </div>

            <!-- Actual body content -->
            <div class="col-xs-12">
                <%= yield %>
            </div>

        </div>
    </div>
</body>
</html>
