<h2>--=[  Goggles  -o^o-  ]=--</h2>

<p><%= I18n.t('devise.reset_password_greetings', email: @resource.name.present? ? @resource.name : @resource.email) %></p>

<p><%= I18n.t('devise.reset_password_text') %></p>

<p><%= link_to( I18n.t('devise.reset_password_submit'), edit_password_url(@resource, reset_password_token: @token) ) %></p>

<p><%= I18n.t('devise.reset_password_footnote1') %></p>
<p><%= I18n.t('devise.reset_password_footnote2') %></p>
<hr/>
<p><i><%= I18n.t('follow_us') %>:</i>&nbsp;<%= link_to( "@master_goggles", "https://twitter.com/master_goggles" ) %></p>
