<h2>--=[  Goggles  -o^o-  ]=--</h2>

<p><%= t('devise.reset_password_greetings').gsub('<EMAIL>', @resource.email) %></p>

<p><%= t('devise.reset_password_text') %></p>

<p><%= link_to( t('devise.reset_password_submit'), edit_password_url(@resource, reset_password_token: @resource.reset_token) ) %></p>

<p><%= t('devise.reset_password_footnote1') %></p>
<p><%= t('devise.reset_password_footnote2') %></p>
