.row
  .col-xs-2
    = link_to( t('devise.edit_user_link_to_back_title'), :back, class: 'btn btn-default' )
  .col-xs-8
    -# -- Association request link: --
    - unless current_user.has_associated_swimmer?
      = render( partial: 'goggles/associate_to_a_swimmer' )
    - else
      = render( partial: 'goggles/associated_to_a_swimmer' )
      = render( partial: 'goggles/dissociate_from_a_swimmer' )

%section
  .modal-dialog{role: "document"}
    .row.modal-content
      .modal-body
        .col-xs-offset-1.col-xs-10
          -# ORIGINAL = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f|
          -# OLD = simple_form_for( resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, defaults: {input_html: { class: 'form-control' }} ) do |f|
          = simple_form_for( resource, as: resource_name, url: registration_path(resource_name),  |
                             method: 'put', html: { class: 'form-horizontal' },                   |
                             defaults: {input_html: { class: 'form-control' }} ) do |f|           |
            - unless f.error_notification.nil?
              .form-group
                .col-xs-12
                  .alert.alert-danger
                    %i= devise_error_messages!
            .form-group
              .col-xs-12
                %h2= I18n.t("devise.passwords.change_password")
            .form-group
              .col-xs-5
                = f.input( :password, autocomplete: "off" )
              .col-xs-1
                &nbsp;
              .col-xs-5
                = f.input( :password_confirmation, label: I18n.t('activerecord.attributes.user.password_confirmation') )
              .col-xs-12
                %i= t('devise.edit_user_leave_blank_info')
            .form-group
              %hr/
            .form-group
              .col-xs-12
                %h2= t('devise.edit_user_title') + ' ' + t(resource_name).humanize
            .form-group
              .col-xs-8
                = f.input( :email, required: true, autofocus: true, placeholder: I18n.t("devise.email_placeholder"), label: I18n.t("devise.email_label") )
            - if ( devise_mapping.confirmable? && resource.pending_reconfirmation? )
              .form-group
                .col-xs-12
                  %i= t('devise.edit_user_waiting_confirm_info') + ' ' + resource.unconfirmed_email
            .form-group
              .col-xs-5
                = f.input( :current_password )
              .col-xs-12
                %i= t('devise.edit_user_need_password_info')
            .form-group
              .col-xs-5
                = f.input( :name )
            .form-group
              .col-xs-5
                = f.input( :first_name )
              .col-xs-1
                &nbsp;
              .col-xs-5
                = f.input( :last_name )
            .form-group
              .col-xs-11
                = f.input( :description )
            .form-group
              .col-xs-4
                = f.input( :year_of_birth, placeholder: Date.today.year - 50 )
            .form-group
              .col-xs-12
                = f.button( :submit, t('devise.edit_user_submit'), class: "btn btn-primary" )
        = render( "users/shared/links" )

= render( partial: 'goggles/privacy_disclaimer' )

.row.col-xs-12
  %hr/

.row.col-xs-12
  %h3= t('devise.edit_user_cancel_account_title')
  .form-group
    = t('devise.edit_user_unregister_title')
    = button_to( t('devise.edit_user_unregister_submit'), registration_path(resource_name), data: { confirm: t('devise.edit_user_unregister_confirmation') }, method: :delete, class: 'btn btn-danger' )

.row.col-xs-12
  &nbsp;

%script
  function updateDescription() {                                                |
      var new1st = $( '#user_first_name' ).val();                               |
      var cur2nd = $( '#user_last_name' ).val();                                |
      $('#user_description').val( new1st + ' ' + cur2nd );                      |
  };                                                                            |
  $('#user_first_name').change( function(){ updateDescription(); } );
  $('#user_last_name').change( function(){ updateDescription(); } );
  // Force clearing of the password fields upon page ready:
  $( function() { $( "#user_password" ).val(''); } );
