%h1 Badge#add

.form-group
  = form_tag(badge_create_path(team_id: team.id), method: :post) do
    .row-fluid
      = select_tag('season_id', options_for_select(manageable_seasons_options))
    .row-fluid
      = select_tag('swimmer_id', [[]], { id: 'swimmer_id', class: 'swimmer-select' })
    .row-fluid
      .col
        = team.get_verbose_name
      .col
        #team_affiliation_label
          = ''
    .row-fluid
      #category_label
        = ''
    .row-fluid
      = text_field_tag('number', '?')
    .row-fluid
      .col
        = check_box_tag('is_out_of_goggle_cup')
      .col
        = check_box_tag('has_to_pay_fees')
      .col
        = check_box_tag('has_to_pay_badge')
      .col
        = check_box_tag('has_to_pay_relays')
    .row-fluid
      = submit_tag('Save', class: 'btn btn-primary')
